/* screen - a02color */

.a02color {
  background-color: rgba(245,246,247,1.0);
  height: 2018px;
  position: relative;
  width: 1680px;
}
.a02color .basic-component-gui-E5nOUr {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a02color .black-color-5y3n7Q {
  background-color: var(--black);
  height: 64px;
  left: 1px;
  position: absolute;
  top: 393px;
  width: 450px;
}
.a02color .black-color-GEXPz1 {
  background-color: rgba(1,1,1,1.0);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 450px;
}
.a02color .black-color-L3g9xQ {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 91px;
}
.a02color .black-color-V3x1Ap {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 91px;
}
.a02color .btn-xpyOiF {
  background-color: rgba(0,204,153,1.0);
  border-radius: 5px;
  height: 34px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 156px;
}
.a02color .btn-xpyOiF:hover {

transform: scale(0.98);
}
.a02color .color-name-PoXcyv {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 103px;
  white-space: nowrap;
  width: 82px;
}
.a02color .color-name-jkouwd {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: 82px;
}
.a02color .color-table-C61RwL {
  background-color: transparent;
  height: 836px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a02color .color-table-r9dCDT {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a02color .color-theme-C61RwL {
  background-color: transparent;
  height: 748px;
  left: 380px;
  position: absolute;
  top: 1190px;
  width: 1240px;
}
.a02color .color-theme-xcnDRo {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a02color .contents-pagetitle-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a02color .control-active-color-5y3n7Q {
  background-color: rgba(62,145,255,1.0);
  height: 64px;
  left: 1px;
  position: absolute;
  top: 265px;
  width: 450px;
}
.a02color .control-active-color-7QWugc {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 161px;
}
.a02color .control-active-color-CiO48s {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 161px;
}
.a02color .control-active-color-GEXPz1 {
  background-color: rgba(62,145,255,1.0);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 450px;
}
.a02color .dark-theme-7hfZTd {
  background-color: transparent;
  height: 456px;
  left: 650px;
  position: absolute;
  top: 40px;
  width: 450px;
}
.a02color .dark-theme-dark-mo-8rKVOi {
  background-color: transparent;
  height: auto;
  left: 660px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 559px;
  white-space: nowrap;
  width: 500px;
}
.a02color .dark-theme-jkouwd {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: 116px;
}
.a02color .document-b-x-contents-7hfZTd {
  background-color: var(--white);
  border: 1px solid rgba(227,227,227,1.0);
  height: 536px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a02color .document-b-x-contents-8rKVOi {
  background-color: var(--white);
  border: 2px solid rgba(0,204,153,1.0);
  height: 623px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a02color .fafafa-PV8RZS {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 356px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 66px;
}
.a02color .fafafa-Vx6fot {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 356px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 66px;
}
.a02color .gnb-bar00-overview-C61RwL {
  background-color: var(--white);
  height: 1165px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a02color .gnb-logo-v1pbZ5 {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a02color .gnb-menu-h-ory-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a02color .gnb-menu0--w-selected-GoHH5t {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a02color .gnb-menu0--w-selected-v1pbZ5 {
  background-color: transparent;
  height: 300px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a02color .gnb-menu1--bar-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a02color .gnb-menu10-rch-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a02color .gnb-menu11-ast-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a02color .gnb-menu12-lds-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a02color .gnb-menu13-ols-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a02color .gnb-menu14-ion-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a02color .gnb-menu15-dge-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1037px;
  width: 320px;
}
.a02color .gnb-menu16-ail-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1080px;
  width: 320px;
}
.a02color .gnb-menu17-ste-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1123px;
  width: 320px;
}
.a02color .gnb-menu2--ons-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a02color .gnb-menu3--ers-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a02color .gnb-menu4--ogs-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a02color .gnb-menu5--ers-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a02color .gnb-menu6--sts-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a02color .gnb-menu7--ems-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a02color .gnb-menu8--ess-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a02color .gnb-menu9--ing-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a02color .gnb-submenu-normal-6SgWys {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a02color .gnb-submenu-normal-GoHH5t {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a02color .gnb-submenu-normal-h8iujd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a02color .gnb-submenu-normal-nZHcZb {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a02color .gnb-submenu-normal-qn4fcn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a02color .gnb-submenu-normal-xX7zvd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a02color .gnbmenu-1T03Ik {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-1wHgCC {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-1xVd4O {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-9aBn6o {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-A4aWxi {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-GmRWu1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-JcJ0r1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-KIQ0bB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-SW5iyq {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-TcM70s {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-Wpudo4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-XCU4Va {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-YIlPex {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-ZMDb0i {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-dqTC5Z {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-em7o3Z {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-oPdido {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-ombgQy {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-qZWCse {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-7Y1TA7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-QZBSlw {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-ZGxLuB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-mCTkDn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-qGAPkP {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-yWFfH8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gotohome-quwRun {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .group-1HrZwx {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a02color .group-U3E5ew {
  background-color: transparent;
  height: 24px;
  left: 10px;
  position: relative;
  top: 5px;
  width: 136px;
}
.a02color .guide-r9dCDT {
  background-color: transparent;
  height: 536px;
  left: 0px;
  position: absolute;
  top: 300px;
  width: 1240px;
}
.a02color .hex-PoXcyv {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
  height: auto;
  left: 396px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 103px;
  white-space: nowrap;
  width: 28px;
}
.a02color .hex-jkouwd {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
  height: auto;
  left: 395px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: 28px;
}
.a02color .history-1wMrci {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .httpswwww3school-r9dCDT {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 169px;
  white-space: nowrap;
  width: 1240px;
}
.a02color .keyscreen-xcnDRo {
  background-color: transparent;
  height: 623px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 1240px;
}
.a02color .light-theme-5y3n7Q {
  background-color: var(--white);
  border: 1px solid rgba(235,235,235,1.0);
  height: 138px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 452px;
}
.a02color .light-theme-7hfZTd {
  background-color: transparent;
  height: 456px;
  left: 139px;
  position: absolute;
  top: 39px;
  width: 452px;
}
.a02color .light-theme-8rKVOi {
  background-color: transparent;
  height: auto;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 559px;
  white-space: nowrap;
  width: 500px;
}
.a02color .light-theme-GEXPz1 {
  background-color: rgba(1,1,1,1.0);
  height: 136px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 450px;
}
.a02color .light-theme-PoXcyv {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 120px;
}
.a02color .primary-color-0uyxmL {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 111px;
}
.a02color .primary-color-5y3n7Q {
  background-color: rgba(3,129,254,1.0);
  height: 64px;
  left: 1px;
  position: absolute;
  top: 137px;
  width: 450px;
}
.a02color .primary-color-GEXPz1 {
  background-color: rgba(3,129,254,1.0);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 136px;
  width: 450px;
}
.a02color .primary-color-rxMVIS {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 111px;
}
.a02color .primary-dark-color-5y3n7Q {
  background-color: rgba(0,114,222,1.0);
  height: 64px;
  left: 1px;
  position: absolute;
  top: 201px;
  width: 450px;
}
.a02color .primary-dark-color-BrmpOg {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 155px;
}
.a02color .primary-dark-color-GEXPz1 {
  background-color: rgba(62,145,255,1.0);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 450px;
}
.a02color .primary-dark-color-bBoluU {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 155px;
}
.a02color .rectangle-W4coIQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a02color .tag-update-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 558px;
  position: absolute;
  top: 81px;
  width: 156px;
}
.a02color .text-22CVAR {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .text-AFV95m {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .text-Q0Et99 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .text-bQlLqT {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .text-g1XkCO {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .text-ohoOCM {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .there-are-dark-and-l-xcnDRo {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 83px;
  white-space: nowrap;
  width: 1240px;
}
.a02color .ubcf8-uac0-uc870ud569-r9dCDT {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 231px;
  width: 1240px;
}
.a02color .ucef4ud3ec-c740-light-r9dCDT {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 83px;
  width: 1240px;
}
.a02color .updated-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a02color .v-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a02color .version-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a02color .web-app-E5nOUr {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a02color .white-color-5y3n7Q {
  background-color: rgba(250,250,250,1.0);
  height: 64px;
  left: 1px;
  position: absolute;
  top: 329px;
  width: 450px;
}
.a02color .white-color-GEXPz1 {
  background-color: rgba(250,250,250,1.0);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 328px;
  width: 450px;
}
.a02color .white-color-PV8RZS {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 94px;
}
.a02color .white-color-Vx6fot {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 94px;
}
.a02color .x0-02-keysc--bodytext1-8rKVOi {
  background-color: transparent;
  height: 508px;
  left: 920px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a02color .x0-02-keysc--bodytext1-gEPKZq {
  background-color: transparent;
  height: 508px;
  left: 340px;
  position: absolute;
  top: 40px;
  width: 241px;
}
.a02color .x0-02-keysc-imagelist1-8rKVOi {
  background-color: transparent;
  height: 508px;
  left: 660px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a02color .x0-02-keysc-imagelist1-gEPKZq {
  background-color: transparent;
  height: 508px;
  left: 80px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a02color .x0-overview-F2Nixu {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x000000-L3g9xQ {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 336px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 87px;
}
.a02color .x0072de-BrmpOg {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 342px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 80px;
}
.a02color .x010101-V3x1Ap {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 346px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 77px;
}
.a02color .x0381fe-0uyxmL {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 347px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 75px;
}
.a02color .x0381fe-rxMVIS {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 347px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 75px;
}
.a02color .x1-app-bar-DJGm0N {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x10-search-ERHMN2 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x11-toast-oIHfxk {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x12-text-fields-DA36xP {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x13-view-controls-ky1EdQ {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x14-description-W4coIQ {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x15-notification-bad-9eERd1 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x16-thumbnail-SoaRiD {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x17-copy-paste-pQYUwC {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x2-buttons-BFdIUo {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x3-controllers-pxeSlG {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x3e91ff-7QWugc {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 353px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 69px;
}
.a02color .x3e91ff-CiO48s {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 353px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 69px;
}
.a02color .x3e91ff-bBoluU {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 353px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 69px;
}
.a02color .x4-dialogs-BvVeeB {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x5-dividers-pxNh8y {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x6-lists-dCA1nJ {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x7-no-item-P96hBM {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x8-progress-cyx5tv {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x9-scrolling-IbcISx {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid var(--gallery);
}
.border-class-2 {
  border: 1px solid var(--suva-gray);
}
.samsungonekorean-400-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-400-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-400-normal-black-18px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-indigo-16px {
  color: rgba(95,93,203,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-400-normal-masala-18px {
  color: rgba(59,59,59,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-600-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-600-normal-carnation-16px {
  color: var(--carnation);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-600-normal-white-15px {
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-700-normal-white-16px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 16px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --black: rgba(0,0,0,1.0);
  --carnation: rgba(255,90,90,1.0);
  --gallery: rgba(237,237,237,1.0);
  --gunsmoke: rgba(132,131,131,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,0.37);
  --sonic-silver: rgba(116,116,116,1.0);
  --suva-gray: rgba(135,135,135,1.0);
  --titan-white: rgba(236,240,255,1.0);
  --white: rgba(255,255,255,1.0);
}