/* screen - a02color */

.a02color {
  background-color: rgba(245,246,247,1.0);
  height: 2018px;
  overflow: hidden;
  position: relative;
  width: 1680px;
}
.a02color .basic-component-gui-E5nOUr {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a02color .black-color-a4nPQq {
  background-color: var(--black);
  height: 64px;
  left: 1px;
  position: absolute;
  top: 393px;
  width: 450px;
}
.a02color .black-color-elT29i {
  background-color: rgba(1,1,1,1.0);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 450px;
}
.a02color .black-color-jPmV27 {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 25px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 91px;
}
.a02color .black-color-tMExCO {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 25px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 91px;
}
.a02color .color-name-mvEyGv {
  background-color: transparent;
  color: var(--white);
  font-size: 16px;
  height: auto;
  left: 25px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: 82px;
}
.a02color .color-name-vxt1lC {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-size: 16px;
  height: auto;
  left: 26px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 103px;
  white-space: nowrap;
  width: 82px;
}
.a02color .color-table-VyzZeT {
  background-color: transparent;
  color: var(--black);
  font-size: 44px;
  height: auto;
  left: 0px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a02color .color-theme-zUixHA {
  background-color: transparent;
  color: var(--black);
  font-size: 44px;
  height: auto;
  left: 0px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a02color .contents-pagetitle-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a02color .control-active-color-FSjeTb {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 25px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 161px;
}
.a02color .control-active-color-a4nPQq {
  background-color: rgba(62,145,255,1.0);
  height: 64px;
  left: 1px;
  position: absolute;
  top: 265px;
  width: 450px;
}
.a02color .control-active-color-elT29i {
  background-color: rgba(62,145,255,1.0);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 450px;
}
.a02color .control-active-color-oojSi0 {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 25px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 161px;
}
.a02color .dark-theme-EJYwOj {
  background-color: transparent;
  height: 456px;
  left: 650px;
  position: absolute;
  top: 40px;
  width: 450px;
}
.a02color .dark-theme-dark-mo-MbT7Z9 {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 660px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 559px;
  white-space: nowrap;
  width: 500px;
}
.a02color .dark-theme-mvEyGv {
  background-color: transparent;
  color: var(--white);
  font-size: 22px;
  height: auto;
  left: 25px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 25px;
  white-space: nowrap;
  width: 116px;
}
.a02color .document-b-x-contents-EJYwOj {
  background-color: var(--white);
  border: 1px solid rgba(227,227,227,1.0);
  height: 536px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a02color .document-b-x-contents-MbT7Z9 {
  background-color: var(--white);
  border: 1px solid rgba(227,227,227,1.0);
  height: 623px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a02color .fafafa-YzwQRJ {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-size: 20px;
  height: auto;
  left: 356px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 66px;
}
.a02color .fafafa-ili69C {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-size: 20px;
  height: auto;
  left: 356px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 66px;
}
.a02color .gnb-bar00-overview-C61RwL {
  background-color: var(--white);
  height: 1165px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a02color .gnb-logo-v1pbZ5 {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a02color .gnb-menu-h-ory-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a02color .gnb-menu0--w-selected-GoHH5t {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a02color .gnb-menu0--w-selected-v1pbZ5 {
  background-color: transparent;
  height: 300px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a02color .gnb-menu1--bar-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a02color .gnb-menu10-rch-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a02color .gnb-menu11-ast-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a02color .gnb-menu12-lds-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a02color .gnb-menu13-ols-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a02color .gnb-menu14-ion-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a02color .gnb-menu15-dge-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1037px;
  width: 320px;
}
.a02color .gnb-menu16-ail-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1080px;
  width: 320px;
}
.a02color .gnb-menu17-ste-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1123px;
  width: 320px;
}
.a02color .gnb-menu2--ons-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a02color .gnb-menu3--ers-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a02color .gnb-menu4--ogs-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a02color .gnb-menu5--ers-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a02color .gnb-menu6--sts-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a02color .gnb-menu7--ems-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a02color .gnb-menu8--ess-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a02color .gnb-menu9--ing-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a02color .gnb-submenu-normal-6SgWys {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a02color .gnb-submenu-normal-GoHH5t {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a02color .gnb-submenu-normal-h8iujd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a02color .gnb-submenu-normal-nZHcZb {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a02color .gnb-submenu-normal-qn4fcn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a02color .gnb-submenu-normal-xX7zvd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a02color .gnbmenu-1T03Ik {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-1wHgCC {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-1xVd4O {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-9aBn6o {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-A4aWxi {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-GmRWu1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-JcJ0r1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-KIQ0bB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-SW5iyq {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-TcM70s {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-Wpudo4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-XCU4Va {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-YIlPex {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-ZMDb0i {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-dqTC5Z {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-em7o3Z {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-oPdido {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-ombgQy {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbmenu-qZWCse {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-7Y1TA7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-QZBSlw {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-ZGxLuB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-mCTkDn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-qGAPkP {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gnbsubmenu-yWFfH8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .gotohome-quwRun {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a02color .group-1-C61RwL {
  background-color: transparent;
  height: 836px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a02color .group-1HrZwx {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a02color .group-2-C61RwL {
  background-color: transparent;
  height: 748px;
  left: 380px;
  position: absolute;
  top: 1190px;
  width: 1240px;
}
.a02color .guide-VyzZeT {
  background-color: transparent;
  height: 536px;
  left: 0px;
  position: absolute;
  top: 300px;
  width: 1240px;
}
.a02color .hex-mvEyGv {
  background-color: transparent;
  color: var(--white);
  font-size: 16px;
  height: auto;
  left: 395px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: 28px;
}
.a02color .hex-vxt1lC {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-size: 16px;
  height: auto;
  left: 396px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 103px;
  white-space: nowrap;
  width: 28px;
}
.a02color .history-1wMrci {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .httpswwww3school-VyzZeT {
  background-color: transparent;
  color: rgba(95,93,203,1.0);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 169px;
  white-space: nowrap;
  width: 1240px;
}
.a02color .keyscreen-zUixHA {
  background-color: transparent;
  height: 623px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 1240px;
}
.a02color .light-theme-EJYwOj {
  background-color: transparent;
  height: 456px;
  left: 139px;
  position: absolute;
  top: 39px;
  width: 452px;
}
.a02color .light-theme-MbT7Z9 {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 80px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 559px;
  white-space: nowrap;
  width: 500px;
}
.a02color .light-theme-a4nPQq {
  background-color: var(--white);
  border: 1px solid rgba(235,235,235,1.0);
  height: 138px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 452px;
}
.a02color .light-theme-elT29i {
  background-color: rgba(1,1,1,1.0);
  height: 136px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 450px;
}
.a02color .light-theme-vxt1lC {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-size: 22px;
  height: auto;
  left: 26px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 120px;
}
.a02color .primary-color-O4j2mg {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 25px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 111px;
}
.a02color .primary-color-XQSimk {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 25px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 111px;
}
.a02color .primary-color-a4nPQq {
  background-color: rgba(3,129,254,1.0);
  height: 64px;
  left: 1px;
  position: absolute;
  top: 137px;
  width: 450px;
}
.a02color .primary-color-elT29i {
  background-color: rgba(3,129,254,1.0);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 136px;
  width: 450px;
}
.a02color .primary-dark-color-a4nPQq {
  background-color: rgba(0,114,222,1.0);
  height: 64px;
  left: 1px;
  position: absolute;
  top: 201px;
  width: 450px;
}
.a02color .primary-dark-color-bNYRew {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 25px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 155px;
}
.a02color .primary-dark-color-elT29i {
  background-color: rgba(62,145,255,1.0);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 450px;
}
.a02color .primary-dark-color-u79C2O {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 25px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 155px;
}
.a02color .rectangle-W4coIQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a02color .text-22CVAR {
  background-color: transparent;
  height: auto;
  left: 72px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .text-AFV95m {
  background-color: transparent;
  height: auto;
  left: 72px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .text-Q0Et99 {
  background-color: transparent;
  height: auto;
  left: 72px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .text-bQlLqT {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .text-g1XkCO {
  background-color: transparent;
  height: auto;
  left: 72px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .text-ohoOCM {
  background-color: transparent;
  height: auto;
  left: 72px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a02color .there-are-dark-and-l-zUixHA {
  background-color: transparent;
  color: var(--black);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 27px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 83px;
  white-space: nowrap;
  width: 1240px;
}
.a02color .ubcf8-uac0-uc870ud569-VyzZeT {
  background-color: transparent;
  color: var(--black);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 27px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 231px;
  width: 1240px;
}
.a02color .ucef4ud3ec-c740-light-VyzZeT {
  background-color: transparent;
  color: var(--black);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 27px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 83px;
  width: 1240px;
}
.a02color .web-app-E5nOUr {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a02color .white-color-YzwQRJ {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-size: 18px;
  height: auto;
  left: 25px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 94px;
}
.a02color .white-color-a4nPQq {
  background-color: rgba(250,250,250,1.0);
  height: 64px;
  left: 1px;
  position: absolute;
  top: 329px;
  width: 450px;
}
.a02color .white-color-elT29i {
  background-color: rgba(250,250,250,1.0);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 328px;
  width: 450px;
}
.a02color .white-color-ili69C {
  background-color: transparent;
  color: rgba(80,80,80,1.0);
  font-size: 18px;
  height: auto;
  left: 25px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: 94px;
}
.a02color .x0-02-keysc-der-switch-MbT7Z9 {
  background-color: transparent;
  height: 508px;
  left: 920px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a02color .x0-02-keysc-der-switch-ux3DZm {
  background-color: transparent;
  height: 508px;
  left: 340px;
  position: absolute;
  top: 40px;
  width: 241px;
}
.a02color .x0-02-keysc-ontextlist-MbT7Z9 {
  background-color: transparent;
  height: 508px;
  left: 660px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a02color .x0-02-keysc-ontextlist-ux3DZm {
  background-color: transparent;
  height: 508px;
  left: 80px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a02color .x0-overview-F2Nixu {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x000000-jPmV27 {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 336px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 87px;
}
.a02color .x0072de-bNYRew {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 342px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 80px;
}
.a02color .x010101-tMExCO {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 346px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 77px;
}
.a02color .x0381fe-O4j2mg {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 347px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 75px;
}
.a02color .x0381fe-XQSimk {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 347px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 75px;
}
.a02color .x1-app-bar-DJGm0N {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x10-search-ERHMN2 {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x11-toast-oIHfxk {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x12-text-fields-DA36xP {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x13-view-controls-ky1EdQ {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x14-description-W4coIQ {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x15-notification-bad-9eERd1 {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x16-thumbnail-SoaRiD {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x17-copy-paste-pQYUwC {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x2-buttons-BFdIUo {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x3-controllers-pxeSlG {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x3e91ff-FSjeTb {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 353px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 69px;
}
.a02color .x3e91ff-oojSi0 {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 353px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 69px;
}
.a02color .x3e91ff-u79C2O {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 353px;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
  width: 69px;
}
.a02color .x4-dialogs-BvVeeB {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x5-dividers-pxNh8y {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x6-lists-dCA1nJ {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x7-no-item-P96hBM {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x8-progress-cyx5tv {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a02color .x9-scrolling-IbcISx {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid var(--gallery);
}
.border-class-2 {
  border: 1px solid var(--suva-gray);
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
  line-height: 18px;
}
.font-class-3 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-5 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-6 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.font-class-7 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-8 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(0,0,0,0.1);
  --concrete: rgba(242,242,242,1.0);
  --gallery: rgba(237,237,237,1.0);
  --gunsmoke: rgba(132,131,131,1.0);
  --perano: rgba(176,195,247,1.0);
  --sonic-silver: rgba(116,116,116,1.0);
  --suva-gray: rgba(135,135,135,1.0);
  --tundora: rgba(69,69,69,1.0);
  --white: rgba(255,255,255,1.0);
}