/* screen - a03font */

.a03font {
  background-color: rgba(245,246,247,1.0);
  height: 1632px;
  position: relative;
  width: 1680px;
}
.a03font .basic-component-gui-E5nOUr {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a03font .bg-0TqP7X {
  background-color: var(--white);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-14L62n {
  background-color: var(--white);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-2ib3Zn {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-49OCLU {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-5zzcF4 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 425px;
}
.a03font .bg-9F3iLK {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 425px;
}
.a03font .bg-9xRS0t {
  background-color: var(--white);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-CRTb6Y {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-F0dDTR {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-Hpevez {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-Iv4xDj {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-Kc5xYg {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-L8EwCV {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 397px;
}
.a03font .bg-Nq4LZN {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-NsmHNl {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 424px;
}
.a03font .bg-Nvoh6O {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-P37MX7 {
  background-color: var(--white);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-SsirP8 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-W39OD3 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-Xqrt4S {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-dbwXwk {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-dsLciY {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-e2eovA {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-eLllxq {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-fmc9Y3 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-ipT1K0 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-jpZeU8 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 397px;
}
.a03font .bg-kaukrA {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-p3uRUQ {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-rXLzxn {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 424px;
}
.a03font .bg-rj8kSn {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-sjbLey {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-tFtI4a {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-tosFOF {
  background-color: var(--white);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-vExLql {
  background-color: var(--white);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-vORMMl {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 424px;
}
.a03font .bg-wmnR5N {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 425px;
}
.a03font .bg-woj95O {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-wxyoqh {
  background-color: var(--white);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-xCenx3 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-xGeCu9 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-xJcEGP {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-xaTTg5 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-xp9W2y {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-y09oCq {
  background-color: var(--white);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .bg-yU14vL {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 397px;
}
.a03font .bg-zLQmd5 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-zT4KDR {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .bg-zu8y3x {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .content-0TqP7X {
  background-color: transparent;
  height: 52px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 90px;
}
.a03font .content-14L62n {
  background-color: transparent;
  height: 52px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 91px;
}
.a03font .content-2ib3Zn {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-49OCLU {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-5zzcF4 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 383px;
}
.a03font .content-9F3iLK {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 383px;
}
.a03font .content-9xRS0t {
  background-color: transparent;
  height: 52px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 91px;
}
.a03font .content-CRTb6Y {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-F0dDTR {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-Hpevez {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-Iv4xDj {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-Kc5xYg {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-L0jWhx {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.a03font .content-L8EwCV {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 355px;
}
.a03font .content-Nq4LZN {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-NsmHNl {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 382px;
}
.a03font .content-Nvoh6O {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-P37MX7 {
  background-color: transparent;
  height: 52px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 91px;
}
.a03font .content-SsirP8 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-W39OD3 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-Xqrt4S {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-ZqA9x0 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: auto;
}
.a03font .content-dItsbd {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.a03font .content-dbwXwk {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-dsLciY {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-e2eovA {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-eLllxq {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-fmc9Y3 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-hVh6AE {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 21px;
  white-space: nowrap;
  width: auto;
}
.a03font .content-ipT1K0 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-jgtxB0 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: auto;
}
.a03font .content-jpZeU8 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 355px;
}
.a03font .content-kaukrA {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-p3uRUQ {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-rXLzxn {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 382px;
}
.a03font .content-rj8kSn {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-sjbLey {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-tFtI4a {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-tosFOF {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 29px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-vExLql {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 29px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-vORMMl {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 382px;
}
.a03font .content-wmnR5N {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 383px;
}
.a03font .content-woj95O {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-wxyoqh {
  background-color: transparent;
  height: 52px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 90px;
}
.a03font .content-xCenx3 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-xGeCu9 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-xJcEGP {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-xaTTg5 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-xp9W2y {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-y09oCq {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 29px;
  white-space: nowrap;
  width: 90px;
}
.a03font .content-yU14vL {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 355px;
}
.a03font .content-zLLlKO {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: auto;
}
.a03font .content-zLQmd5 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-zT4KDR {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 91px;
}
.a03font .content-zu8y3x {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}
.a03font .decimal-8DvPKR {
  background-color: transparent;
  height: 58px;
  left: 97px;
  position: absolute;
  top: 257px;
  width: 1145px;
}
.a03font .default-la-llic-greek-sNDV3G {
  background-color: transparent;
  height: 226px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 424px;
}
.a03font .font-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a03font .font-file-name-DpSB2a {
  background-color: transparent;
  height: 282px;
  left: 395px;
  position: absolute;
  top: 0px;
  width: 847px;
}
.a03font .font-table-C61RwL {
  background-color: transparent;
  height: 433px;
  left: 379px;
  position: absolute;
  top: 194px;
  width: 1242px;
}
.a03font .font-table-xfIqbv {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a03font .glyph-8DvPKR {
  background-color: transparent;
  height: 121px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1242px;
}
.a03font .gnb-bar00-overview-C61RwL {
  background-color: var(--white);
  height: 1165px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a03font .gnb-logo-v1pbZ5 {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a03font .gnb-menu-h-ory-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a03font .gnb-menu0--w-selected-GoHH5t {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a03font .gnb-menu0--w-selected-v1pbZ5 {
  background-color: transparent;
  height: 300px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a03font .gnb-menu1--bar-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a03font .gnb-menu10-rch-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a03font .gnb-menu11-ast-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a03font .gnb-menu12-lds-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a03font .gnb-menu13-ols-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a03font .gnb-menu14-ion-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a03font .gnb-menu15-dge-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1037px;
  width: 320px;
}
.a03font .gnb-menu16-ail-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1080px;
  width: 320px;
}
.a03font .gnb-menu17-ste-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1123px;
  width: 320px;
}
.a03font .gnb-menu2--ons-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a03font .gnb-menu3--ers-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a03font .gnb-menu4--ogs-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a03font .gnb-menu5--ers-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a03font .gnb-menu6--sts-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a03font .gnb-menu7--ems-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a03font .gnb-menu8--ess-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a03font .gnb-menu9--ing-normal-v1pbZ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a03font .gnb-submenu-normal-6SgWys {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a03font .gnb-submenu-normal-GoHH5t {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a03font .gnb-submenu-normal-h8iujd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a03font .gnb-submenu-normal-nZHcZb {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a03font .gnb-submenu-normal-qn4fcn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a03font .gnb-submenu-normal-xX7zvd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a03font .gnbmenu-1T03Ik {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-1wHgCC {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-1xVd4O {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-9aBn6o {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-A4aWxi {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-GmRWu1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-JcJ0r1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-KIQ0bB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-SW5iyq {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-TcM70s {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-Wpudo4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-XCU4Va {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-YIlPex {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-ZMDb0i {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-dqTC5Z {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-em7o3Z {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-oPdido {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-ombgQy {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbmenu-qZWCse {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbsubmenu-7Y1TA7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbsubmenu-QZBSlw {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbsubmenu-ZGxLuB {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbsubmenu-mCTkDn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbsubmenu-qGAPkP {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gnbsubmenu-yWFfH8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .gotohome-quwRun {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a03font .group-1HrZwx {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a03font .group-2-ViqRza {
  background-color: transparent;
  height: 530px;
  left: 0px;
  position: absolute;
  top: 242px;
  width: 1242px;
}
.a03font .group-ViqRza {
  background-color: transparent;
  height: 103px;
  left: 1px;
  position: absolute;
  top: 125px;
  width: 458px;
}
.a03font .gui-guide-font-name-DpSB2a {
  background-color: transparent;
  height: 282px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 397px;
}
.a03font .hex-8DvPKR {
  background-color: transparent;
  height: 58px;
  left: 97px;
  position: absolute;
  top: 313px;
  width: 1145px;
}
.a03font .history-1wMrci {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .httpsdevelopermo-4hC5vO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 81px;
  white-space: nowrap;
  width: auto;
}
.a03font .httpsenwikipedia-BRFaZS {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 509px;
  white-space: nowrap;
  width: auto;
}
.a03font .httpswwww3school-4hC5vO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a03font .httpswwww3school-YprhAp {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 54px;
  white-space: nowrap;
  width: auto;
}
.a03font .httpswwww3school-qAsJZK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 27px;
  white-space: nowrap;
  width: auto;
}
.a03font .korean-sNDV3G {
  background-color: transparent;
  height: 226px;
  left: 422px;
  position: absolute;
  top: 56px;
  width: 425px;
}
.a03font .name-8DvPKR {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 119px;
  width: 1242px;
}
.a03font .named-8DvPKR {
  background-color: transparent;
  height: 58px;
  left: 97px;
  position: absolute;
  top: 369px;
  width: 1145px;
}
.a03font .rectangle-1m1Exw {
  background-color: var(--sonic-silver);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 198px;
}
.a03font .rectangle-AvgNxm {
  background-color: var(--sonic-silver);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 424px;
}
.a03font .rectangle-ImIZbS {
  background-color: var(--sonic-silver);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 101px;
}
.a03font .rectangle-W4coIQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a03font .rectangle-ieJeqn {
  background-color: var(--sonic-silver);
  height: 170px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 99px;
}
.a03font .rectangle-kU7AHk {
  background-color: var(--sonic-silver);
  height: 114px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 397px;
}
.a03font .rectangle-lpC3ax {
  background-color: var(--sonic-silver);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 101px;
}
.a03font .rectangle-nLkwPs {
  background-color: var(--sonic-silver);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 847px;
}
.a03font .rectangle-ohdLBj {
  background-color: var(--sonic-silver);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 425px;
}
.a03font .rectangle-oiO0x4 {
  background-color: var(--sonic-silver);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 198px;
}
.a03font .rectangle-wmckHt {
  background-color: var(--sonic-silver);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 101px;
}
.a03font .rectangle-xVpe57 {
  background-color: var(--sonic-silver);
  height: 121px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 198px;
}
.a03font .special-characters-C61RwL {
  background-color: transparent;
  height: 773px;
  left: 379px;
  position: absolute;
  top: 786px;
  width: 1242px;
}
.a03font .special-characters-ViqRza {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a03font .table-BRFaZS {
  background-color: transparent;
  height: 427px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1242px;
}
.a03font .table-content1style-6Hjxqo {
  background-color: var(--white);
  border: 1px solid var(--gallery);
  height: 121px;
  left: 847px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-content1style-6g78Ff {
  background-color: var(--white);
  border: 1px solid var(--gallery);
  height: 121px;
  left: 196px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-content1style-BF4qra {
  background-color: var(--white);
  border: 1px solid var(--gallery);
  height: 121px;
  left: 586px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-content1style-Gt1Mbl {
  background-color: var(--white);
  border: 1px solid var(--gallery);
  height: 121px;
  left: 326px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-content1style-H4XuMj {
  background-color: var(--white);
  border: 1px solid var(--gallery);
  height: 121px;
  left: 1109px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-content1style-N5PE3f {
  background-color: var(--white);
  border: 1px solid var(--gallery);
  height: 121px;
  left: 716px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-content1style-XJqXpR {
  background-color: var(--white);
  border: 1px solid var(--gallery);
  height: 121px;
  left: 978px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-content1style-uGMQMU {
  background-color: var(--white);
  border: 1px solid var(--gallery);
  height: 121px;
  left: 456px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-2igQuC {
  background-color: var(--white);
  height: 84px;
  left: 586px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-3xG2LR {
  background-color: var(--white);
  height: 58px;
  left: 359px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-42NJsa {
  background-color: var(--white);
  height: 58px;
  left: 978px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-4JWrtO {
  background-color: var(--white);
  height: 58px;
  left: 99px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-5DAqZY {
  background-color: var(--white);
  height: 58px;
  left: 99px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-6Ebuvp {
  background-color: var(--white);
  height: 58px;
  left: 1012px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-6q2pg3 {
  background-color: var(--white);
  height: 84px;
  left: 847px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-AaBzN3 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 425px;
}
.a03font .table-gene-ight1style-BHgxwG {
  background-color: var(--white);
  height: 58px;
  left: 489px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-CBWu5S {
  background-color: var(--white);
  height: 58px;
  left: 229px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-Cu0x2H {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 224px;
  width: 397px;
}
.a03font .table-gene-ight1style-CvAVR4 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 425px;
}
.a03font .table-gene-ight1style-DEx1jy {
  background-color: var(--white);
  height: 58px;
  left: 1012px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-ETtIS6 {
  background-color: var(--white);
  height: 58px;
  left: 750px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-FDSaFL {
  background-color: var(--white);
  height: 58px;
  left: 1012px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-FVzcRg {
  background-color: var(--white);
  height: 58px;
  left: 619px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-FxIgpu {
  background-color: var(--white);
  height: 58px;
  left: 326px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-G2Mo5x {
  background-color: var(--white);
  height: 58px;
  left: 881px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-I0aXRG {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 168px;
  width: 424px;
}
.a03font .table-gene-ight1style-IUikVU {
  background-color: var(--white);
  height: 58px;
  left: 750px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-JCdBI8 {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 424px;
}
.a03font .table-gene-ight1style-JRWzmf {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 168px;
  width: 425px;
}
.a03font .table-gene-ight1style-MikMFV {
  background-color: var(--white);
  height: 58px;
  left: 359px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-OmGxMx {
  background-color: var(--white);
  height: 58px;
  left: 99px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-QIyYKz {
  background-color: var(--white);
  height: 58px;
  left: 456px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-SFy4Wl {
  background-color: var(--white);
  height: 58px;
  left: 716px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-TKZzrh {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 397px;
}
.a03font .table-gene-ight1style-TtDVug {
  background-color: var(--white);
  height: 58px;
  left: 881px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-V7qmup {
  background-color: var(--white);
  height: 58px;
  left: 881px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-VDU6Dy {
  background-color: var(--white);
  height: 84px;
  left: 456px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-W9fTb0 {
  background-color: var(--white);
  height: 58px;
  left: 359px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-X8qyTA {
  background-color: var(--white);
  height: 58px;
  left: 489px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-XRkRxV {
  background-color: var(--white);
  height: 84px;
  left: 978px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-bJE2jF {
  background-color: var(--white);
  height: 58px;
  left: 229px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-dLT3AQ {
  background-color: var(--white);
  height: 84px;
  left: 196px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-ehsxwQ {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 424px;
}
.a03font .table-gene-ight1style-fNgXNO {
  background-color: var(--white);
  height: 58px;
  left: 619px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-imgTNx {
  background-color: var(--white);
  height: 58px;
  left: 750px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-jg1wLM {
  background-color: var(--white);
  height: 84px;
  left: 1109px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-k8H2G8 {
  background-color: var(--white);
  height: 84px;
  left: 716px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-kSxxrQ {
  background-color: var(--white);
  height: 58px;
  left: 1109px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-kx3P85 {
  background-color: var(--white);
  height: 58px;
  left: 229px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-oNhbqE {
  background-color: var(--white);
  height: 58px;
  left: 586px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-qvTNIC {
  background-color: var(--white);
  height: 58px;
  left: 489px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-rMkHZE {
  background-color: var(--white);
  height: 58px;
  left: 847px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-uQyjdV {
  background-color: var(--white);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 168px;
  width: 397px;
}
.a03font .table-gene-ight1style-vhjMFr {
  background-color: var(--white);
  height: 58px;
  left: 196px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-gene-ight1style-x6Ogxt {
  background-color: var(--white);
  height: 58px;
  left: 619px;
  position: absolute;
  top: 0px;
  width: 133px;
}
.a03font .table-gene-ight1style-xECPXf {
  background-color: var(--white);
  height: 84px;
  left: 326px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.a03font .table-title1line-4JWrtO {
  background-color: var(--gunsmoke);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 101px;
}
.a03font .table-title1line-5DAqZY {
  background-color: var(--gunsmoke);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 101px;
}
.a03font .table-title1line-6g78Ff {
  background-color: var(--gunsmoke);
  height: 121px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 198px;
}
.a03font .table-title1line-8DvPKR {
  background-color: var(--gunsmoke);
  height: 170px;
  left: 0px;
  position: absolute;
  top: 257px;
  width: 99px;
}
.a03font .table-title1line-Cu0x2H {
  background-color: var(--gunsmoke);
  height: 114px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 397px;
}
.a03font .table-title1line-I0aXRG {
  background-color: var(--gunsmoke);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 424px;
}
.a03font .table-title1line-JRWzmf {
  background-color: var(--gunsmoke);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 425px;
}
.a03font .table-title1line-OmGxMx {
  background-color: var(--gunsmoke);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 101px;
}
.a03font .table-title1line-jg1wLM {
  background-color: var(--gunsmoke);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 198px;
}
.a03font .table-title1line-kSxxrQ {
  background-color: var(--gunsmoke);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 198px;
}
.a03font .table-title1line-sNDV3G {
  background-color: var(--gunsmoke);
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 847px;
}
.a03font .table-xfIqbv {
  background-color: transparent;
  height: 282px;
  left: 0px;
  position: absolute;
  top: 151px;
  width: 1242px;
}
.a03font .text-22CVAR {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a03font .text-AFV95m {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a03font .text-Q0Et99 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a03font .text-bQlLqT {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a03font .text-g1XkCO {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a03font .text-ohoOCM {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a03font .title-1m1Exw {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 156px;
}
.a03font .title-AvgNxm {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 382px;
}
.a03font .title-ImIZbS {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 59px;
}
.a03font .title-ieJeqn {
  background-color: transparent;
  height: 52px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 59px;
  width: 57px;
}
.a03font .title-kU7AHk {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 355px;
}
.a03font .title-lpC3ax {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 59px;
}
.a03font .title-nLkwPs {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 805px;
}
.a03font .title-ohdLBj {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 383px;
}
.a03font .title-oiO0x4 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
  width: 156px;
}
.a03font .title-wmckHt {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 59px;
}
.a03font .title-xVpe57 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 47px;
  white-space: nowrap;
  width: 156px;
}
.a03font .u03bc-k9CtVN {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.a03font .ubcf8-uac0-ud2b8ub294-xfIqbv {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 83px;
  width: 1240px;
}
.a03font .ud2b9uc218-uc74cuc758-ViqRza {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 83px;
  white-space: nowrap;
  width: 1240px;
}
.a03font .unicode-number-8DvPKR {
  background-color: transparent;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 201px;
  width: 1242px;
}
.a03font .web-app-E5nOUr {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x-fallback-font-a-fa-BRFaZS {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 438px;
  width: 1240px;
}
.a03font .x0-overview-F2Nixu {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x1-app-bar-DJGm0N {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x10-search-ERHMN2 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x11-toast-oIHfxk {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x12-text-fields-DA36xP {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x13-view-controls-ky1EdQ {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x14-description-W4coIQ {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x15-notification-bad-9eERd1 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x16-thumbnail-SoaRiD {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x17-copy-paste-pQYUwC {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x2-buttons-BFdIUo {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x260-6IyhG9 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: auto;
}
.a03font .x3-controllers-pxeSlG {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x4-dialogs-BvVeeB {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x5-dividers-pxNh8y {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x6-lists-dCA1nJ {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x7-no-item-P96hBM {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x8-progress-cyx5tv {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a03font .x9-scrolling-IbcISx {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid var(--gallery);
}
.border-class-2 {
  border: 1px solid var(--suva-gray);
}
.samsungonekorean-400-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-400-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-400-normal-black-18px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-indigo-16px {
  color: rgba(95,93,203,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-400-normal-masala-18px {
  color: rgba(59,59,59,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-600-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-600-normal-carnation-16px {
  color: var(--carnation);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-600-normal-white-15px {
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-700-normal-white-16px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 16px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --black: rgba(0,0,0,1.0);
  --carnation: rgba(255,90,90,1.0);
  --gallery: rgba(237,237,237,1.0);
  --gunsmoke: rgba(132,131,131,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,0.37);
  --sonic-silver: rgba(116,116,116,1.0);
  --suva-gray: rgba(135,135,135,1.0);
  --titan-white: rgba(236,240,255,1.0);
  --white: rgba(255,255,255,1.0);
}