/* screen - a112toast */

.a112toast {
  background-color: rgba(245,246,247,1.0);
  height: 1988px;
  position: relative;
  width: 1680px;
}
.a112toast .area-TOfovZ {
  background-color: transparent;
  height: 30px;
  left: 253px;
  position: absolute;
  top: 18px;
  width: 191px;
}
.a112toast .area-U9ULLP {
  background-color: transparent;
  height: 60px;
  left: 150px;
  position: absolute;
  top: 18px;
  width: 393px;
}
.a112toast .background-i8vHua {
  background-color: var(--white);
  height: 1036px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a112toast .basic-component-gui-YUMVor {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a112toast .btn-mwblLs:hover {

transform: scale(0.98);
}
.a112toast .default-TOfovZ {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: -1px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: auto;
}
.a112toast .default-YNdxQY {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 240px;
}
.a112toast .document-b-x-contents-Ax85BO {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 198px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a112toast .document-b-x-contents-EJYwOj {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 380px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a112toast .document-b-x-contents-OxEYc6 {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 254px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a112toast .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 623px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a112toast .document-b-x-contents-e95Q2C {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 472px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a112toast .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1863px;
  width: 274px;
}
.a112toast .fn-jFlQxp {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .general-Ax85BO {
  background-color: transparent;
  height: 81px;
  left: 20px;
  position: absolute;
  top: 87px;
  width: 465px;
}
.a112toast .general-OxEYc6 {
  background-color: transparent;
  height: 137px;
  left: 20px;
  position: absolute;
  top: 87px;
  width: 465px;
}
.a112toast .gnb-bar11-toast-C61RwL {
  background-color: var(--white);
  height: 1036px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a112toast .gnb-logo-i8vHua {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a112toast .gnb-menu-h-ory-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a112toast .gnb-menu0--iew-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a112toast .gnb-menu1--bar-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a112toast .gnb-menu10-rch-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a112toast .gnb-menu11-t-selected-Omp3BX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a112toast .gnb-menu11-t-selected-i8vHua {
  background-color: transparent;
  height: 171px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a112toast .gnb-menu12-lds-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a112toast .gnb-menu13-ols-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a112toast .gnb-menu14-ion-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a112toast .gnb-menu15-dge-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a112toast .gnb-menu16-ail-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a112toast .gnb-menu17-ste-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a112toast .gnb-menu2--ons-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a112toast .gnb-menu3--ers-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a112toast .gnb-menu4--s-selected-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a112toast .gnb-menu5--ers-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.a112toast .gnb-menu6--sts-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a112toast .gnb-menu7--ems-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a112toast .gnb-menu8--ess-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a112toast .gnb-menu9--ing-normal-i8vHua {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a112toast .gnb-submenu-normal-Omp3BX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a112toast .gnb-submenu-normal-QCKnbH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a112toast .gnb-submenu-normal-ntXeUg {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a112toast .gnbmenu-25mSum {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-2CZHNQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-8fdv2Q {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-C2r8Ec {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-Cb3bii {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-EOBKx4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-HfHDvL {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-O8AUpf {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-OVPlc4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-XdRf1u {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-YcXp09 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-ZYFxDL {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-gdeiLD {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-isyAQ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-kkZxtZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-ktmuxO {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-mcxrGo {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-nA82S4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbmenu-vrjoFf {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbsubmenu-INAeLF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbsubmenu-Lf5nvv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gnbsubmenu-vtC9C4 {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .gotohome-xEzJjF {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a112toast .group-1-C61RwL {
  background-color: transparent;
  height: 414px;
  left: 380px;
  position: absolute;
  top: 837px;
  width: 1240px;
}
.a112toast .group-2-C61RwL {
  background-color: transparent;
  height: 472px;
  left: 380px;
  position: absolute;
  top: 1311px;
  width: 1240px;
}
.a112toast .group-2-Y4PAPf {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 201px;
}
.a112toast .group-2ch5xs {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 144px;
}
.a112toast .group-9iyPos {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 123px;
}
.a112toast .group-SlvWAw {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 245px;
}
.a112toast .group-StiKnf {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 181px;
}
.a112toast .group-WiCXJl {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 108px;
}
.a112toast .group-nxcxW2 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 146px;
}
.a112toast .group-r8r8WA {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a112toast .group-zHUenM {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 163px;
}
.a112toast .guide-VyzZeT {
  background-color: transparent;
  height: 380px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a112toast .guide-form-ction1line-n125NN {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 112px;
  width: 201px;
}
.a112toast .guide-form-ormal1line-1RMfL3 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 181px;
}
.a112toast .guide-form-ormal1line-1rLwyb {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 84px;
  width: 144px;
}
.a112toast .guide-form-ormal1line-Ges1Uu {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 163px;
}
.a112toast .guide-form-ormal1line-GtVYOY {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 56px;
  width: 108px;
}
.a112toast .guide-form-ormal1line-n125NN {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 245px;
}
.a112toast .guide-form-ormal1line-tQon1t {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 123px;
}
.a112toast .guide-form-ormal1line-tvN9x5 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 56px;
  width: 146px;
}
.a112toast .guide-meas--spacing-1-4o4oKo {
  background-color: transparent;
  height: 18px;
  left: 223px;
  position: absolute;
  top: 0px;
  width: 27px;
}
.a112toast .guide-meas--spacing-1-5AtFe7 {
  background-color: transparent;
  height: 64px;
  left: 362px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.a112toast .guide-meas--spacing-1-9ZcgIM {
  background-color: transparent;
  height: 18px;
  left: 425px;
  position: absolute;
  top: 0px;
  width: 27px;
}
.a112toast .guide-meas--spacing-1-NPu9Rr {
  background-color: transparent;
  height: 18px;
  left: 223px;
  position: absolute;
  top: 0px;
  width: 27px;
}
.a112toast .guide-meas--spacing-1-RlRjrd {
  background-color: transparent;
  height: 20px;
  left: 9px;
  position: absolute;
  top: 0px;
  width: 27px;
}
.a112toast .guide-meas--spacing-1-amfrEq {
  background-color: transparent;
  height: 18px;
  left: 425px;
  position: absolute;
  top: 0px;
  width: 27px;
}
.a112toast .guide-meas--spacing-2-Ba9dWR {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 68px;
  width: 30px;
}
.a112toast .guide-meas--spacing-2-FbMs3c {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 68px;
  width: 30px;
}
.a112toast .guide-meas--spacing-2-GMLUy9 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 98px;
  width: 30px;
}
.a112toast .guide-meas--spacing-2-iWECKR {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 98px;
  width: 30px;
}
.a112toast .guide-meas-eft-size-1-S1DLq1 {
  background-color: transparent;
  height: 66px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 68px;
}
.a112toast .guide-measure-area-4o4oKo {
  background-color: rgba(51,204,0,0.37);
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 191px;
}
.a112toast .guide-measure-area-5AtFe7 {
  background-color: rgba(51,204,0,0.37);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a112toast .guide-measure-area-9ZcgIM {
  background-color: rgba(51,204,0,0.37);
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 393px;
}
.a112toast .guide-measure-area-Ba9dWR {
  background-color: var(--azure-radiance-2);
  height: 66px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a112toast .guide-measure-area-FbMs3c {
  background-color: var(--azure-radiance-2);
  height: 66px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a112toast .guide-measure-area-GMLUy9 {
  background-color: var(--azure-radiance-2);
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a112toast .guide-measure-area-Kxvy0R {
  background-color: rgba(255,204,0,0.37);
  height: 30px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 191px;
}
.a112toast .guide-measure-area-NPu9Rr {
  background-color: rgba(51,204,0,0.37);
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 191px;
}
.a112toast .guide-measure-area-RlRjrd {
  background-color: rgba(51,204,0,0.37);
  height: 16px;
  left: 38px;
  position: absolute;
  top: 2px;
  width: 360px;
}
.a112toast .guide-measure-area-amfrEq {
  background-color: rgba(51,204,0,0.37);
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 393px;
}
.a112toast .guide-measure-area-bqqhw7 {
  background-color: rgba(255,204,0,0.37);
  height: 60px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 393px;
}
.a112toast .guide-measure-area-iWECKR {
  background-color: var(--azure-radiance-2);
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a112toast .guide-numb-ring-shape-TOfovZ {
  background-color: transparent;
  background-image: url(../img/11-2-toast-oval-98B252FC-2B5B-4232-B2C5-3DE7DD1F8D05@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 223px;
  position: absolute;
  top: 0px;
  width: 22px;
}
.a112toast .guide-numb-ring-shape-U9ULLP {
  background-color: transparent;
  background-image: url(../img/11-2-toast-oval-98B252FC-2B5B-4232-B2C5-3DE7DD1F8D05@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 120px;
  position: absolute;
  top: 0px;
  width: 22px;
}
.a112toast .guide-numbering-icon-nLL42b {
  background-color: transparent;
  background-image: url(../img/11-2-toast-oval-98B252FC-2B5B-4232-B2C5-3DE7DD1F8D05@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a112toast .guide-numbering-type-Bz05TB {
  background-color: transparent;
  background-image: url(../img/11-2-toast-oval-EEC8FCF6-6470-4CEB-AD66-3098C9D8A57C@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 22px;
}
.a112toast .guide-numbering-type-TOfovZ {
  background-color: transparent;
  background-image: url(../img/11-2-toast-oval-EEC8FCF6-6470-4CEB-AD66-3098C9D8A57C@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 253px;
  position: absolute;
  top: 18px;
  width: 22px;
}
.a112toast .guide-numbering-type-U9ULLP {
  background-color: transparent;
  background-image: url(../img/11-2-toast-oval-EEC8FCF6-6470-4CEB-AD66-3098C9D8A57C@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 150px;
  position: absolute;
  top: 18px;
  width: 22px;
}
.a112toast .guide-property-Bz05TB {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .guide-property-nLL42b {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .guide-subject-shape-Ax85BO {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a112toast .guide-subject-type-OxEYc6 {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 121px;
}
.a112toast .guide-zUixHA {
  background-color: transparent;
  height: 472px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a112toast .history-Xvq14O {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .image-zUixHA {
  background-color: transparent;
  height: 198px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a112toast .keyscreen-C61RwL {
  background-color: transparent;
  height: 623px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a112toast .measure-1-EJYwOj {
  background-color: transparent;
  height: 20px;
  left: 100px;
  position: absolute;
  top: 274px;
  width: 398px;
}
.a112toast .measure-1-e95Q2C {
  background-color: transparent;
  height: 104px;
  left: 65px;
  position: absolute;
  top: 77px;
  width: 512px;
}
.a112toast .measure-2-EJYwOj {
  background-color: transparent;
  height: 64px;
  left: 692px;
  position: absolute;
  top: 276px;
  width: 398px;
}
.a112toast .measure-2-e95Q2C {
  background-color: transparent;
  height: 134px;
  left: 67px;
  position: absolute;
  top: 261px;
  width: 611px;
}
.a112toast .mobile-lig-st2linemax-FxO9gV {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 184px;
  width: 453px;
}
.a112toast .mobile-lig-toast1line-FxO9gV {
  background-color: transparent;
  height: 66px;
  left: 101px;
  position: absolute;
  top: 0px;
  width: 252px;
}
.a112toast .multi-line-U9ULLP {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: auto;
}
.a112toast .multi-line-YNdxQY {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 600px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 240px;
}
.a112toast .property-BT4AkI {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .property-LmFJBD {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .property-S2Tc6g {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .property-ifUm8t {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .property-ixbnEx {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .property-kDspAW {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .property-lehZd7 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .property-pzh48x {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .rectangle-3Fexln {
  background-color: var(--harlequin);
  height: 18px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-7EqANS {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a112toast .rectangle-9BhhWT {
  background-color: var(--razzle-dazzle-rose);
  height: 65px;
  left: 63px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-9ypB4K {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 30px;
}
.a112toast .rectangle-DLD4xf {
  background-color: var(--harlequin);
  height: 18px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-GpuuRm {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 17px;
  width: 9px;
}
.a112toast .rectangle-HxkDdf {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 30px;
}
.a112toast .rectangle-IPCDP5 {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 30px;
}
.a112toast .rectangle-IVzbQe {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-JEFlX9 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a112toast .rectangle-JNflnm {
  background-color: var(--harlequin);
  height: 64px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-KtvAlC {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-SuLNuH {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a112toast .rectangle-Uisxdn {
  background-color: var(--harlequin);
  height: 1px;
  left: 18px;
  position: absolute;
  top: 2px;
  width: 9px;
}
.a112toast .rectangle-XZ0Q44 {
  background-color: var(--harlequin);
  height: 15px;
  left: 22px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a112toast .rectangle-YveXnI {
  background-color: var(--harlequin);
  height: 1px;
  left: 18px;
  position: absolute;
  top: 17px;
  width: 9px;
}
.a112toast .rectangle-ZtClMt {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 29px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-asIpgx {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 30px;
}
.a112toast .rectangle-e5QQwq {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 59px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a112toast .rectangle-eAANCd {
  background-color: var(--harlequin);
  height: 18px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-iRasfY {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 59px;
  position: absolute;
  top: 65px;
  width: 9px;
}
.a112toast .rectangle-id7cGf {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a112toast .rectangle-itkY9D {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 17px;
  width: 9px;
}
.a112toast .rectangle-jwkOUR {
  background-color: var(--harlequin);
  height: 18px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-lHTmg2 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 29px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-odrKcG {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a112toast .rectangle-sbPHt6 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 29px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-tDbSik {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-wKLxRJ {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 63px;
  width: 9px;
}
.a112toast .rectangle-xissYh {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a112toast .rectangle-xxwvTa {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-yKZg4G {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 17px;
  width: 9px;
}
.a112toast .rectangle-ySeBGD {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 29px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a112toast .rectangle-zSSHzL {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 17px;
  width: 9px;
}
.a112toast .size-TOfovZ {
  background-color: transparent;
  height: 66px;
  left: 153px;
  position: absolute;
  top: 0px;
  width: 70px;
}
.a112toast .spacing-Oqq8cz {
  background-color: transparent;
  height: 18px;
  left: 150px;
  position: absolute;
  top: 0px;
  width: 461px;
}
.a112toast .spacing-PK9mWK {
  background-color: transparent;
  height: 104px;
  left: 444px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a112toast .spacing-TOfovZ {
  background-color: transparent;
  height: 104px;
  left: 223px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a112toast .spacing-U9ULLP {
  background-color: transparent;
  height: 134px;
  left: 120px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a112toast .spacing-Wg5BSr {
  background-color: transparent;
  height: 18px;
  left: 253px;
  position: absolute;
  top: 48px;
  width: 259px;
}
.a112toast .spacing-fgeeUg {
  background-color: transparent;
  height: 134px;
  left: 543px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a112toast .spacing-xaVyj8 {
  background-color: transparent;
  height: 18px;
  left: 253px;
  position: absolute;
  top: 0px;
  width: 259px;
}
.a112toast .spacing-xuHmMX {
  background-color: transparent;
  height: 18px;
  left: 150px;
  position: absolute;
  top: 78px;
  width: 461px;
}
.a112toast .symbol-EJYwOj {
  background-color: transparent;
  height: 300px;
  left: 138px;
  position: absolute;
  top: 40px;
  width: 913px;
}
.a112toast .symbol-e95Q2C {
  background-color: transparent;
  height: 280px;
  left: 187px;
  position: absolute;
  top: 77px;
  width: 453px;
}
.a112toast .text-V6KZ2v {
  background-color: transparent;
  height: 29px;
  left: 200px;
  position: absolute;
  top: 559px;
  width: 840px;
}
.a112toast .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a112toast .text-XeOqe2 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a112toast .text-dvd5vk {
  background-color: transparent;
  height: auto;
  left: 72px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a112toast .text-iWsdTG {
  background-color: transparent;
  height: auto;
  left: 72px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a112toast .type-zUixHA {
  background-color: transparent;
  height: 254px;
  left: 735px;
  position: absolute;
  top: 218px;
  width: 505px;
}
.a112toast .value-7EqANS {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 15px;
}
.a112toast .value-BT4AkI {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 98px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .value-LmFJBD {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 88px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .value-S2Tc6g {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 104px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .value-SuLNuH {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 15px;
}
.a112toast .value-YveXnI {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 15px;
}
.a112toast .value-iRasfY {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 56px;
}
.a112toast .value-id7cGf {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 15px;
}
.a112toast .value-ifUm8t {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 119px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .value-ixbnEx {
  background-color: transparent;
  height: 22px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 151px;
}
.a112toast .value-jFlQxp {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .value-kDspAW {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 80px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .value-lehZd7 {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 100px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .value-odrKcG {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 15px;
}
.a112toast .value-pzh48x {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 67px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .value-xissYh {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 23px;
  width: 17px;
}
.a112toast .web-app-YUMVor {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x-BT4AkI {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 138px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x-LmFJBD {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 140px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x-S2Tc6g {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 175px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x-ifUm8t {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 157px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x-iskNnj {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 26px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x-jFlQxp {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 145px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x-kDspAW {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 117px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x-lehZd7 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 239px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x-pzh48x {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 102px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x-wPZqx1 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 139px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x-when-keypad-is-sho-VyzZeT {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 22px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 392px;
  white-space: nowrap;
  width: 1240px;
}
.a112toast .x0-IVzbQe {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 6px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x0-Kbi8QN {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -2px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x0-KtvAlC {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 6px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x0-b14C1j {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -2px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x0-gx6mML {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x0-mi2QGP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x0-overview-uBDOEU {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x0-tDbSik {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 6px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x0-x3YkhL {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x0-xfaxGw {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x0-xxwvTa {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 6px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x0-ym6xEO {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x1-BtAEpE {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a112toast .x1-VBVYMa {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: 22px;
  left: 0px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a112toast .x1-aNNa4w {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a112toast .x1-app-bar-9debNc {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x1-iv4SKt {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: 22px;
  left: 0px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a112toast .x1-xXLTJ9 {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: 22px;
  left: 0px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a112toast .x1-xq3Xi9 {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a112toast .x10-1-persi-search-bar-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a112toast .x10-search-Fyvq7p {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x11-02-keys-112-toast1-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 70px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a112toast .x11-02-keys-112-toast1-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 330px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a112toast .x11-02-keys-112-toast2-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 670px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a112toast .x11-02-keys-112-toast2-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 930px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a112toast .x11-02-meas-112-toast1-6ZTC4n {
  background-color: transparent;
  height: 300px;
  left: 553px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a112toast .x11-02-meas-112-toast1-zYSCiV {
  background-color: transparent;
  height: 300px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a112toast .x11-toast-GmV7vX {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x12-text-fields-drZSCj {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x13-view-controls-f1Ql8o {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x14-description-JEFlX9 {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x15-notification-bad-climEC {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x16-thumbnail-xx5USs {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x17-copy-paste-BFtQVZ {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x2-buttons-EvSbjx {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x3-controllers-OIzvhn {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x4-dialogs-M4zIzZ {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x5-dividers-7oR5p4 {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x6-lists-ANHoWO {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x7-no-item-KZfUtY {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x8-progress-1WA4pY {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a112toast .x9-scrolling-QzCcmy {
  background-color: transparent;
  height: auto;
  left: 30px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid rgba(237,237,237,1.0);
}
.border-class-2 {
  border: 1px solid rgba(135,135,135,1.0);
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
  line-height: 18px;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-5 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-6 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --razzle-dazzle-rose-2: rgba(255,51,255,0.37);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}