/* screen - a13navigateupbutton */

.a13navigateupbutton {
  background-color: rgba(245,246,247,1.0);
  height: 1481px;
  position: relative;
  width: 1680px;
}
.a13navigateupbutton .background-bcR63d {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 145px;
}
.a13navigateupbutton .background-n49lac {
  background-color: var(--white);
  height: 1252px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .basic-component-gui-ldhYbP {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a13navigateupbutton .btn-mwblLs:hover {

transform: scale(0.98);
}
.a13navigateupbutton .dark-theme-PHONBE {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 392px;
  width: 465px;
}
.a13navigateupbutton .document-b-x-contents-PHONBE {
  background-color: var(--white);
  border: 1px solid rgba(227,227,227,1.0);
  height: 475px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a13navigateupbutton .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 1px solid rgba(227,227,227,1.0);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a13navigateupbutton .document-b-x-contents-hh1Mvx {
  background-color: var(--white);
  border: 1px solid rgba(227,227,227,1.0);
  height: 475px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a13navigateupbutton .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1356px;
  width: 274px;
}
.a13navigateupbutton .fn-bD4K81 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .fn-bcR63d {
  background-color: transparent;
  color: var(--alabaster);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .general-PHONBE {
  background-color: transparent;
  height: 205px;
  left: 20px;
  position: absolute;
  top: 84px;
  width: 465px;
}
.a13navigateupbutton .gnb-bar01-app-bar-C61RwL {
  background-color: var(--white);
  height: 1252px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnb-logo-n49lac {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu-h-ory-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu0--iew-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu1--r-selected-MEzfB7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu1--r-selected-n49lac {
  background-color: transparent;
  height: 387px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu10-rch-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 909px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu11-ast-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 952px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu12-lds-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 995px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu13-ols-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1038px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu14-ion-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1081px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu15-dge-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1124px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu16-ail-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1167px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu17-ste-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1210px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu2--ons-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 565px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu3--ers-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 608px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu4--ogs-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 651px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu5--ers-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 694px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu6--sts-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 737px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu7--ems-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 780px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu8--ess-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 823px;
  width: 320px;
}
.a13navigateupbutton .gnb-menu9--ing-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 866px;
  width: 320px;
}
.a13navigateupbutton .gnb-submenu-normal-9bkFVW {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 301px;
  width: 320px;
}
.a13navigateupbutton .gnb-submenu-normal-MEzfB7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 344px;
  width: 320px;
}
.a13navigateupbutton .gnb-submenu-normal-N0MpAX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a13navigateupbutton .gnb-submenu-normal-SjOTU0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a13navigateupbutton .gnb-submenu-normal-azkqix {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a13navigateupbutton .gnb-submenu-normal-em0k7T {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a13navigateupbutton .gnb-submenu-normal-p8aku3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a13navigateupbutton .gnb-submenu-normal-tjiMyq {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-0y0c3F {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-1xI3Zx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-2AGxgl {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-C6r5iD {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-CeTAaT {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-EQUPhX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-N6HvoB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-Q7xuGz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-UorLy7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-X9TZ16 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-YdxT3n {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-aJFUFN {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-gxxT3i {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-m7Rbjn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-qrx8cd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-rlzYhw {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-xCZbpw {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-xEBEPy {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbmenu-xiQpuA {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbsubmenu-62m2i9 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbsubmenu-AYLUTp {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbsubmenu-J4zbCJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbsubmenu-KhgrxG {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbsubmenu-MxIkxk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbsubmenu-NoVaqI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbsubmenu-aRTLm5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gnbsubmenu-wL3LmB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .gotohome-2JDvpS {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .group-2-IYx83W {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 110px;
}
.a13navigateupbutton .group-2-TARVEN {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 182px;
}
.a13navigateupbutton .group-2-d4VfEP {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 357px;
}
.a13navigateupbutton .group-58bbrx {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 35px;
  position: absolute;
  top: 0px;
  width: 69px;
}
.a13navigateupbutton .group-9rhlf8 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 104px;
}
.a13navigateupbutton .group-C61RwL {
  background-color: transparent;
  height: 475px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 1240px;
}
.a13navigateupbutton .group-VQsoaz {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 182px;
}
.a13navigateupbutton .group-fpaxNj {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 110px;
}
.a13navigateupbutton .group-w6TSjg {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a13navigateupbutton .guide-NOXmfT {
  background-color: transparent;
  height: 475px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a13navigateupbutton .guide-form--dark1line-wQGBJK {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 182px;
}
.a13navigateupbutton .guide-form-ction1line-SeyJsU {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 96px;
  width: 357px;
}
.a13navigateupbutton .guide-form-e-subtitle-Amwj3N {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a13navigateupbutton .guide-form-e-subtitle-SeyJsU {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 68px;
  width: 57px;
}
.a13navigateupbutton .guide-form-e-subtitle-wQGBJK {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a13navigateupbutton .guide-form-me-imagebg-VReLcc {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a13navigateupbutton .guide-form-ormal1line-SeyJsU {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 124px;
  width: 182px;
}
.a13navigateupbutton .guide-form-ormal1line-WNdNs3 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 152px;
  width: 104px;
}
.a13navigateupbutton .guide-form-ormal1line-chLwC4 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 180px;
  width: 110px;
}
.a13navigateupbutton .guide-form-rmal-light-Amwj3N {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 110px;
}
.a13navigateupbutton .guide-meas--spacing-2-HZAI7N {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 30px;
}
.a13navigateupbutton .guide-meas--spacing-2-uhib2b {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 19px;
}
.a13navigateupbutton .guide-meas-e-vertical-DJDzJC {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-199D5323-AE02-4AFE-BAC6-42C682CB758F@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 35px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a13navigateupbutton .guide-meas-e-vertical-tCorw1 {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-199D5323-AE02-4AFE-BAC6-42C682CB758F@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a13navigateupbutton .guide-meas-eft-size-1-AhVelo {
  background-color: transparent;
  height: 36px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.a13navigateupbutton .guide-meas-horizontal-AhVelo {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-57C46624-BB75-4C76-9692-D1956B5AFD5B@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 38px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a13navigateupbutton .guide-meas-horizontal-YxbBeq {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-57C46624-BB75-4C76-9692-D1956B5AFD5B@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 38px;
  position: absolute;
  top: 35px;
  width: 30px;
}
.a13navigateupbutton .guide-meas-tom-size-1-tCorw1 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 36px;
}
.a13navigateupbutton .guide-measure-area-HZAI7N {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 30px;
}
.a13navigateupbutton .guide-measure-area-UxBows {
  background-color: rgba(51,204,0,0.37);
  height: 12px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 540px;
}
.a13navigateupbutton .guide-measure-area-rixyUT {
  background-color: rgba(255,51,255,0.37);
  height: 36px;
  left: 68px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.a13navigateupbutton .guide-measure-area-uhib2b {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 19px;
}
.a13navigateupbutton .guide-numb-ring-image-XjX2Of {
  background-color: transparent;
  background-image: url(../img/1-3-navigate-up-button-oval-998626DB-F0B8-4F7B-B826-46D043993EE1@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 58px;
  position: absolute;
  top: 54px;
  width: 22px;
}
.a13navigateupbutton .guide-numbering-icon-mctxnR {
  background-color: transparent;
  background-image: url(../img/1-3-navigate-up-button-oval-998626DB-F0B8-4F7B-B826-46D043993EE1@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a13navigateupbutton .guide-property-mctxnR {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .guide-subject-image-PHONBE {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a13navigateupbutton .history-JH8G1K {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .horizon-rixyUT {
  background-color: transparent;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 68px;
}
.a13navigateupbutton .image-NOXmfT {
  background-color: transparent;
  height: 475px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a13navigateupbutton .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a13navigateupbutton .light-theme-PHONBE {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 314px;
  width: 465px;
}
.a13navigateupbutton .measure-hh1Mvx {
  background-color: transparent;
  height: 172px;
  left: 50px;
  position: absolute;
  top: 152px;
  width: 578px;
}
.a13navigateupbutton .mobile-lig-title-back-VReLcc {
  background-color: transparent;
  background-image: url(../img/1-3-navigate-up-button-mobilelightthemeicon01actionbartitleback-CE41F6F7-5B8B-4FEA-94DE-0DADD037DF70@2x.png);
  background-size: 100% 100%;
  height: 38px;
  left: 12px;
  position: absolute;
  top: 5px;
  width: 20px;
}
.a13navigateupbutton .property-0eC2VC {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .property-10cxLn {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .property-3wzf9b {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .property-58bbrx {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .property-Hgc456 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .property-MOi9lA {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .rectangle-0gVYB0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a13navigateupbutton .rectangle-2JsCBJ {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a13navigateupbutton .rectangle-2sPh6o {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 30px;
}
.a13navigateupbutton .rectangle-3BQ36w {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 36px;
}
.a13navigateupbutton .rectangle-4HEv6a {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 35px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a13navigateupbutton .rectangle-Mwta8d {
  background-color: var(--razzle-dazzle-rose);
  height: 35px;
  left: 24px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a13navigateupbutton .rectangle-Qhriyn {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 20px;
  position: absolute;
  top: 35px;
  width: 9px;
}
.a13navigateupbutton .rectangle-SbikV7 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a13navigateupbutton .rectangle-UJxIvR {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 19px;
}
.a13navigateupbutton .rectangle-kneCK3 {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a13navigateupbutton .rectangle-pTqVcy {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a13navigateupbutton .rectangle-x3ts6u {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 29px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a13navigateupbutton .rectangle-ymaYq5 {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 20px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a13navigateupbutton .size-XjX2Of {
  background-color: transparent;
  height: 110px;
  left: 0px;
  position: absolute;
  top: 62px;
  width: 104px;
}
.a13navigateupbutton .spacing-88xegd {
  background-color: transparent;
  height: 122px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 19px;
}
.a13navigateupbutton .spacing-XjX2Of {
  background-color: transparent;
  height: 12px;
  left: 38px;
  position: absolute;
  top: 122px;
  width: 540px;
}
.a13navigateupbutton .spacing-xUDzDj {
  background-color: transparent;
  height: 122px;
  left: 38px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a13navigateupbutton .symbol-hh1Mvx {
  background-color: transparent;
  background-image: url(../img/1-3-navigate-up-button-1-03measurew360mpl013navigateupbutton-45A48FEE-79A5-4B17-B969-BC8A88172041@2x.png);
  background-size: 100% 100%;
  height: 96px;
  left: 88px;
  position: absolute;
  top: 190px;
  width: 540px;
}
.a13navigateupbutton .text-P2leby {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a13navigateupbutton .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .text-X2VOUo {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a13navigateupbutton .text-XwkQxW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a13navigateupbutton .text-eByNc5 {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .text-gEesEN {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .text-lxhwOD {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a13navigateupbutton .text-s4QoFE {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a13navigateupbutton .text-sTfeh3 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a13navigateupbutton .text-sWvHHh {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .text-w7XwJI {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a13navigateupbutton .text-x5SoRQ {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a13navigateupbutton .value-0eC2VC {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 120px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .value-10cxLn {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 59px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .value-2JsCBJ {
  background-color: transparent;
  height: 18px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a13navigateupbutton .value-3wzf9b {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 253px;
}
.a13navigateupbutton .value-Hgc456 {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 65px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .value-MOi9lA {
  background-color: transparent;
  height: 22px;
  left: 31px;
  position: absolute;
  top: 0px;
  width: 151px;
}
.a13navigateupbutton .value-Qhriyn {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 17px;
}
.a13navigateupbutton .value-bD4K81 {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 29px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .value-bcR63d {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-size: 18px;
  height: auto;
  left: 32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .value-pTqVcy {
  background-color: transparent;
  height: 18px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.a13navigateupbutton .value-xHaPnc {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .vertical-rixyUT {
  background-color: transparent;
  height: 74px;
  left: 68px;
  position: absolute;
  top: 36px;
  width: 36px;
}
.a13navigateupbutton .web-app-ldhYbP {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x-0eC2VC {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 176px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x-10cxLn {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 98px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x-58bbrx {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 104px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x-5Nw7iB {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 241px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x-6lq2VU {
  background-color: transparent;
  color: var(--alabaster);
  font-size: 18px;
  height: auto;
  left: 26px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x-Hgc456 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 104px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x-S3xhJq {
  background-color: transparent;
  color: var(--alabaster);
  font-size: 18px;
  height: auto;
  left: 139px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x-bD4K81 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 247px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x-bcR63d {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 145px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x-ugPE45 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 23px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x0-XCsx77 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -2px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x0-kneCK3 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 9px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x0-mme83r {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -1px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x0-overview-F1D8mf {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x0-s5yEin {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x1-03-image-icon-back-SeyJsU {
  background-color: transparent;
  height: 48px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a13navigateupbutton .x1-03-keysc-teupbutton-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a13navigateupbutton .x1-03-keysc-teupbutton-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a13navigateupbutton .x1-3-navigate-up-bu-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a13navigateupbutton .x1-LGtOaX {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a13navigateupbutton .x1-app-bar-H4OxoO {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x1-cOfhEx {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a13navigateupbutton .x10-search-NNxG7n {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x11-toast-btzW57 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x12-text-fields-HeAxYm {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x13-view-controls-zQ2cQp {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x14-description-0gVYB0 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x15-notification-bad-PxzSYi {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x16-thumbnail-u4LPIm {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x17-copy-paste-mCSYrc {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x2-buttons-m5qrCr {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x3-controllers-dFIj0O {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x4-dialogs-E6vWNu {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x5-dividers-tpx2qA {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x6-lists-evwMFw {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x7-no-item-RNT9bT {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x8-progress-O0jxdc {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a13navigateupbutton .x9-scrolling-0yxMw6 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid rgba(237,237,237,1.0);
}
.border-class-2 {
  border: 1px solid rgba(135,135,135,1.0);
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-5 {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.font-class-6 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-7 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --alabaster: rgba(250,250,250,1.0);
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --electric-violet: rgba(102,0,255,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}