/* screen - a14moreoption */

.a14moreoption {
  background-color: rgba(245,246,247,1.0);
  height: 1537px;
  position: relative;
  width: 1680px;
}
.a14moreoption .background-bcR63d {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 145px;
}
.a14moreoption .background-n49lac {
  background-color: var(--white);
  height: 1252px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a14moreoption .basic-component-gui-ldhYbP {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a14moreoption .btn-mwblLs:hover {

transform: scale(0.98);
}
.a14moreoption .dark-theme-PHONBE {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 446px;
  width: 465px;
}
.a14moreoption .document-b-x-contents-PHONBE {
  background-color: var(--white);
  border: 1px solid rgba(227,227,227,1.0);
  height: 526px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a14moreoption .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 1px solid rgba(227,227,227,1.0);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a14moreoption .document-b-x-contents-hh1Mvx {
  background-color: var(--white);
  border: 1px solid rgba(227,227,227,1.0);
  height: 531px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a14moreoption .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1412px;
  width: 274px;
}
.a14moreoption .fn-bD4K81 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .fn-bcR63d {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .fn-dhGMk3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .fn-tHv0y4 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .general-PHONBE {
  background-color: transparent;
  height: 261px;
  left: 20px;
  position: absolute;
  top: 82px;
  width: 465px;
}
.a14moreoption .gnb-bar01-app-bar-C61RwL {
  background-color: var(--white);
  height: 1252px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnb-logo-n49lac {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnb-menu-h-ory-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a14moreoption .gnb-menu0--iew-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a14moreoption .gnb-menu1--r-selected-MEzfB7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnb-menu1--r-selected-n49lac {
  background-color: transparent;
  height: 387px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a14moreoption .gnb-menu10-rch-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 909px;
  width: 320px;
}
.a14moreoption .gnb-menu11-ast-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 952px;
  width: 320px;
}
.a14moreoption .gnb-menu12-lds-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 995px;
  width: 320px;
}
.a14moreoption .gnb-menu13-ols-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1038px;
  width: 320px;
}
.a14moreoption .gnb-menu14-ion-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1081px;
  width: 320px;
}
.a14moreoption .gnb-menu15-dge-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1124px;
  width: 320px;
}
.a14moreoption .gnb-menu16-ail-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1167px;
  width: 320px;
}
.a14moreoption .gnb-menu17-ste-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1210px;
  width: 320px;
}
.a14moreoption .gnb-menu2--ons-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 565px;
  width: 320px;
}
.a14moreoption .gnb-menu3--ers-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 608px;
  width: 320px;
}
.a14moreoption .gnb-menu4--ogs-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 651px;
  width: 320px;
}
.a14moreoption .gnb-menu5--ers-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 694px;
  width: 320px;
}
.a14moreoption .gnb-menu6--sts-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 737px;
  width: 320px;
}
.a14moreoption .gnb-menu7--ems-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 780px;
  width: 320px;
}
.a14moreoption .gnb-menu8--ess-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 823px;
  width: 320px;
}
.a14moreoption .gnb-menu9--ing-normal-n49lac {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 866px;
  width: 320px;
}
.a14moreoption .gnb-submenu-normal-9bkFVW {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 301px;
  width: 320px;
}
.a14moreoption .gnb-submenu-normal-MEzfB7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 344px;
  width: 320px;
}
.a14moreoption .gnb-submenu-normal-N0MpAX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a14moreoption .gnb-submenu-normal-SjOTU0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a14moreoption .gnb-submenu-normal-azkqix {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a14moreoption .gnb-submenu-normal-em0k7T {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a14moreoption .gnb-submenu-normal-p8aku3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a14moreoption .gnb-submenu-normal-tjiMyq {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a14moreoption .gnbmenu-0y0c3F {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-1xI3Zx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-2AGxgl {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-C6r5iD {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-CeTAaT {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-EQUPhX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-N6HvoB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-Q7xuGz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-UorLy7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-X9TZ16 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-YdxT3n {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-aJFUFN {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-gxxT3i {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-m7Rbjn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-qrx8cd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-rlzYhw {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-xCZbpw {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-xEBEPy {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbmenu-xiQpuA {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbsubmenu-62m2i9 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbsubmenu-AYLUTp {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbsubmenu-J4zbCJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbsubmenu-KhgrxG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbsubmenu-MxIkxk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbsubmenu-NoVaqI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbsubmenu-aRTLm5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gnbsubmenu-wL3LmB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .gotohome-2JDvpS {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a14moreoption .group-2-0QxsTm {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 349px;
}
.a14moreoption .group-2-IYx83W {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a14moreoption .group-2-TARVEN {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 182px;
}
.a14moreoption .group-2-d4VfEP {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 361px;
}
.a14moreoption .group-2-lw92ja {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 372px;
}
.a14moreoption .group-58bbrx {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 31px;
  position: absolute;
  top: 0px;
  width: 69px;
}
.a14moreoption .group-9rhlf8 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100px;
}
.a14moreoption .group-C61RwL {
  background-color: transparent;
  height: 531px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 1240px;
}
.a14moreoption .group-VQsoaz {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a14moreoption .group-fpaxNj {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a14moreoption .group-w6TSjg {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a14moreoption .guide-NOXmfT {
  background-color: transparent;
  height: 531px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a14moreoption .guide-form--dark1line-wQGBJK {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 182px;
}
.a14moreoption .guide-form-ction1line-SeyJsU {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 96px;
  width: 361px;
}
.a14moreoption .guide-form-ction1line-WNdNs3 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 124px;
  width: 372px;
}
.a14moreoption .guide-form-ction1line-chLwC4 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 152px;
  width: 349px;
}
.a14moreoption .guide-form-e-subtitle-Amwj3N {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a14moreoption .guide-form-e-subtitle-SeyJsU {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 68px;
  width: 57px;
}
.a14moreoption .guide-form-e-subtitle-wQGBJK {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a14moreoption .guide-form-me-imagebg-QkXzVP {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a14moreoption .guide-form-me-imagebg-fFsSFA {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a14moreoption .guide-form-me-imagebg-gORmMx {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a14moreoption .guide-form-ormal1line-SeyJsU {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 180px;
  width: 178px;
}
.a14moreoption .guide-form-ormal1line-WNdNs3 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 208px;
  width: 100px;
}
.a14moreoption .guide-form-ormal1line-chLwC4 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 236px;
  width: 106px;
}
.a14moreoption .guide-form-rmal-light-Amwj3N {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 106px;
}
.a14moreoption .guide-meas--spacing-2-5Yv3mN {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 23px;
}
.a14moreoption .guide-meas--spacing-2-7d4hga {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a14moreoption .guide-meas--spacing-2-U7TxSP {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 30px;
}
.a14moreoption .guide-meas--spacing-2-pxxw1R {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 23px;
}
.a14moreoption .guide-meas--spacing-2-ux4a38 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 23px;
}
.a14moreoption .guide-meas-e-vertical-7XFonW {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-77CD8FF3-6F9E-4528-81B7-DBFEF0496948@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 36px;
  width: 1px;
}
.a14moreoption .guide-meas-e-vertical-OgM7RX {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-77CD8FF3-6F9E-4528-81B7-DBFEF0496948@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 36px;
  width: 1px;
}
.a14moreoption .guide-meas-e-vertical-kiHGer {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-77CD8FF3-6F9E-4528-81B7-DBFEF0496948@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 35px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a14moreoption .guide-meas-e-vertical-tHsD85 {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-77CD8FF3-6F9E-4528-81B7-DBFEF0496948@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a14moreoption .guide-meas-e-vertical-xKeBQG {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-77CD8FF3-6F9E-4528-81B7-DBFEF0496948@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 35px;
  position: absolute;
  top: 36px;
  width: 1px;
}
.a14moreoption .guide-meas-e-vertical-xYMsNr {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-77CD8FF3-6F9E-4528-81B7-DBFEF0496948@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 35px;
  position: absolute;
  top: 36px;
  width: 1px;
}
.a14moreoption .guide-meas-ght-size-1-7XFonW {
  background-color: transparent;
  height: 36px;
  left: 68px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.a14moreoption .guide-meas-ght-size-1-M1w9Db {
  background-color: transparent;
  height: 36px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.a14moreoption .guide-meas-horizontal-7XFonW {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-7015009E-648E-4B79-A02E-D7B39BFB20B5@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 36px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a14moreoption .guide-meas-horizontal-GxDoQR {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-7015009E-648E-4B79-A02E-D7B39BFB20B5@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 35px;
  width: 30px;
}
.a14moreoption .guide-meas-horizontal-M1w9Db {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-7015009E-648E-4B79-A02E-D7B39BFB20B5@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a14moreoption .guide-meas-horizontal-xKeBQG {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-line-7015009E-648E-4B79-A02E-D7B39BFB20B5@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 36px;
  position: absolute;
  top: 35px;
  width: 30px;
}
.a14moreoption .guide-meas-tom-size-1-7XFonW {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 74px;
  width: 36px;
}
.a14moreoption .guide-meas-tom-size-1-OgM7RX {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 74px;
  width: 36px;
}
.a14moreoption .guide-meas-tom-size-1-tHsD85 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 36px;
}
.a14moreoption .guide-measure-area-5Yv3mN {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 31px;
  width: 23px;
}
.a14moreoption .guide-measure-area-7XFonW {
  background-color: rgba(255,51,255,0.37);
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.a14moreoption .guide-measure-area-7d4hga {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 31px;
  width: 30px;
}
.a14moreoption .guide-measure-area-OgM7RX {
  background-color: rgba(255,51,255,0.37);
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.a14moreoption .guide-measure-area-RqSloK {
  background-color: rgba(51,204,0,0.37);
  height: 12px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 540px;
}
.a14moreoption .guide-measure-area-U7TxSP {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 30px;
}
.a14moreoption .guide-measure-area-aC62jB {
  background-color: rgba(255,51,255,0.37);
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.a14moreoption .guide-measure-area-pxxw1R {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 23px;
}
.a14moreoption .guide-measure-area-ux4a38 {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 23px;
}
.a14moreoption .guide-measure-area-zjKXlx {
  background-color: rgba(51,204,0,0.37);
  height: 12px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 540px;
}
.a14moreoption .guide-numb-ring-image-OaDX24 {
  background-color: transparent;
  background-image: url(../img/1-3-navigate-up-button-oval-C33F0601-10ED-41F6-88FC-37792376EF17@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 404px;
  position: absolute;
  top: 51px;
  width: 22px;
}
.a14moreoption .guide-numb-ring-image-xMtxpl {
  background-color: transparent;
  background-image: url(../img/1-3-navigate-up-button-oval-C33F0601-10ED-41F6-88FC-37792376EF17@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 463px;
  position: absolute;
  top: 56px;
  width: 22px;
}
.a14moreoption .guide-numb-ring-image-xRkPbj {
  background-color: transparent;
  background-image: url(../img/1-3-navigate-up-button-oval-C33F0601-10ED-41F6-88FC-37792376EF17@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 463px;
  position: absolute;
  top: 51px;
  width: 22px;
}
.a14moreoption .guide-numbering-icon-mctxnR {
  background-color: transparent;
  background-image: url(../img/1-3-navigate-up-button-oval-C33F0601-10ED-41F6-88FC-37792376EF17@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a14moreoption .guide-property-mctxnR {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .guide-subject-image-PHONBE {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 30px;
  width: 135px;
}
.a14moreoption .history-JH8G1K {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .horizon-aC62jB {
  background-color: transparent;
  height: 36px;
  left: 36px;
  position: absolute;
  top: 0px;
  width: 68px;
}
.a14moreoption .image-NOXmfT {
  background-color: transparent;
  height: 526px;
  left: 735px;
  position: absolute;
  top: 2px;
  width: 505px;
}
.a14moreoption .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a14moreoption .light-theme-PHONBE {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 368px;
  width: 465px;
}
.a14moreoption .measure-1-hh1Mvx {
  background-color: transparent;
  height: 165px;
  left: 88px;
  position: absolute;
  top: 74px;
  width: 578px;
}
.a14moreoption .measure-2-hh1Mvx {
  background-color: transparent;
  height: 165px;
  left: 88px;
  position: absolute;
  top: 286px;
  width: 578px;
}
.a14moreoption .mobile-lig--title-add-QkXzVP {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-mobilelightthemeicon01actionbartitleadd-0B9FF5AF-7A0D-4001-89C9-388DAC2EC429@2x.png);
  background-size: 100% 100%;
  height: 38px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 38px;
}
.a14moreoption .mobile-lig-title-more-gORmMx {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-mobilelightthemeicon01actionbartitlemore-4EB1C600-C223-4208-A70D-05AFBCA3E205@2x.png);
  background-size: 100% 100%;
  height: 32px;
  left: 21px;
  position: absolute;
  top: 8px;
  width: 6px;
}
.a14moreoption .mobile-lig-tle-search-fFsSFA {
  background-color: transparent;
  background-image: url(../img/1-4-more-option-mobilelightthemeicon01actionbartitlesearch-56F83EA3-9E59-4A0B-A469-8BB1AF8D961A@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 36px;
}
.a14moreoption .property-0eC2VC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .property-10cxLn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .property-3wzf9b {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .property-58bbrx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .property-5AVFL8 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .property-Hgc456 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .property-MOi9lA {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .property-wWLPFb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .rectangle-0gVYB0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a14moreoption .rectangle-1C1HGP {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 23px;
}
.a14moreoption .rectangle-7NsuTr {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 29px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a14moreoption .rectangle-7PHC7y {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a14moreoption .rectangle-BxAzFx {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a14moreoption .rectangle-HFSwt3 {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 35px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a14moreoption .rectangle-KZTM67 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a14moreoption .rectangle-L5frWr {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a14moreoption .rectangle-NQvxgo {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 23px;
}
.a14moreoption .rectangle-PtnWZg {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 29px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a14moreoption .rectangle-Q0eTXx {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a14moreoption .rectangle-S2Ay84 {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a14moreoption .rectangle-SBUcK2 {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 35px;
  width: 9px;
}
.a14moreoption .rectangle-U2JFnW {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 36px;
}
.a14moreoption .rectangle-UGotKl {
  background-color: var(--razzle-dazzle-rose);
  height: 36px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a14moreoption .rectangle-Uxh3xY {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 30px;
}
.a14moreoption .rectangle-VCSNQU {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a14moreoption .rectangle-Y9Yke2 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 22px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a14moreoption .rectangle-ZF20JU {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 22px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a14moreoption .rectangle-Zv7fPk {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 30px;
}
.a14moreoption .rectangle-bZYH1z {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 35px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a14moreoption .rectangle-gcxjFi {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 23px;
}
.a14moreoption .rectangle-hIgJJr {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a14moreoption .rectangle-jvpvT3 {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 35px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a14moreoption .rectangle-mxwxoT {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 22px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a14moreoption .rectangle-oaeTmC {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 35px;
  width: 9px;
}
.a14moreoption .rectangle-s7TiJw {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 36px;
}
.a14moreoption .rectangle-t6do3b {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a14moreoption .rectangle-tqlt7Q {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a14moreoption .rectangle-xSGcmt {
  background-color: var(--razzle-dazzle-rose);
  height: 36px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a14moreoption .rectangle-zXK54T {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 36px;
}
.a14moreoption .size-OaDX24 {
  background-color: transparent;
  height: 103px;
  left: 474px;
  position: absolute;
  top: 62px;
  width: 104px;
}
.a14moreoption .size-xMtxpl {
  background-color: transparent;
  height: 103px;
  left: 474px;
  position: absolute;
  top: 62px;
  width: 104px;
}
.a14moreoption .size-xRkPbj {
  background-color: transparent;
  height: 103px;
  left: 415px;
  position: absolute;
  top: 62px;
  width: 36px;
}
.a14moreoption .spacing-OaDX24 {
  background-color: transparent;
  height: 115px;
  left: 451px;
  position: absolute;
  top: 7px;
  width: 23px;
}
.a14moreoption .spacing-fweJf5 {
  background-color: transparent;
  height: 122px;
  left: 510px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a14moreoption .spacing-kgbJHn {
  background-color: transparent;
  height: 115px;
  left: 510px;
  position: absolute;
  top: 7px;
  width: 30px;
}
.a14moreoption .spacing-oEZ8Tv {
  background-color: transparent;
  height: 122px;
  left: 392px;
  position: absolute;
  top: 0px;
  width: 23px;
}
.a14moreoption .spacing-rQtE0i {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 122px;
  width: 540px;
}
.a14moreoption .spacing-xMtxpl {
  background-color: transparent;
  height: 122px;
  left: 451px;
  position: absolute;
  top: 0px;
  width: 23px;
}
.a14moreoption .spacing-xRkPbj {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 122px;
  width: 540px;
}
.a14moreoption .symbol-hh1Mvx {
  background-color: transparent;
  height: 308px;
  left: 88px;
  position: absolute;
  top: 112px;
  width: 540px;
}
.a14moreoption .text-P2leby {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a14moreoption .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .text-X2VOUo {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a14moreoption .text-XwkQxW {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a14moreoption .text-eByNc5 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .text-gEesEN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .text-lxhwOD {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a14moreoption .text-s4QoFE {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a14moreoption .text-sTfeh3 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a14moreoption .text-sWvHHh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .text-w7XwJI {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a14moreoption .text-x5SoRQ {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a14moreoption .value-0eC2VC {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .value-10cxLn {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .value-3wzf9b {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 257px;
}
.a14moreoption .value-5AVFL8 {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 268px;
}
.a14moreoption .value-7PHC7y {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 9px;
  width: 17px;
}
.a14moreoption .value-BxAzFx {
  background-color: transparent;
  height: 18px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a14moreoption .value-Hgc456 {
  background-color: transparent;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .value-KZTM67 {
  background-color: transparent;
  height: 18px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.a14moreoption .value-MOi9lA {
  background-color: transparent;
  height: 22px;
  left: 31px;
  position: absolute;
  top: 0px;
  width: 151px;
}
.a14moreoption .value-Q0eTXx {
  background-color: transparent;
  height: 18px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.a14moreoption .value-VCSNQU {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 9px;
  width: 17px;
}
.a14moreoption .value-bD4K81 {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .value-bcR63d {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .value-dhGMk3 {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .value-hIgJJr {
  background-color: transparent;
  height: 18px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.a14moreoption .value-tHv0y4 {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .value-tqlt7Q {
  background-color: transparent;
  height: 18px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a14moreoption .value-wWLPFb {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 245px;
}
.a14moreoption .value-xHaPnc {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .vertical-aC62jB {
  background-color: transparent;
  height: 67px;
  left: 0px;
  position: absolute;
  top: 36px;
  width: 36px;
}
.a14moreoption .web-app-ldhYbP {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x-0eC2VC {
  background-color: transparent;
  height: auto;
  left: 172px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-10cxLn {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-58bbrx {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-5Nw7iB {
  background-color: transparent;
  height: auto;
  left: 245px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-6lq2VU {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-Hgc456 {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-S3xhJq {
  background-color: transparent;
  height: auto;
  left: 139px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-TCJNAx {
  background-color: transparent;
  height: auto;
  left: 256px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-bD4K81 {
  background-color: transparent;
  height: auto;
  left: 251px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-bcR63d {
  background-color: transparent;
  height: auto;
  left: 145px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-dhGMk3 {
  background-color: transparent;
  height: auto;
  left: 239px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-fDIWB3 {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-mXTmQK {
  background-color: transparent;
  height: auto;
  left: 233px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-tHv0y4 {
  background-color: transparent;
  height: auto;
  left: 262px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-ugPE45 {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x-zN5eoN {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x0-6wnHmr {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x0-Atw377 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x0-L5frWr {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x0-S2Ay84 {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x0-Z3VDIw {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x0-d03YER {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x0-dxRty9 {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x0-overview-F1D8mf {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x0-plhuKx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x0-t6do3b {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x0-ydfc4z {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x1-04-image-con-search-SeyJsU {
  background-color: transparent;
  height: 48px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a14moreoption .x1-04-image-icon-add-SeyJsU {
  background-color: transparent;
  height: 48px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a14moreoption .x1-04-image-icon-more-SeyJsU {
  background-color: transparent;
  height: 48px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a14moreoption .x1-04-keysc-moreoption-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a14moreoption .x1-04-keysc-moreoption-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a14moreoption .x1-04-measu-oreoption1-2LAIZG {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 540px;
}
.a14moreoption .x1-04-measu-oreoption2-2LAIZG {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 540px;
}
.a14moreoption .x1-4-more-option-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a14moreoption .x1-LGtOaX {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a14moreoption .x1-app-bar-H4OxoO {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x1-oUxxpf {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a14moreoption .x1-wDLxGK {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a14moreoption .x1-whixS7 {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a14moreoption .x10-search-NNxG7n {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x11-toast-btzW57 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x12-text-fields-HeAxYm {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x13-view-controls-zQ2cQp {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x14-description-0gVYB0 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x15-notification-bad-PxzSYi {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x16-thumbnail-u4LPIm {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x17-copy-paste-mCSYrc {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x2-buttons-m5qrCr {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x3-controllers-dFIj0O {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x4-dialogs-E6vWNu {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x5-dividers-tpx2qA {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x6-lists-evwMFw {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x7-no-item-RNT9bT {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x8-progress-O0jxdc {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a14moreoption .x9-scrolling-0yxMw6 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid rgba(237,237,237,1.0);
}
.border-class-2 {
  border: 1px solid rgba(135,135,135,1.0);
}
.samsungonekorean-400-normal-alabaster-18px {
  color: var(--alabaster);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-400-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-400-normal-masala-18px {
  color: var(--masala);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-periwinkle-18px {
  color: rgba(193,206,254,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-royal-blue-18px {
  color: var(--royal-blue);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-700-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-700-normal-black-22px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
}
.samsungonekorean-700-normal-white-14px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 14px;
}
:root {
  --alabaster: rgba(250,250,250,1.0);
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --electric-violet: rgba(102,0,255,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}