/* screen - a152numberbadgelist */

.a152numberbadgelist {
  background-color: rgba(245,246,247,1.0);
  height: 1246px;
  position: relative;
  width: 1680px;
}
.a152numberbadgelist .basic-component-gui-lDbNsr {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .basic-s6hWYB {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 10px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .btn-Zv4iyN {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 148px;
}
.a152numberbadgelist .btn-Zv4iyN:hover {

transform: scale(0.98);
}
.a152numberbadgelist .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a152numberbadgelist .btn-mwblLs:hover {

transform: scale(0.98);
}
.a152numberbadgelist .btn-xpyOiF {
  background-color: rgba(0,204,153,1.0);
  border-radius: 5px;
  height: 34px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 138px;
}
.a152numberbadgelist .btn-xpyOiF:hover {

transform: scale(0.98);
}
.a152numberbadgelist .document-b-x-contents-2VetDf {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 240px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a152numberbadgelist .document-b-x-contents-FCEjnK {
  background-color: var(--white);
  border: 2px solid rgba(0,204,153,1.0);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a152numberbadgelist .document-b-x-contents-IxcxUg {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 142px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a152numberbadgelist .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1121px;
  width: 274px;
}
.a152numberbadgelist .gnb-bar15--ion-badges-C61RwL {
  background-color: var(--white);
  height: 1079px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnb-logo-LV6ZKX {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu-h-ory-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu0--iew-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu1--bar-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu10-rch-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu11-ast-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu12-lds-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu13-ols-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu14-ion-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu15-e-selected-LV6ZKX {
  background-color: transparent;
  height: 214px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu15-e-selected-WuIvQn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu16-ail-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu17-ste-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1037px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu2--ons-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu3--ers-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu4--s-selected-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu5--ers-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu6--sts-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu7--ems-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu8--ess-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a152numberbadgelist .gnb-menu9--ing-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a152numberbadgelist .gnb-submenu-normal-5UST8l {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a152numberbadgelist .gnb-submenu-normal-BxGSxM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a152numberbadgelist .gnb-submenu-normal-Onr4nE {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a152numberbadgelist .gnb-submenu-normal-WuIvQn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-3jiOQQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-89L1oB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-BZiooI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-GWVmQ0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-JKx7n8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-Kwv2aD {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-LY7dWx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-MIjR6K {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-OuDd27 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-XEwOB7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-b76m45 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-d9RB5Y {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-dfXGzJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-j7mRFF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-kx7JuQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-mYhx21 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-uNdkGg {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-xIkEOr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbmenu-xWUlx5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbsubmenu-9EYIoe {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbsubmenu-HylrNs {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbsubmenu-IRdxc6 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gnbsubmenu-cSlG3J {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .gotohome-0cSJsc {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .group-S5wSx5 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a152numberbadgelist .group-U3E5ew {
  background-color: transparent;
  height: 24px;
  left: 10px;
  position: relative;
  top: 5px;
  width: 118px;
}
.a152numberbadgelist .group-aMkfnr {
  background-color: transparent;
  height: 240px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 1240px;
}
.a152numberbadgelist .group-z9r67O {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a152numberbadgelist .guide-form-ormal1line-IxcxUg {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 87px;
  width: 178px;
}
.a152numberbadgelist .guide-g4DvKg {
  background-color: transparent;
  height: 240px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a152numberbadgelist .guide-meas--spacing-2-R8GmB9 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 24px;
}
.a152numberbadgelist .guide-meas--spacing-2-xgC8jL {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 36px;
}
.a152numberbadgelist .guide-meas-e-vertical-0aeqT6 {
  background-color: transparent;
  background-image: url(../img/15-2-number-badgelist-line-55E8282A-0550-4194-AFE6-529D032440DA@2x.png);
  background-size: 100% 100%;
  height: 28px;
  left: 25px;
  position: absolute;
  top: 32px;
  width: 1px;
}
.a152numberbadgelist .guide-meas-e-vertical-f7Nwl1 {
  background-color: transparent;
  background-image: url(../img/15-2-number-badgelist-line-55E8282A-0550-4194-AFE6-529D032440DA@2x.png);
  background-size: 100% 100%;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 1px;
}
.a152numberbadgelist .guide-meas-ght-size-1-f7Nwl1 {
  background-color: transparent;
  height: 26px;
  left: 64px;
  position: absolute;
  top: 60px;
  width: 26px;
}
.a152numberbadgelist .guide-meas-horizontal-0aeqT6 {
  background-color: transparent;
  background-image: url(../img/15-2-number-badgelist-line-F3D58FD5-1CB2-4DDC-8338-EA417841A6AC@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 26px;
  position: absolute;
  top: 85px;
  width: 36px;
}
.a152numberbadgelist .guide-meas-horizontal-f7Nwl1 {
  background-color: transparent;
  background-image: url(../img/15-2-number-badgelist-line-F3D58FD5-1CB2-4DDC-8338-EA417841A6AC@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 26px;
  position: absolute;
  top: 60px;
  width: 36px;
}
.a152numberbadgelist .guide-meas-top-size-1-f7Nwl1 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.a152numberbadgelist .guide-measure-area-R8GmB9 {
  background-color: rgba(0,153,255,0.37);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a152numberbadgelist .guide-measure-area-f7Nwl1 {
  background-color: var(--razzle-dazzle-rose-2);
  height: 26px;
  left: 0px;
  position: absolute;
  top: 60px;
  width: 26px;
}
.a152numberbadgelist .guide-measure-area-xgC8jL {
  background-color: rgba(0,153,255,0.37);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.a152numberbadgelist .guide-numb-ring-shape-uxEryx {
  background-color: transparent;
  background-image: url(../img/15-1-number-badgeapp-bar-oval-5A4BB069-A68B-4C7B-9CA4-5191C803C2D9@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 49px;
  width: 22px;
}
.a152numberbadgelist .guide-numbering-icon-MKrx2Z {
  background-color: transparent;
  background-image: url(../img/15-1-number-badgeapp-bar-oval-5A4BB069-A68B-4C7B-9CA4-5191C803C2D9@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a152numberbadgelist .guide-property-MKrx2Z {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .guide-subject-shape-IxcxUg {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a152numberbadgelist .history-bC8BY6 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .keyscreens-aMkfnr {
  background-color: transparent;
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a152numberbadgelist .measure-2VetDf {
  background-color: transparent;
  height: 154px;
  left: 526px;
  position: absolute;
  top: 46px;
  width: 118px;
}
.a152numberbadgelist .number-badge-list-C61RwL {
  background-color: transparent;
  height: 847px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a152numberbadgelist .page-name-s6hWYB {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 48px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .property-U6cv9q {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .rectangle-0UplDB {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 25px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a152numberbadgelist .rectangle-2qyDoH {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a152numberbadgelist .rectangle-4oL5TQ {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 24px;
}
.a152numberbadgelist .rectangle-63F3cr {
  background-color: var(--razzle-dazzle-rose);
  height: 26px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a152numberbadgelist .rectangle-7PVTWW {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 36px;
}
.a152numberbadgelist .rectangle-AE1INF {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a152numberbadgelist .rectangle-DaraOy {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 23px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a152numberbadgelist .rectangle-EXRGwH {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a152numberbadgelist .rectangle-G5jxxk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a152numberbadgelist .rectangle-YwFRvm {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 25px;
  width: 9px;
}
.a152numberbadgelist .rectangle-cWyxBy {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a152numberbadgelist .rectangle-cgszLe {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 35px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a152numberbadgelist .rectangle-nEfjpf {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 26px;
}
.a152numberbadgelist .shape-g4DvKg {
  background-color: transparent;
  height: 142px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a152numberbadgelist .size-uxEryx {
  background-color: transparent;
  height: 86px;
  left: 24px;
  position: absolute;
  top: 0px;
  width: 94px;
}
.a152numberbadgelist .spacing-3x7Zpy {
  background-color: transparent;
  height: 122px;
  left: 50px;
  position: absolute;
  top: 32px;
  width: 36px;
}
.a152numberbadgelist .spacing-uxEryx {
  background-color: transparent;
  height: 122px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 24px;
}
.a152numberbadgelist .symbol-2VetDf {
  background-color: transparent;
  background-image: url(../img/15-2-number-badgelist-15-02measurew360mpl152numberbadgelist-9C5A2CAA-C07F-4AD9-A12F-105A8FD38815@2x.png);
  background-size: 100% 100%;
  height: 84px;
  left: 72px;
  position: absolute;
  top: 78px;
  width: 540px;
}
.a152numberbadgelist .tag-refer-FCEjnK {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 104px;
  width: 148px;
}
.a152numberbadgelist .tag-update-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 1194px;
  position: absolute;
  top: 81px;
  width: 138px;
}
.a152numberbadgelist .text-3GjPvu {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a152numberbadgelist .text-3dbF9p {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a152numberbadgelist .text-MpJWK4 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a152numberbadgelist .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .text-g5IeH1 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a152numberbadgelist .updated-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 42px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .v-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .value-AE1INF {
  background-color: transparent;
  height: 18px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 14px;
}
.a152numberbadgelist .value-EXRGwH {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 4px;
  width: 14px;
}
.a152numberbadgelist .value-U6cv9q {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 116px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .version-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 13px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .web-app-lDbNsr {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x-U6cv9q {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 172px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .x0-2qyDoH {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 9px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .x0-7om5Gb {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .x0-QzxJSB {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -1px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .x0-cWyxBy {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 4px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .x0-overview-nArk66 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x1-BKUhAt {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a152numberbadgelist .x1-CithCF {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a152numberbadgelist .x1-app-bar-XWVevb {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x10-search-xF3Iav {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x11-toast-soJeAh {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x12-text-fields-ZLEfMr {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x13-view-controls-gRJBid {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x14-description-G5jxxk {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x15-02-keys-badge-list-FCEjnK {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a152numberbadgelist .x15-02-keys-badge-list-apFW5F {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a152numberbadgelist .x15-2-numbe-badge-list-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a152numberbadgelist .x15-notification-bad-Ni6qxb {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x16-thumbnail-6HF8OG {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x17-copy-paste-lgIE5R {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x2-buttons-ALeFg1 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x3-controllers-7W07bU {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x4-dialogs-KFxzhP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x5-dividers-QGIQGE {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x6-lists-tX89s4 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x7-no-item-HpEEGW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x8-progress-71BTkx {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a152numberbadgelist .x9-scrolling-HGhyhP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-5 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-6 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --electric-violet: rgba(102,0,255,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --razzle-dazzle-rose-2: rgba(255,51,255,0.37);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}