/* screen - a153numberbadgemaintab */

.a153numberbadgemaintab {
  background-color: rgba(245,246,247,1.0);
  height: 1370px;
  overflow: hidden;
  position: relative;
  width: 1680px;
}
.a153numberbadgemaintab .basic-component-gui-lDbNsr {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .basic-xisH65 {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 10px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .btn-mk7px9 {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 153px;
}
.a153numberbadgemaintab .btn-mk7px9:hover {

transform: scale(0.98);
}
.a153numberbadgemaintab .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a153numberbadgemaintab .btn-mwblLs:hover {

transform: scale(0.98);
}
.a153numberbadgemaintab .document-b-x-contents-14CLNb {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a153numberbadgemaintab .document-b-x-contents-kC0a3B {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 364px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a153numberbadgemaintab .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1245px;
  width: 274px;
}
.a153numberbadgemaintab .four-1eFsUG {
  background-color: transparent;
  color: var(--gunsmoke);
  font-size: 45px;
  height: 66px;
  left: 768px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 186px;
}
.a153numberbadgemaintab .four-e9ISJp {
  background-color: transparent;
  color: var(--gunsmoke);
  font-size: 45px;
  height: 66px;
  left: 768px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 186px;
}
.a153numberbadgemaintab .gnb-bar15--ion-badges-C61RwL {
  background-color: var(--white);
  height: 1079px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-logo-LV6ZKX {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu-h-ory-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu0--iew-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu1--bar-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu10-rch-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu11-ast-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu12-lds-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu13-ols-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu14-ion-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu15-e-selected-LV6ZKX {
  background-color: transparent;
  height: 214px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu15-e-selected-WuIvQn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu16-ail-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu17-ste-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1037px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu2--ons-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu3--ers-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu4--s-selected-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu5--ers-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu6--sts-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu7--ems-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu8--ess-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-menu9--ing-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-submenu-normal-5UST8l {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-submenu-normal-BxGSxM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-submenu-normal-Onr4nE {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a153numberbadgemaintab .gnb-submenu-normal-WuIvQn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-3jiOQQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-89L1oB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-BZiooI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-GWVmQ0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-JKx7n8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-Kwv2aD {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-LY7dWx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-MIjR6K {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-OuDd27 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-XEwOB7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-b76m45 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-d9RB5Y {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-dfXGzJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-j7mRFF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-kx7JuQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-mYhx21 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-uNdkGg {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-xIkEOr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbmenu-xWUlx5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbsubmenu-9EYIoe {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbsubmenu-HylrNs {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbsubmenu-IRdxc6 {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gnbsubmenu-cSlG3J {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .gotohome-0cSJsc {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .group-fR4dg2 {
  background-color: transparent;
  height: 364px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 1240px;
}
.a153numberbadgemaintab .group-pJuCKV {
  background-color: transparent;
  height: 66px;
  left: 48px;
  position: relative;
  top: 51px;
  width: 984px;
}
.a153numberbadgemaintab .group-x7yQGQ {
  background-color: transparent;
  height: 66px;
  left: 48px;
  position: relative;
  top: 51px;
  width: 984px;
}
.a153numberbadgemaintab .group-z9r67O {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a153numberbadgemaintab .guide-gttqMF {
  background-color: transparent;
  height: 364px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1240px;
}
.a153numberbadgemaintab .guide-meas--spacing-1-7TMAai {
  background-color: transparent;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 0px;
  width: 21px;
}
.a153numberbadgemaintab .guide-meas--spacing-1-HQEhpQ {
  background-color: transparent;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 0px;
  width: 21px;
}
.a153numberbadgemaintab .guide-meas--spacing-2-fCc0Zl {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 11px;
}
.a153numberbadgemaintab .guide-meas--spacing-2-xyHAgs {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 11px;
}
.a153numberbadgemaintab .guide-meas-e-vertical-cQOYb1 {
  background-color: transparent;
  background-image: url(../img/15-3-number-badgemain-tab-line-308A257A-1F82-4241-9259-48FAF85B5031@2x.png);
  background-size: 100% 100%;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 1px;
}
.a153numberbadgemaintab .guide-meas-e-vertical-npb7EK {
  background-color: transparent;
  background-image: url(../img/15-3-number-badgemain-tab-line-308A257A-1F82-4241-9259-48FAF85B5031@2x.png);
  background-size: 100% 100%;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 1px;
}
.a153numberbadgemaintab .guide-meas-e-vertical-onKPxj {
  background-color: transparent;
  background-image: url(../img/15-3-number-badgemain-tab-line-308A257A-1F82-4241-9259-48FAF85B5031@2x.png);
  background-size: 100% 100%;
  height: 96px;
  left: 92px;
  position: absolute;
  top: 51px;
  width: 1px;
}
.a153numberbadgemaintab .guide-meas-e-vertical-qTj7WW {
  background-color: transparent;
  background-image: url(../img/15-3-number-badgemain-tab-line-308A257A-1F82-4241-9259-48FAF85B5031@2x.png);
  background-size: 100% 100%;
  height: 96px;
  left: 50px;
  position: absolute;
  top: 51px;
  width: 1px;
}
.a153numberbadgemaintab .guide-meas-ght-size-1-cQOYb1 {
  background-color: transparent;
  height: 51px;
  left: 119px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.a153numberbadgemaintab .guide-meas-ght-size-1-npb7EK {
  background-color: transparent;
  height: 51px;
  left: 119px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.a153numberbadgemaintab .guide-meas-horizontal-cQOYb1 {
  background-color: transparent;
  background-image: url(../img/15-3-number-badgemain-tab-line-02F26463-4FF8-4524-A81C-1C8589C1AA82@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 93px;
  position: absolute;
  top: 50px;
  width: 24px;
}
.a153numberbadgemaintab .guide-meas-horizontal-npb7EK {
  background-color: transparent;
  background-image: url(../img/15-3-number-badgemain-tab-line-2D3345BB-B398-40AB-AF6F-3D62C895D7E6@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 51px;
  position: absolute;
  top: 50px;
  width: 66px;
}
.a153numberbadgemaintab .guide-meas-horizontal-onKPxj {
  background-color: transparent;
  background-image: url(../img/15-3-number-badgemain-tab-line-02F26463-4FF8-4524-A81C-1C8589C1AA82@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a153numberbadgemaintab .guide-meas-horizontal-qTj7WW {
  background-color: transparent;
  background-image: url(../img/15-3-number-badgemain-tab-line-2D3345BB-B398-40AB-AF6F-3D62C895D7E6@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 51px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.a153numberbadgemaintab .guide-meas-tom-size-1-cQOYb1 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 149px;
  width: 93px;
}
.a153numberbadgemaintab .guide-meas-tom-size-1-npb7EK {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 149px;
  width: 51px;
}
.a153numberbadgemaintab .guide-measure-area-3YRmS1 {
  background-color: rgba(255,204,0,0.37);
  height: 66px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}
.a153numberbadgemaintab .guide-measure-area-6rAxTm {
  background-color: rgba(255,204,0,0.37);
  height: 66px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}
.a153numberbadgemaintab .guide-measure-area-7TMAai {
  background-color: rgba(51,204,0,0.37);
  height: 18px;
  left: 28px;
  position: absolute;
  top: 1px;
  width: 138px;
}
.a153numberbadgemaintab .guide-measure-area-HQEhpQ {
  background-color: rgba(51,204,0,0.37);
  height: 18px;
  left: 28px;
  position: absolute;
  top: 1px;
  width: 138px;
}
.a153numberbadgemaintab .guide-measure-area-cQOYb1 {
  background-color: var(--razzle-dazzle-rose-2);
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 93px;
}
.a153numberbadgemaintab .guide-measure-area-fCc0Zl {
  background-color: rgba(0,153,255,0.37);
  height: 180px;
  left: 1px;
  position: absolute;
  top: 38px;
  width: 9px;
}
.a153numberbadgemaintab .guide-measure-area-npb7EK {
  background-color: var(--razzle-dazzle-rose-2);
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 51px;
}
.a153numberbadgemaintab .guide-measure-area-xyHAgs {
  background-color: rgba(0,153,255,0.37);
  height: 180px;
  left: 1px;
  position: absolute;
  top: 38px;
  width: 9px;
}
.a153numberbadgemaintab .history-bC8BY6 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .keyscreen-fR4dg2 {
  background-color: transparent;
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a153numberbadgemaintab .max-mFbSqb {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 118px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 91px;
}
.a153numberbadgemaintab .measure-1-kC0a3B {
  background-color: transparent;
  height: 283px;
  left: 236px;
  position: absolute;
  top: 40px;
  width: 324px;
}
.a153numberbadgemaintab .measure-2-kC0a3B {
  background-color: transparent;
  height: 283px;
  left: 680px;
  position: absolute;
  top: 40px;
  width: 324px;
}
.a153numberbadgemaintab .min-zxkqZT {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 104px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 91px;
}
.a153numberbadgemaintab .mobile-lig--numbermax-UDrsWp {
  background-color: rgba(245,106,13,1.0);
  border-radius: 25.5px;
  height: 51px;
  left: 147px;
  position: absolute;
  top: 33px;
  width: 93px;
}
.a153numberbadgemaintab .mobile-lig--numbermin-eskbpN {
  background-color: transparent;
  background-image: url(../img/15-3-number-badgemain-tab-bg-6BE32AB3-7ED1-4DA0-8905-5D6E4D0DFE1C@2x.png);
  background-size: 100% 100%;
  height: 51px;
  left: 147px;
  position: absolute;
  top: 33px;
  width: 51px;
}
.a153numberbadgemaintab .mobile-lig-intab-line-UDrsWp {
  background-color: rgba(0,114,222,1.0);
  border-radius: 3.8px;
  height: 8px;
  left: -720px;
  position: absolute;
  top: 121px;
  width: 156px;
}
.a153numberbadgemaintab .mobile-lig-intab-line-eskbpN {
  background-color: rgba(0,114,222,1.0);
  border-radius: 3.8px;
  height: 8px;
  left: -720px;
  position: absolute;
  top: 121px;
  width: 156px;
}
.a153numberbadgemaintab .mobile-lig-intab4item-UDrsWp {
  background-color: rgba(242,242,242,1.0);
  height: 180px;
  left: -816px;
  position: absolute;
  top: 0px;
  width: 1080px;
}
.a153numberbadgemaintab .mobile-lig-intab4item-eskbpN {
  background-color: rgba(242,242,242,1.0);
  height: 180px;
  left: -816px;
  position: absolute;
  top: 0px;
  width: 1080px;
}
.a153numberbadgemaintab .noone-1eFsUG {
  background-color: transparent;
  color: rgba(0,114,222,1.0);
  font-size: 45px;
  height: 66px;
  left: 30px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 186px;
}
.a153numberbadgemaintab .noone-e9ISJp {
  background-color: transparent;
  color: rgba(0,114,222,1.0);
  font-size: 45px;
  height: 66px;
  left: 30px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 186px;
}
.a153numberbadgemaintab .number-bad-e-main-tab-C61RwL {
  background-color: transparent;
  height: 971px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a153numberbadgemaintab .page-name-xisH65 {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 48px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .rectangle-0n6I2h {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 9px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-3FRXxf {
  background-color: var(--harlequin);
  height: 1px;
  left: 12px;
  position: absolute;
  top: 1px;
  width: 9px;
}
.a153numberbadgemaintab .rectangle-4fYSEE {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-BHzhRo {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 50px;
  width: 9px;
}
.a153numberbadgemaintab .rectangle-EQxtyu {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 93px;
}
.a153numberbadgemaintab .rectangle-G5jxxk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a153numberbadgemaintab .rectangle-GDFMTJ {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 9px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-GhUCD1 {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a153numberbadgemaintab .rectangle-JgRRXK {
  background-color: var(--razzle-dazzle-rose);
  height: 51px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-KIkus5 {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 51px;
}
.a153numberbadgemaintab .rectangle-Nxe77g {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 1px;
  position: absolute;
  top: 24px;
  width: 9px;
}
.a153numberbadgemaintab .rectangle-OzxWVj {
  background-color: var(--harlequin);
  height: 17px;
  left: 16px;
  position: absolute;
  top: 1px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-SssxQN {
  background-color: var(--harlequin);
  height: 17px;
  left: 16px;
  position: absolute;
  top: 1px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-Tzj0kh {
  background-color: var(--razzle-dazzle-rose);
  height: 51px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-UabzeN {
  background-color: var(--harlequin);
  height: 1px;
  left: 12px;
  position: absolute;
  top: 18px;
  width: 9px;
}
.a153numberbadgemaintab .rectangle-X1MeJy {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a153numberbadgemaintab .rectangle-XVIZkE {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-ZHDjoB {
  background-color: var(--harlequin);
  height: 1px;
  left: 12px;
  position: absolute;
  top: 18px;
  width: 9px;
}
.a153numberbadgemaintab .rectangle-dB2KCv {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 1px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-hwc72b {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 1px;
  position: absolute;
  top: 24px;
  width: 9px;
}
.a153numberbadgemaintab .rectangle-nV5eyK {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 1px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-sE6J5r {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 50px;
  width: 9px;
}
.a153numberbadgemaintab .rectangle-xCBFXO {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-xrVk6x {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a153numberbadgemaintab .rectangle-zrex2v {
  background-color: var(--harlequin);
  height: 1px;
  left: 12px;
  position: absolute;
  top: 1px;
  width: 9px;
}
.a153numberbadgemaintab .size-mFbSqb {
  background-color: transparent;
  height: 178px;
  left: 175px;
  position: absolute;
  top: 105px;
  width: 149px;
}
.a153numberbadgemaintab .size-zxkqZT {
  background-color: transparent;
  height: 178px;
  left: 175px;
  position: absolute;
  top: 105px;
  width: 149px;
}
.a153numberbadgemaintab .spacing-jRvzUJ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 166px;
}
.a153numberbadgemaintab .spacing-mFbSqb {
  background-color: transparent;
  height: 218px;
  left: 165px;
  position: absolute;
  top: 34px;
  width: 11px;
}
.a153numberbadgemaintab .spacing-no4xzm {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 166px;
}
.a153numberbadgemaintab .spacing-zxkqZT {
  background-color: transparent;
  height: 218px;
  left: 165px;
  position: absolute;
  top: 34px;
  width: 11px;
}
.a153numberbadgemaintab .symbol-kC0a3B {
  background-color: transparent;
  height: 180px;
  left: 264px;
  position: absolute;
  top: 112px;
  width: 708px;
}
.a153numberbadgemaintab .tag-refer-14CLNb {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 478px;
  width: 153px;
}
.a153numberbadgemaintab .text-3GjPvu {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a153numberbadgemaintab .text-3dbF9p {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a153numberbadgemaintab .text-MpJWK4 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a153numberbadgemaintab .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .text-g5IeH1 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a153numberbadgemaintab .text-mFbSqb {
  background-color: transparent;
  height: 66px;
  left: 74px;
  position: absolute;
  top: 123px;
  width: 92px;
}
.a153numberbadgemaintab .text-zxkqZT {
  background-color: transparent;
  height: 66px;
  left: 74px;
  position: absolute;
  top: 123px;
  width: 92px;
}
.a153numberbadgemaintab .three-1eFsUG {
  background-color: transparent;
  color: var(--gunsmoke);
  font-size: 45px;
  height: 66px;
  left: 522px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 186px;
}
.a153numberbadgemaintab .three-e9ISJp {
  background-color: transparent;
  color: var(--gunsmoke);
  font-size: 45px;
  height: 66px;
  left: 522px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 186px;
}
.a153numberbadgemaintab .two-1eFsUG {
  background-color: transparent;
  color: var(--gunsmoke);
  font-size: 45px;
  height: 66px;
  left: 276px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 186px;
}
.a153numberbadgemaintab .two-e9ISJp {
  background-color: transparent;
  color: var(--gunsmoke);
  font-size: 45px;
  height: 66px;
  left: 276px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 186px;
}
.a153numberbadgemaintab .value-GhUCD1 {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 16px;
  width: 14px;
}
.a153numberbadgemaintab .value-UabzeN {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}
.a153numberbadgemaintab .value-X1MeJy {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 16px;
  width: 14px;
}
.a153numberbadgemaintab .value-ZHDjoB {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}
.a153numberbadgemaintab .value-dB2KCv {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.a153numberbadgemaintab .value-nV5eyK {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.a153numberbadgemaintab .web-app-lDbNsr {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x0-94oSPx {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -1px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .x0-XVIZkE {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 38px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .x0-bFSlUW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -2px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .x0-jIvlTx {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .x0-lJKGvm {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -2px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .x0-overview-nArk66 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x0-tLxyBM {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .x0-xCBFXO {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 18px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .x0-zORuik {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -1px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .x1-app-bar-XWVevb {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x10-search-xF3Iav {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x11-toast-soJeAh {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x12-text-fields-ZLEfMr {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x13-view-controls-gRJBid {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x14-description-G5jxxk {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x15-03-keys-ge-maintab-14CLNb {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a153numberbadgemaintab .x15-03-keys-ge-maintab-FoDh4y {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a153numberbadgemaintab .x15-03-meas-aintab-max-hOb9Te {
  background-color: transparent;
  height: 180px;
  left: 444px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 264px;
}
.a153numberbadgemaintab .x15-03-meas-aintab-min-hOb9Te {
  background-color: transparent;
  height: 180px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 264px;
}
.a153numberbadgemaintab .x15-3-numbe-e-main-tab-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .x15-notification-bad-Ni6qxb {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x16-thumbnail-6HF8OG {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x17-copy-paste-lgIE5R {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x2-buttons-ALeFg1 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x3-controllers-7W07bU {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x4-dialogs-KFxzhP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x5-dividers-QGIQGE {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x6-lists-tX89s4 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x7-no-item-HpEEGW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x8-progress-71BTkx {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x9-LzbQeE {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 33px;
  height: auto;
  left: 15px;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a153numberbadgemaintab .x9-scrolling-HGhyhP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a153numberbadgemaintab .x999-qCTyx4 {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 33px;
  height: auto;
  left: 8px;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-5 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-6 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.font-class-7 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-8 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --gunsmoke: rgba(133,133,133,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --razzle-dazzle-rose-2: rgba(255,51,255,0.37);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}