/* screen - a154dotbadge */

.a154dotbadge {
  background-color: rgba(245,246,247,1.0);
  height: 3467px;
  position: relative;
  width: 1680px;
}
.a154dotbadge .action-button-y8OoE0 {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 60px;
  white-space: nowrap;
  width: 100px;
}
.a154dotbadge .aligntext-padding-kzZVDJ {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .aligntext-padding-mvtXmU {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .basic-TpxkGy {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .basic-XAfDTx {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .basic-component-gui-lDbNsr {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .btn-As1Q4K {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 146px;
}
.a154dotbadge .btn-As1Q4K:hover {

transform: scale(0.98);
}
.a154dotbadge .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a154dotbadge .btn-mwblLs:hover {

transform: scale(0.98);
}
.a154dotbadge .btn-xUrgTH {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 153px;
}
.a154dotbadge .btn-xUrgTH:hover {

transform: scale(0.98);
}
.a154dotbadge .comment-1PmS6p {
  background-color: transparent;
  color: rgba(145,145,145,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 125px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .comment-Ulzgbt {
  background-color: transparent;
  color: rgba(145,145,145,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 125px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .document-b-x-contents-9A1efW {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 277px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a154dotbadge .document-b-x-contents-BOm5x4 {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 298px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a154dotbadge .document-b-x-contents-C4xdeV {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a154dotbadge .document-b-x-contents-EwHbVn {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a154dotbadge .document-b-x-contents-FIQalu {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 277px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a154dotbadge .document-b-x-contents-w6VGCy {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 282px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a154dotbadge .document-b-x-contents-xLPU5A {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 284px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a154dotbadge .document-b-x-contents-y8OoE0 {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 288px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a154dotbadge .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 3342px;
  width: 274px;
}
.a154dotbadge .dont-C61RwL {
  background-color: transparent;
  height: 366px;
  left: 380px;
  position: absolute;
  top: 616px;
  width: 1240px;
}
.a154dotbadge .dont-sDxc4B {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a154dotbadge .dot-GUXlqo {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 305px;
}
.a154dotbadge .general-9A1efW {
  background-color: transparent;
  height: 165px;
  left: 20px;
  position: absolute;
  top: 82px;
  width: 465px;
}
.a154dotbadge .general-FIQalu {
  background-color: transparent;
  height: 165px;
  left: 20px;
  position: absolute;
  top: 82px;
  width: 465px;
}
.a154dotbadge .gnb-bar15--ion-badges-C61RwL {
  background-color: var(--white);
  height: 1079px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnb-logo-LV6ZKX {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnb-menu-h-ory-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a154dotbadge .gnb-menu0--iew-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a154dotbadge .gnb-menu1--bar-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a154dotbadge .gnb-menu10-rch-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a154dotbadge .gnb-menu11-ast-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a154dotbadge .gnb-menu12-lds-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a154dotbadge .gnb-menu13-ols-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a154dotbadge .gnb-menu14-ion-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a154dotbadge .gnb-menu15-e-selected-LV6ZKX {
  background-color: transparent;
  height: 214px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a154dotbadge .gnb-menu15-e-selected-WuIvQn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnb-menu16-ail-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a154dotbadge .gnb-menu17-ste-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1037px;
  width: 320px;
}
.a154dotbadge .gnb-menu2--ons-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a154dotbadge .gnb-menu3--ers-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a154dotbadge .gnb-menu4--s-selected-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a154dotbadge .gnb-menu5--ers-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.a154dotbadge .gnb-menu6--sts-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a154dotbadge .gnb-menu7--ems-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a154dotbadge .gnb-menu8--ess-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a154dotbadge .gnb-menu9--ing-normal-LV6ZKX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a154dotbadge .gnb-submenu-normal-5UST8l {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a154dotbadge .gnb-submenu-normal-BxGSxM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a154dotbadge .gnb-submenu-normal-Onr4nE {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a154dotbadge .gnb-submenu-normal-WuIvQn {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a154dotbadge .gnbmenu-3jiOQQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-89L1oB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-BZiooI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-GWVmQ0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-JKx7n8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-Kwv2aD {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-LY7dWx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-MIjR6K {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-OuDd27 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-XEwOB7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-b76m45 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-d9RB5Y {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-dfXGzJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-j7mRFF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-kx7JuQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-mYhx21 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-uNdkGg {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-xIkEOr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbmenu-xWUlx5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbsubmenu-9EYIoe {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbsubmenu-HylrNs {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbsubmenu-IRdxc6 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gnbsubmenu-cSlG3J {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .gotohome-0cSJsc {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a154dotbadge .group-CqZ2nQ {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}
.a154dotbadge .group-HLThvW {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 96px;
}
.a154dotbadge .group-JR5xIp {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 269px;
}
.a154dotbadge .group-Ogo5Dy {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a154dotbadge .group-aGccv4 {
  background-color: transparent;
  height: 282px;
  left: 0px;
  position: absolute;
  top: 690px;
  width: 1240px;
}
.a154dotbadge .group-fgqZb4 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 96px;
}
.a154dotbadge .group-iupX2u {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 269px;
}
.a154dotbadge .group-j4M0BC {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}
.a154dotbadge .group-nQYsp4 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a154dotbadge .group-o87HzG {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 90px;
}
.a154dotbadge .group-vvNctP {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 90px;
}
.a154dotbadge .group-x2Iu5R {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a154dotbadge .group-xFyy21 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 96px;
}
.a154dotbadge .group-xjtG1U {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a154dotbadge .group-yFwoCn {
  background-color: transparent;
  height: 298px;
  left: 0px;
  position: absolute;
  top: 690px;
  width: 1240px;
}
.a154dotbadge .group-z9r67O {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a154dotbadge .guide-5rg0cA {
  background-color: transparent;
  height: 298px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a154dotbadge .guide-aXpphF {
  background-color: transparent;
  height: 282px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a154dotbadge .guide-form-al1linecmt-Oecv9l {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 3px;
  width: 269px;
}
.a154dotbadge .guide-form-al1linecmt-xxu8xK {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 3px;
  width: 269px;
}
.a154dotbadge .guide-form-ormal1line-87aUxv {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 143px;
  width: 178px;
}
.a154dotbadge .guide-form-ormal1line-8Kj7Tq {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 115px;
  width: 96px;
}
.a154dotbadge .guide-form-ormal1line-F6KxNu {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 31px;
  width: 162px;
}
.a154dotbadge .guide-form-ormal1line-Oecv9l {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 115px;
  width: 96px;
}
.a154dotbadge .guide-form-ormal1line-OxErLh {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 87px;
  width: 90px;
}
.a154dotbadge .guide-form-ormal1line-QAayaS {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 143px;
  width: 178px;
}
.a154dotbadge .guide-form-ormal1line-qdxEYL {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 87px;
  width: 90px;
}
.a154dotbadge .guide-form-ormal1line-uPXT1A {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 31px;
  width: 162px;
}
.a154dotbadge .guide-form-ormal1line-xQ0QRt {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 59px;
  width: 178px;
}
.a154dotbadge .guide-form-ormal1line-xRFGmV {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 59px;
  width: 178px;
}
.a154dotbadge .guide-form-ormal1line-xxu8xK {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 115px;
  width: 96px;
}
.a154dotbadge .guide-meas--spacing-2-DDsDfc {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 110px;
  width: 9px;
}
.a154dotbadge .guide-meas--spacing-2-WTKSLz {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 131px;
  width: 9px;
}
.a154dotbadge .guide-meas-e-vertical-UMUoX9 {
  background-color: transparent;
  background-image: url(../img/15-4-dot-badge-line-0E392CE9-6D0B-4BBE-A6C7-7C15D8312E65@2x.png);
  background-size: 100% 100%;
  height: 21px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 1px;
}
.a154dotbadge .guide-meas-e-vertical-WbDcSf {
  background-color: transparent;
  background-image: url(../img/15-4-dot-badge-line-0E392CE9-6D0B-4BBE-A6C7-7C15D8312E65@2x.png);
  background-size: 100% 100%;
  height: 21px;
  left: 29px;
  position: absolute;
  top: 38px;
  width: 1px;
}
.a154dotbadge .guide-meas-ght-size-1-UMUoX9 {
  background-color: transparent;
  height: 30px;
  left: 77px;
  position: absolute;
  top: 59px;
  width: 28px;
}
.a154dotbadge .guide-meas-ght-size-1-mHqyJ8 {
  background-color: transparent;
  height: 30px;
  left: 32px;
  position: absolute;
  top: 38px;
  width: 28px;
}
.a154dotbadge .guide-meas-horizontal-UMUoX9 {
  background-color: transparent;
  background-image: url(../img/15-4-dot-badge-line-E96A67D3-65E0-42F8-95EC-0BA8D5ECBBF4@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 30px;
  position: absolute;
  top: 88px;
  width: 45px;
}
.a154dotbadge .guide-meas-horizontal-kzZVDJ {
  background-color: transparent;
  height: 3px;
  left: 128px;
  position: absolute;
  top: 8px;
  width: 177px;
}
.a154dotbadge .guide-meas-horizontal-mvtXmU {
  background-color: transparent;
  background-image: url(../img/15-4-dot-badge-line-A5CFFF67-7E21-4349-B38C-422CC29C09C0.png);
  background-size: 100% 100%;
  height: 1px;
  left: 127px;
  position: absolute;
  top: 10px;
  width: 324px;
}
.a154dotbadge .guide-meas-top-size-1-UMUoX9 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 30px;
}
.a154dotbadge .guide-meas-top-size-1-mHqyJ8 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 30px;
}
.a154dotbadge .guide-measure-area-DDsDfc {
  background-color: rgba(0,153,255,0.37);
  height: 108px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a154dotbadge .guide-measure-area-QjzyYk {
  background-color: rgba(255,0,204,0.37);
  height: 18px;
  left: 6px;
  position: absolute;
  top: 44px;
  width: 18px;
}
.a154dotbadge .guide-measure-area-TxMVwH {
  background-color: rgba(255,204,0,0.37);
  height: 67px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 88px;
}
.a154dotbadge .guide-measure-area-UMUoX9 {
  background-color: var(--razzle-dazzle-rose-2);
  height: 30px;
  left: 0px;
  position: absolute;
  top: 59px;
  width: 30px;
}
.a154dotbadge .guide-measure-area-WTKSLz {
  background-color: rgba(0,153,255,0.37);
  height: 129px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a154dotbadge .guide-measure-area-WbDcSf {
  background-color: var(--razzle-dazzle-rose-2);
  height: 20px;
  left: 5px;
  position: absolute;
  top: 64px;
  width: 20px;
}
.a154dotbadge .guide-measure-area-aAIS95 {
  background-color: rgba(255,204,0,0.37);
  height: 66px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 141px;
}
.a154dotbadge .guide-measure-area-mHqyJ8 {
  background-color: var(--razzle-dazzle-rose-2);
  height: 30px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 30px;
}
.a154dotbadge .guide-numb-ring-shape-3FcwGQ {
  background-color: transparent;
  background-image: url(../img/15-1-number-badgeapp-bar-oval-6669FCBC-867A-46FC-96C4-4AFF6B80B537@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 372px;
  position: absolute;
  top: 58px;
  width: 22px;
}
.a154dotbadge .guide-numb-ring-shape-GUXlqo {
  background-color: transparent;
  background-image: url(../img/15-1-number-badgeapp-bar-oval-6669FCBC-867A-46FC-96C4-4AFF6B80B537@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 268px;
  position: absolute;
  top: 39px;
  width: 22px;
}
.a154dotbadge .guide-numbering-icon-CEu0az {
  background-color: transparent;
  background-image: url(../img/15-1-number-badgeapp-bar-oval-6669FCBC-867A-46FC-96C4-4AFF6B80B537@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a154dotbadge .guide-numbering-icon-MDBUCN {
  background-color: transparent;
  background-image: url(../img/15-1-number-badgeapp-bar-oval-6669FCBC-867A-46FC-96C4-4AFF6B80B537@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a154dotbadge .guide-property-CEu0az {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .guide-property-MDBUCN {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .guide-subject-shape-9A1efW {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 30px;
  width: 135px;
}
.a154dotbadge .guide-subject-shape-FIQalu {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 30px;
  width: 135px;
}
.a154dotbadge .history-bC8BY6 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .keyscreen-BfxrgE {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: absolute;
  top: 78px;
  width: 1240px;
}
.a154dotbadge .keyscreen-aGccv4 {
  background-color: transparent;
  height: 587px;
  left: 0px;
  position: absolute;
  top: 83px;
  width: 1240px;
}
.a154dotbadge .keyscreen-sDxc4B {
  background-color: transparent;
  height: 288px;
  left: 0px;
  position: absolute;
  top: 78px;
  width: 1240px;
}
.a154dotbadge .keyscreens-yFwoCn {
  background-color: transparent;
  height: 587px;
  left: 0px;
  position: absolute;
  top: 83px;
  width: 1240px;
}
.a154dotbadge .line-3FcwGQ {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 49px;
  width: 451px;
}
.a154dotbadge .line-87Kv5i {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 177px;
}
.a154dotbadge .list-y8OoE0 {
  background-color: transparent;
  height: auto;
  left: 364px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 212px;
  white-space: nowrap;
  width: 91px;
}
.a154dotbadge .main-tab-yFwoCn {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a154dotbadge .maintab-C61RwL {
  background-color: transparent;
  height: 988px;
  left: 380px;
  position: absolute;
  top: 1142px;
  width: 1240px;
}
.a154dotbadge .measure-BOm5x4 {
  background-color: transparent;
  height: 205px;
  left: 98px;
  position: absolute;
  top: 72px;
  width: 335px;
}
.a154dotbadge .measure-w6VGCy {
  background-color: transparent;
  height: 184px;
  left: 62px;
  position: absolute;
  top: 49px;
  width: 481px;
}
.a154dotbadge .n-ubc43uc9-c5d0-ud55c-BfxrgE {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 36px;
  white-space: nowrap;
  width: 1240px;
}
.a154dotbadge .page-name-TpxkGy {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .page-name-XAfDTx {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .possible-BfxrgE {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a154dotbadge .possible-C61RwL {
  background-color: transparent;
  height: 362px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a154dotbadge .property-1PmS6p {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-3xD95b {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-D4mYTW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-HTj0Gy {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-PGoNAc {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-PS7FPF {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-Px3AmY {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-TxqWw2 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-Ulzgbt {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-Vp8GkC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-XPUNnZ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-dwBCA7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .property-xxQL02 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .rectangle-00E54u {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 30px;
}
.a154dotbadge .rectangle-7xzZNV {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 9px;
}
.a154dotbadge .rectangle-9Ytnbf {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 29px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a154dotbadge .rectangle-AkPN9U {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a154dotbadge .rectangle-CeDm29 {
  background-color: var(--razzle-dazzle-rose);
  height: 30px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a154dotbadge .rectangle-CuUEt6 {
  background-color: var(--razzle-dazzle-rose);
  height: 30px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a154dotbadge .rectangle-G5jxxk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a154dotbadge .rectangle-Ls9ahp {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a154dotbadge .rectangle-OFVm35 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 8px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a154dotbadge .rectangle-PcC3Pw {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a154dotbadge .rectangle-QPJBYI {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 29px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a154dotbadge .rectangle-WF90yr {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 9px;
}
.a154dotbadge .rectangle-YuIMNW {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 9px;
}
.a154dotbadge .rectangle-iAMttL {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 9px;
}
.a154dotbadge .rectangle-n7bd6p {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 30px;
}
.a154dotbadge .rectangle-raxHdJ {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 8px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a154dotbadge .rectangle-tmkQcD {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a154dotbadge .rectangle-wl8IF4 {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a154dotbadge .rectangle-xxpafJ {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a154dotbadge .shape-5rg0cA {
  background-color: transparent;
  height: 277px;
  left: 735px;
  position: absolute;
  top: 2px;
  width: 505px;
}
.a154dotbadge .shape-aXpphF {
  background-color: transparent;
  height: 277px;
  left: 735px;
  position: absolute;
  top: 2px;
  width: 505px;
}
.a154dotbadge .size-3FcwGQ {
  background-color: transparent;
  height: 89px;
  left: 376px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.a154dotbadge .size-GUXlqo {
  background-color: transparent;
  height: 68px;
  left: 275px;
  position: absolute;
  top: 0px;
  width: 60px;
}
.a154dotbadge .spacing-3FcwGQ {
  background-color: transparent;
  height: 146px;
  left: 367px;
  position: absolute;
  top: 38px;
  width: 9px;
}
.a154dotbadge .spacing-GUXlqo {
  background-color: transparent;
  height: 167px;
  left: 266px;
  position: absolute;
  top: 38px;
  width: 9px;
}
.a154dotbadge .sub-tab-aGccv4 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a154dotbadge .sub-tab-xLPU5A {
  background-color: transparent;
  height: auto;
  left: 365px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 56px;
  white-space: nowrap;
  width: 91px;
}
.a154dotbadge .subtab-C61RwL {
  background-color: transparent;
  height: 972px;
  left: 380px;
  position: absolute;
  top: 2290px;
  width: 1240px;
}
.a154dotbadge .symbol-BOm5x4 {
  background-color: transparent;
  background-image: url(../img/15-4-dot-badge-15-04measurew360mpl154dotbadge1-21E92B43-7CE8-4595-AA70-8F29F739DB04@2x.png);
  background-size: 100% 100%;
  height: 180px;
  left: 226px;
  position: absolute;
  top: 59px;
  width: 264px;
}
.a154dotbadge .symbol-w6VGCy {
  background-color: transparent;
  background-image: url(../img/15-4-dot-badge-15-04measurew360mpl154dotbadge2-0917D8E4-A11C-40A3-8CFB-C33E825239B9@2x.png);
  background-size: 100% 100%;
  height: 108px;
  left: 202px;
  position: absolute;
  top: 87px;
  width: 312px;
}
.a154dotbadge .tab-xLPU5A {
  background-color: transparent;
  height: auto;
  left: 365px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 202px;
  white-space: nowrap;
  width: 91px;
}
.a154dotbadge .tag-refer-C4xdeV {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 480px;
  width: 153px;
}
.a154dotbadge .tag-refer-EwHbVn {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 253px;
  width: 146px;
}
.a154dotbadge .text-3FcwGQ {
  background-color: transparent;
  height: 66px;
  left: 226px;
  position: absolute;
  top: 59px;
  width: 141px;
}
.a154dotbadge .text-3GjPvu {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a154dotbadge .text-3dbF9p {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a154dotbadge .text-GUXlqo {
  background-color: transparent;
  height: 67px;
  left: 178px;
  position: absolute;
  top: 38px;
  width: 88px;
}
.a154dotbadge .text-MpJWK4 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a154dotbadge .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .text-g5IeH1 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a154dotbadge .ud574ub2f9-b85c-uc0ac-sDxc4B {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 36px;
  white-space: nowrap;
  width: 1240px;
}
.a154dotbadge .value-1PmS6p {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-3xD95b {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-AkPN9U {
  background-color: transparent;
  height: 18px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.a154dotbadge .value-D4mYTW {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-HTj0Gy {
  background-color: transparent;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-Ls9ahp {
  background-color: transparent;
  height: 18px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.a154dotbadge .value-PGoNAc {
  background-color: transparent;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-PS7FPF {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-Px3AmY {
  background-color: transparent;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-TxqWw2 {
  background-color: transparent;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-Ulzgbt {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-Vp8GkC {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-XPUNnZ {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-dwBCA7 {
  background-color: transparent;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .value-tmkQcD {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 16px;
}
.a154dotbadge .value-wl8IF4 {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 16px;
}
.a154dotbadge .value-xxQL02 {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .web-app-lDbNsr {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x-1PmS6p {
  background-color: transparent;
  height: auto;
  left: 117px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-3xD95b {
  background-color: transparent;
  height: auto;
  left: 172px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-D4mYTW {
  background-color: transparent;
  height: auto;
  left: 84px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-HTj0Gy {
  background-color: transparent;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-PGoNAc {
  background-color: transparent;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-PS7FPF {
  background-color: transparent;
  height: auto;
  left: 172px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-Px3AmY {
  background-color: transparent;
  height: auto;
  left: 156px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-TxqWw2 {
  background-color: transparent;
  height: auto;
  left: 156px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-Ulzgbt {
  background-color: transparent;
  height: auto;
  left: 117px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-Vp8GkC {
  background-color: transparent;
  height: auto;
  left: 84px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-XPUNnZ {
  background-color: transparent;
  height: auto;
  left: 172px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-dwBCA7 {
  background-color: transparent;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x-xxQL02 {
  background-color: transparent;
  height: auto;
  left: 172px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x0-2qMunN {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x0-PIpxgU {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x0-PcC3Pw {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x0-XtEnJG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x0-overview-nArk66 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x0-xxpafJ {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x0-z1pABy {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x1-6stau6 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a154dotbadge .x1-GEwpm7 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a154dotbadge .x1-app-bar-XWVevb {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x1-hucKgc {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a154dotbadge .x1-kXaNcE {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a154dotbadge .x10-search-xF3Iav {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x11-toast-soJeAh {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x12-text-fields-ZLEfMr {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x13-view-controls-gRJBid {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x14-description-G5jxxk {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x15-04-keys-dot-badge1-C4xdeV {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a154dotbadge .x15-04-keys-dot-badge1-CNVpx1 {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a154dotbadge .x15-04-keys-dot-badge2-EwHbVn {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a154dotbadge .x15-04-keys-dot-badge2-b8pvRZ {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a154dotbadge .x15-04-meas-badgedont1-y8OoE0 {
  background-color: transparent;
  height: 64px;
  left: 520px;
  position: absolute;
  top: 40px;
  width: 360px;
}
.a154dotbadge .x15-04-meas-badgedont2-y8OoE0 {
  background-color: transparent;
  height: 56px;
  left: 520px;
  position: absolute;
  top: 196px;
  width: 360px;
}
.a154dotbadge .x15-04-meas-t-badgedo1-xLPU5A {
  background-color: transparent;
  height: 56px;
  left: 516px;
  position: absolute;
  top: 40px;
  width: 360px;
}
.a154dotbadge .x15-04-meas-t-badgedo2-xLPU5A {
  background-color: transparent;
  height: 60px;
  left: 516px;
  position: absolute;
  top: 184px;
  width: 360px;
}
.a154dotbadge .x15-4-dot-badge-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a154dotbadge .x15-notification-bad-Ni6qxb {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x16-thumbnail-6HF8OG {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x17-copy-paste-lgIE5R {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x2-buttons-ALeFg1 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x3-controllers-7W07bU {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x4-dialogs-KFxzhP {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x5-dividers-QGIQGE {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x6-lists-tX89s4 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x7-no-item-HpEEGW {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x8-progress-71BTkx {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a154dotbadge .x9-scrolling-HGhyhP {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.samsungonekorean-400-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-400-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-400-normal-masala-18px {
  color: var(--masala);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-royal-blue-18px {
  color: var(--royal-blue);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-500-normal-white-14px {
  color: var(--white);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 14px;
}
.samsungonekorean-600-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-700-normal-black-22px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
}
.samsungonekorean-700-normal-white-14px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 14px;
}
.samsungonekorean-700-normal-white-15px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --electric-violet: rgba(102,0,255,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --razzle-dazzle-rose-2: rgba(255,51,255,0.37);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}