/* screen - a171textselection */

.a171textselection {
  background-color: rgba(245,246,247,1.0);
  height: 1637px;
  position: relative;
  width: 1680px;
}
.a171textselection .basic-component-gui-xrpEuL {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a171textselection .btn-mwblLs:hover {

transform: scale(0.98);
}
.a171textselection .dark-theme-5iy7GR {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 162px;
  width: 465px;
}
.a171textselection .document-b-x-contents-1w3x47 {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 366px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 510px;
}
.a171textselection .document-b-x-contents-5iy7GR {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 245px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a171textselection .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a171textselection .document-b-x-contents-hh1Mvx {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 631px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a171textselection .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1512px;
  width: 274px;
}
.a171textselection .fn-39xSqS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .fn-lDxnpC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .general-1w3x47 {
  background-color: transparent;
  height: 178px;
  left: 20px;
  position: absolute;
  top: 155px;
  width: 465px;
}
.a171textselection .gnb-bar17-copypaste-C61RwL {
  background-color: var(--white);
  height: 1079px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a171textselection .gnb-logo-iuYmPM {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a171textselection .gnb-menu-h-ory-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a171textselection .gnb-menu0--iew-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a171textselection .gnb-menu1--bar-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a171textselection .gnb-menu10-rch-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a171textselection .gnb-menu11-ast-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a171textselection .gnb-menu12-lds-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a171textselection .gnb-menu13-ols-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a171textselection .gnb-menu14-ion-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a171textselection .gnb-menu15-dge-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a171textselection .gnb-menu16-ail-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a171textselection .gnb-menu17-e-selected-cVjuGN {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a171textselection .gnb-menu17-e-selected-iuYmPM {
  background-color: transparent;
  height: 214px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a171textselection .gnb-menu2--ons-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a171textselection .gnb-menu3--ers-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a171textselection .gnb-menu4--s-selected-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a171textselection .gnb-menu5--ers-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.a171textselection .gnb-menu6--sts-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a171textselection .gnb-menu7--ems-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a171textselection .gnb-menu8--ess-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a171textselection .gnb-menu9--ing-normal-iuYmPM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a171textselection .gnb-submenu-normal-3qdhfl {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a171textselection .gnb-submenu-normal-NhZX6q {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a171textselection .gnb-submenu-normal-cVjuGN {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a171textselection .gnb-submenu-normal-jrwPFx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a171textselection .gnbmenu-DGiVuZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-HHVU80 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-LHSUaJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-MLuf6f {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-PPHq9v {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-U1kFEv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-ZKCh0K {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-dtZLz9 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-i7pwlT {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-iJH1QG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-iR60JE {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-kx2R2c {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-m0QinF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-nNsvxa {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-sWBEM6 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-tOfJ4r {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-vcwXmr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-wXLwUS {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbmenu-x7L58K {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbsubmenu-MV0xQd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbsubmenu-NFOrti {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbsubmenu-tByk4v {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gnbsubmenu-zQnr5f {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .gotohome-0XvOoX {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a171textselection .group-0PzkWk {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 65px;
}
.a171textselection .group-2-K7VXVE {
  background-color: transparent;
  height: 44px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 274px;
}
.a171textselection .group-2-Ktf83X {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 167px;
}
.a171textselection .group-2-MIch4z {
  background-color: transparent;
  height: 44px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 274px;
}
.a171textselection .group-2-yTW6ux {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 175px;
}
.a171textselection .group-3-LaY041 {
  background-color: transparent;
  height: 22px;
  left: 6px;
  position: absolute;
  top: 22px;
  width: 83px;
}
.a171textselection .group-3-ebaVym {
  background-color: transparent;
  height: 22px;
  left: 6px;
  position: absolute;
  top: 22px;
  width: 93px;
}
.a171textselection .group-39xSqS {
  background-color: transparent;
  height: 44px;
  left: 23px;
  position: absolute;
  top: 0px;
  width: 251px;
}
.a171textselection .group-4-I2DQg8 {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 378px;
}
.a171textselection .group-4-vYd0eG {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 378px;
}
.a171textselection .group-C61RwL {
  background-color: transparent;
  height: 631px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 1240px;
}
.a171textselection .group-KZrsNC {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a171textselection .group-XYlEjA {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 57px;
}
.a171textselection .group-brDDWk {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 101px;
}
.a171textselection .group-hxpKQf {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a171textselection .group-lDxnpC {
  background-color: transparent;
  height: 44px;
  left: 23px;
  position: absolute;
  top: 0px;
  width: 251px;
}
.a171textselection .group-pxYMqK {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100px;
}
.a171textselection .guide-NOXmfT {
  background-color: transparent;
  height: 631px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a171textselection .guide-form-ction2line-5nABFw {
  background-color: transparent;
  height: 44px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 378px;
}
.a171textselection .guide-form-ction2line-auFxLl {
  background-color: transparent;
  height: 44px;
  left: 32px;
  position: absolute;
  top: 50px;
  width: 378px;
}
.a171textselection .guide-form-e-subtitle-M4m0F6 {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a171textselection .guide-form-e-subtitle-NQFHpi {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a171textselection .guide-form-me-imagebg-4QoRc4 {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.a171textselection .guide-form-me-imagebg-q4CnUw {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.a171textselection .guide-form-ormal-dark-NQFHpi {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 167px;
}
.a171textselection .guide-form-ormal1line-4P6aZ3 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 128px;
  width: 106px;
}
.a171textselection .guide-form-ormal1line-5nABFw {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 156px;
  width: 100px;
}
.a171textselection .guide-form-ormal1line-auFxLl {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 100px;
  width: 101px;
}
.a171textselection .guide-form-rmal-light-M4m0F6 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 175px;
}
.a171textselection .guide-meas-ght-size-1-GxlTuk {
  background-color: transparent;
  height: 34px;
  left: 127px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 38px;
}
.a171textselection .guide-meas-ght-text-1-QEOEaO {
  background-color: transparent;
  height: 35px;
  left: 281px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a171textselection .guide-meas-horizontal-GxlTuk {
  background-color: transparent;
  background-image: url(../img/17-1-text-selection-line-70EA63E5-B2E5-4606-8281-8860336A6E49@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 33px;
  width: 127px;
}
.a171textselection .guide-meas-horizontal-QEOEaO {
  background-color: transparent;
  background-image: url(../img/17-1-text-selection-line-5BCE6E7E-1C98-4BF9-A127-92E5A1F64EE7@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 279px;
}
.a171textselection .guide-meas-horizontal-k5F1TF {
  background-color: transparent;
  background-image: url(../img/17-1-text-selection-line-5BCE6E7E-1C98-4BF9-A127-92E5A1F64EE7@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 34px;
  width: 279px;
}
.a171textselection .guide-meas-tom-size-1-Pqa7LA {
  background-color: transparent;
  height: 38px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 29px;
}
.a171textselection .guide-meas-tom-size-1-lrRQv3 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 30px;
}
.a171textselection .guide-meas-top-size-1-aC62jB {
  background-color: transparent;
  height: 38px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 151px;
}
.a171textselection .guide-measure-area-Pqa7LA {
  background-color: var(--razzle-dazzle-rose-2);
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a171textselection .guide-measure-area-lrRQv3 {
  background-color: var(--razzle-dazzle-rose-2);
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.a171textselection .guide-numb-ring-shape-OaDX24 {
  background-color: transparent;
  background-image: url(../img/17-3-more-pop-up-oval-EB84A395-0150-420E-83F9-BCCEE9C4334E@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 34px;
  width: 22px;
}
.a171textselection .guide-numb-ring-shape-fweJf5 {
  background-color: transparent;
  background-image: url(../img/17-3-more-pop-up-oval-EB84A395-0150-420E-83F9-BCCEE9C4334E@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 62px;
  width: 22px;
}
.a171textselection .guide-numb-ring-shape-xMtxpl {
  background-color: transparent;
  background-image: url(../img/17-3-more-pop-up-oval-EB84A395-0150-420E-83F9-BCCEE9C4334E@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 30px;
  position: absolute;
  top: 27px;
  width: 22px;
}
.a171textselection .guide-numb-ring-shape-xRkPbj {
  background-color: transparent;
  background-image: url(../img/17-3-more-pop-up-oval-EB84A395-0150-420E-83F9-BCCEE9C4334E@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 30px;
  position: absolute;
  top: 0px;
  width: 22px;
}
.a171textselection .guide-numbering-icon-13N3y0 {
  background-color: transparent;
  background-image: url(../img/17-3-more-pop-up-oval-EB84A395-0150-420E-83F9-BCCEE9C4334E@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a171textselection .guide-numbering-icon-3ZyVte {
  background-color: transparent;
  background-image: url(../img/17-3-more-pop-up-oval-EB84A395-0150-420E-83F9-BCCEE9C4334E@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a171textselection .guide-property-13N3y0 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .guide-property-3ZyVte {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .guide-subject-shape-1w3x47 {
  background-color: transparent;
  height: 26px;
  left: 25px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a171textselection .guide-subject-shape-5iy7GR {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a171textselection .history-RVdlM9 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a171textselection .light-theme-5iy7GR {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 84px;
  width: 465px;
}
.a171textselection .measure-1-hh1Mvx {
  background-color: transparent;
  height: 145px;
  left: 288px;
  position: absolute;
  top: 173px;
  width: 409px;
}
.a171textselection .measure-2-hh1Mvx {
  background-color: transparent;
  height: 56px;
  left: 288px;
  position: absolute;
  top: 378px;
  width: 52px;
}
.a171textselection .mobile-lig-andlerleft-q4CnUw {
  background-color: transparent;
  background-image: url(../img/17-1-text-selection-mobilelighttheme17copypastetextselectionhandlerleft-4BB6F74E-1B0D-4FFA-8D37-10A88AC9A912@2x.png);
  background-size: 100% 100%;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.a171textselection .mobile-lig-ndlerright-4QoRc4 {
  background-color: transparent;
  background-image: url(../img/17-1-text-selection-mobilelighttheme17copypastetextselectionhandlerright-91311B43-B471-4A4B-BAE5-EA5489ABC120@2x.png);
  background-size: 100% 100%;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.a171textselection .property-0PzkWk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .property-K7VXVE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .property-MIch4z {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .property-Szh4jG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .property-XYlEjA {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .property-n8ez6r {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .property-yGhxdx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .rectangle-2QxvDP {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 2px;
  position: absolute;
  top: 33px;
  width: 9px;
}
.a171textselection .rectangle-AFyBvg {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 28px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a171textselection .rectangle-GG6pO7 {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 31px;
  width: 151px;
}
.a171textselection .rectangle-SaP9pi {
  background-color: rgba(255,204,0,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 34px;
  width: 9px;
}
.a171textselection .rectangle-T60wnb {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a171textselection .rectangle-dCPDG2 {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 150px;
  position: absolute;
  top: 27px;
  width: 1px;
}
.a171textselection .rectangle-eTO83t {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 6px;
  width: 29px;
}
.a171textselection .rectangle-f8glCU {
  background-color: rgba(255,204,0,1.0);
  height: 35px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a171textselection .rectangle-fwDNVo {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 29px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a171textselection .rectangle-kBx9zc {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a171textselection .rectangle-lU3L97 {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a171textselection .rectangle-lcGJYb {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 27px;
  width: 1px;
}
.a171textselection .rectangle-uc4BfA {
  background-color: rgba(255,204,0,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a171textselection .rectangle-vo8OxS {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a171textselection .rectangle-xCEkmw {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 6px;
  width: 30px;
}
.a171textselection .rectangle-zac6Nn {
  background-color: var(--razzle-dazzle-rose);
  height: 34px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a171textselection .shape-E582nk {
  background-color: transparent;
  height: 366px;
  left: 730px;
  position: absolute;
  top: 265px;
  width: 510px;
}
.a171textselection .shape-NOXmfT {
  background-color: transparent;
  height: 245px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a171textselection .size-YUcfHe {
  background-color: transparent;
  height: 34px;
  left: 193px;
  position: absolute;
  top: 73px;
  width: 165px;
}
.a171textselection .size-fweJf5 {
  background-color: transparent;
  height: 72px;
  left: 11px;
  position: absolute;
  top: 73px;
  width: 30px;
}
.a171textselection .size-rQtE0i {
  background-color: transparent;
  height: 72px;
  left: 193px;
  position: absolute;
  top: 73px;
  width: 30px;
}
.a171textselection .size-xMtxpl {
  background-color: transparent;
  height: 38px;
  left: 41px;
  position: absolute;
  top: 0px;
  width: 151px;
}
.a171textselection .symbol-hh1Mvx {
  background-color: transparent;
  height: 248px;
  left: 68px;
  position: absolute;
  top: 211px;
  width: 540px;
}
.a171textselection .text-3kEgiO {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a171textselection .text-5T2Hop {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a171textselection .text-C1A0E6 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a171textselection .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .text-bGEFPJ {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a171textselection .text-mzoW6Q {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .text-wjU5ux {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .text-xMtxpl {
  background-color: transparent;
  height: 35px;
  left: 41px;
  position: absolute;
  top: 38px;
  width: 368px;
}
.a171textselection .value-1line-LaY041 {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .value-1line-ebaVym {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .value-2line-ZhDBZ3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .value-2line-uj2dVB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .value-B17FTf {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .value-Szh4jG {
  background-color: transparent;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .value-ieYHdb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .value-lU3L97 {
  background-color: transparent;
  height: 18px;
  left: 14px;
  position: absolute;
  top: 8px;
  width: 16px;
}
.a171textselection .value-lcGJYb {
  background-color: transparent;
  height: 18px;
  left: 39px;
  position: absolute;
  top: 7px;
  width: 74px;
}
.a171textselection .value-n8ez6r {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .value-uc4BfA {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 8px;
  width: 75px;
}
.a171textselection .value-yGhxdx {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .web-app-xrpEuL {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x-0PzkWk {
  background-color: transparent;
  height: auto;
  left: 169px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x-LaY041 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x-Szh4jG {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x-UREMxm {
  background-color: transparent;
  height: auto;
  left: 81px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x-XYlEjA {
  background-color: transparent;
  height: auto;
  left: 161px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x-ZhDBZ3 {
  background-color: transparent;
  height: auto;
  left: 77px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x-ebaVym {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x-juSOxL {
  background-color: transparent;
  height: auto;
  left: 71px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x-n8ez6r {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x-uj2dVB {
  background-color: transparent;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x-yGhxdx {
  background-color: transparent;
  height: auto;
  left: 95px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x0-grxfaM {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x0-kBx9zc {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x0-overview-A5cskn {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x0-qQ9tcg {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x0-vo8OxS {
  background-color: transparent;
  height: auto;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x0-xxHemG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x1-0adN7T {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a171textselection .x1-6uZHzb {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a171textselection .x1-9HkSla {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a171textselection .x1-Do7VZJ {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a171textselection .x1-app-bar-63MTsw {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x1-mn5c8k {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a171textselection .x1-puNIkv {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a171textselection .x10-search-iekNtx {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x11-toast-ehdyP3 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x12-text-fields-0Lh7Ph {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x13-view-controls-Laj2ls {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x14-description-T60wnb {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x15-notification-bad-BNozCf {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x16-1-thumbnaillist-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a171textselection .x16-thumbnail-RxcTBF {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x17-01-imag-andlerleft-1w3x47 {
  background-color: transparent;
  height: 48px;
  left: 52px;
  position: absolute;
  top: 84px;
  width: 42px;
}
.a171textselection .x17-01-imag-ndlerright-1w3x47 {
  background-color: transparent;
  height: 48px;
  left: 99px;
  position: absolute;
  top: 84px;
  width: 42px;
}
.a171textselection .x17-01-keys-tselection-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 241px;
}
.a171textselection .x17-01-keys-tselection-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 241px;
}
.a171textselection .x17-01-meas-tselection-2LAIZG {
  background-color: transparent;
  height: 70px;
  left: 0px;
  position: absolute;
  top: 178px;
  width: 540px;
}
.a171textselection .x17-01-meas-tselection-OJXfFd {
  background-color: transparent;
  height: 70px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 540px;
}
.a171textselection .x17-copy-paste-Ayzyix {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x2-buttons-44xtxe {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x3-controllers-ssJOrS {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x4-dialogs-0QWcbc {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x5-dividers-IHUpXZ {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x6-lists-Hst7wS {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x7-no-item-bNGzb0 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x8-progress-mVn42z {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a171textselection .x9-scrolling-XINVgB {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.samsungonekorean-400-normal-alabaster-18px {
  color: rgba(250,250,250,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-400-normal-masala-18px {
  color: var(--masala);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-royal-blue-18px {
  color: var(--royal-blue);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-600-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-700-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-700-normal-black-22px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
}
.samsungonekorean-700-normal-white-14px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 14px;
}
.samsungonekorean-700-normal-white-15px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --electric-violet: rgba(102,0,255,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --razzle-dazzle-rose-2: rgba(255,51,255,0.37);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}