/* screen - a21flatbutton */

.a21flatbutton {
  background-color: rgba(245,246,247,1.0);
  height: 1579px;
  position: relative;
  width: 1680px;
}
.a21flatbutton .background-AOY7pQ {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 206px;
}
.a21flatbutton .background-ClUVJg {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 206px;
}
.a21flatbutton .background-RYY6TO {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 206px;
}
.a21flatbutton .background-tyBobm {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 206px;
}
.a21flatbutton .basic-component-gui-mK9PxT {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a21flatbutton .btn-mwblLs:hover {

transform: scale(0.98);
}
.a21flatbutton .comment-4PueZg {
  background-color: transparent;
  color: var(--gray);
  font-size: 18px;
  height: auto;
  left: 101px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .comment-Dv5QwW {
  background-color: transparent;
  color: var(--gray);
  font-size: 18px;
  height: auto;
  left: 264px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .comment-FiOSMN {
  background-color: transparent;
  color: var(--gray);
  font-size: 18px;
  height: auto;
  left: 264px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .comment-VYI10n {
  background-color: transparent;
  color: var(--gray);
  font-size: 18px;
  height: auto;
  left: 101px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .comment-jx1xgv {
  background-color: transparent;
  color: var(--gray);
  font-size: 18px;
  height: auto;
  left: 264px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .comment-xzxJHE {
  background-color: transparent;
  color: var(--gray);
  font-size: 18px;
  height: auto;
  left: 264px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .dark-theme-Ab26Qr {
  background-color: transparent;
  height: 119px;
  left: 20px;
  position: absolute;
  top: 421px;
  width: 465px;
}
.a21flatbutton .document-b-x-contents-Ab26Qr {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 573px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a21flatbutton .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a21flatbutton .document-b-x-contents-hh1Mvx {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 573px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a21flatbutton .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1454px;
  width: 274px;
}
.a21flatbutton .fn-AOY7pQ {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .fn-ClUVJg {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .fn-RYY6TO {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .fn-tyBobm {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .general-Ab26Qr {
  background-color: transparent;
  height: 162px;
  left: 20px;
  position: absolute;
  top: 84px;
  width: 465px;
}
.a21flatbutton .gnb-bar02-buttons-C61RwL {
  background-color: var(--white);
  height: 1036px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnb-logo-LzW6K5 {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnb-menu-h-ory-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a21flatbutton .gnb-menu0--iew-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a21flatbutton .gnb-menu1--bar-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a21flatbutton .gnb-menu10-rch-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a21flatbutton .gnb-menu11-ast-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a21flatbutton .gnb-menu12-lds-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a21flatbutton .gnb-menu13-ols-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a21flatbutton .gnb-menu14-ion-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a21flatbutton .gnb-menu15-dge-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a21flatbutton .gnb-menu16-ail-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a21flatbutton .gnb-menu17-ste-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a21flatbutton .gnb-menu2--s-selected-C4jokY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnb-menu2--s-selected-LzW6K5 {
  background-color: transparent;
  height: 171px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a21flatbutton .gnb-menu3--ers-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a21flatbutton .gnb-menu4--ogs-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a21flatbutton .gnb-menu5--ers-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a21flatbutton .gnb-menu6--sts-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a21flatbutton .gnb-menu7--ems-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a21flatbutton .gnb-menu8--ess-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a21flatbutton .gnb-menu9--ing-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a21flatbutton .gnb-submenu-normal-C4jokY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a21flatbutton .gnb-submenu-normal-ZBWQ9T {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a21flatbutton .gnb-submenu-normal-swazGt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a21flatbutton .gnbmenu-0xl5pF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-6nx8n1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-FDtCmK {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-FkmYUp {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-L6bc6M {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-Nwas6R {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-Ok5nbz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-S5FxHu {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-SNyh98 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-SdM2v0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-T9Mxkb {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-UlrIiF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-dPvOAa {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-fU8x2r {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-jRd5IS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-k9bnqG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-pcOgP6 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-thsCgx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbmenu-zzkKTz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbsubmenu-WhZIV2 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbsubmenu-XxJGJ5 {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gnbsubmenu-hmbz2g {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .gotohome-Pbwi2q {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a21flatbutton .group-2-ItcGg6 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 356px;
}
.a21flatbutton .group-2-OG8g1c {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 356px;
}
.a21flatbutton .group-2-RxtHZZ {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 203px;
}
.a21flatbutton .group-2-s1CWzV {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 366px;
}
.a21flatbutton .group-2-vf4XOB {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 366px;
}
.a21flatbutton .group-2-xn79d9 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 203px;
}
.a21flatbutton .group-4PueZg {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 67px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.a21flatbutton .group-5eNVC0 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 143px;
}
.a21flatbutton .group-C61RwL {
  background-color: transparent;
  height: 573px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 1240px;
}
.a21flatbutton .group-LSh3xk {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 146px;
}
.a21flatbutton .group-VYI10n {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 67px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.a21flatbutton .group-YJJk0F {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.a21flatbutton .group-hxIvRV {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a21flatbutton .group-mJ6T9M {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 248px;
}
.a21flatbutton .group-w42Is4 {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a21flatbutton .guide-NOXmfT {
  background-color: transparent;
  height: 573px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a21flatbutton .guide-form-al-darkcmt-he1EHg {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 97px;
  width: 203px;
}
.a21flatbutton .guide-form-e-subtitle-EQLkMw {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a21flatbutton .guide-form-e-subtitle-he1EHg {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a21flatbutton .guide-form-e-subtitle-lwhgUu {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 57px;
}
.a21flatbutton .guide-form-ht1linecmt-1HosyT {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 69px;
  width: 366px;
}
.a21flatbutton .guide-form-ht1linecmt-EQLkMw {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 356px;
}
.a21flatbutton .guide-form-l-lightcmt-EQLkMw {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 97px;
  width: 203px;
}
.a21flatbutton .guide-form-me-divider-EQLkMw {
  background-color: rgba(0,0,0,0.08);
  height: 1px;
  left: 32px;
  position: absolute;
  top: 59px;
  width: 401px;
}
.a21flatbutton .guide-form-me-divider-he1EHg {
  background-color: rgba(0,0,0,0.08);
  height: 1px;
  left: 32px;
  position: absolute;
  top: 59px;
  width: 401px;
}
.a21flatbutton .guide-form-ormal1line-TGBoe2 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 84px;
  width: 146px;
}
.a21flatbutton .guide-form-ormal1line-ZZhE0O {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 140px;
  width: 143px;
}
.a21flatbutton .guide-form-ormal1line-eO1BpW {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 56px;
  width: 122px;
}
.a21flatbutton .guide-form-ormal1line-lwhgUu {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 248px;
}
.a21flatbutton .guide-form-ormal1line-pqEuoi {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 112px;
  width: 178px;
}
.a21flatbutton .guide-form-rk1linecmt-he1EHg {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 356px;
}
.a21flatbutton .guide-form-rk1linecmt-rWSQTq {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 69px;
  width: 366px;
}
.a21flatbutton .guide-meas--spacing-2-UxBows {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 12px;
}
.a21flatbutton .guide-meas--spacing-2-bWSJBi {
  background-color: transparent;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 36px;
}
.a21flatbutton .guide-meas--spacing-3-HZAI7N {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 24px;
}
.a21flatbutton .guide-meas--spacing-3-uhib2b {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 24px;
}
.a21flatbutton .guide-meas-ght-text-1-rixyUT {
  background-color: transparent;
  height: 54px;
  left: 143px;
  position: absolute;
  top: 0px;
  width: 67px;
}
.a21flatbutton .guide-meas-horizontal-THm08Q {
  background-color: transparent;
  background-image: url(../img/2-1-flat-button-line-97A61298-EC51-46A1-BAA6-7A3634337587@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 81px;
  position: absolute;
  top: 53px;
  width: 60px;
}
.a21flatbutton .guide-meas-horizontal-rixyUT {
  background-color: transparent;
  background-image: url(../img/2-1-flat-button-line-97A61298-EC51-46A1-BAA6-7A3634337587@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 81px;
  position: absolute;
  top: 0px;
  width: 60px;
}
.a21flatbutton .guide-measure-area-HZAI7N {
  background-color: rgba(102,0,255,0.37);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a21flatbutton .guide-measure-area-UxBows {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 12px;
}
.a21flatbutton .guide-measure-area-bWSJBi {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 35px;
  width: 36px;
}
.a21flatbutton .guide-measure-area-rixyUT {
  background-color: rgba(255,204,0,0.37);
  height: 54px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 81px;
}
.a21flatbutton .guide-measure-area-uhib2b {
  background-color: rgba(102,0,255,0.37);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a21flatbutton .guide-numbering-type-5enw91 {
  background-color: transparent;
  background-image: url(../img/2-1-flat-button-oval-52230C3D-79F4-4FCC-BD60-3928B5356E04@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 22px;
}
.a21flatbutton .guide-numbering-type-XjX2Of {
  background-color: transparent;
  background-image: url(../img/2-1-flat-button-oval-52230C3D-79F4-4FCC-BD60-3928B5356E04@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 25px;
  position: absolute;
  top: 42px;
  width: 22px;
}
.a21flatbutton .guide-property-5enw91 {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .guide-subject-type-Ab26Qr {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 121px;
}
.a21flatbutton .history-k5CNv8 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a21flatbutton .light-theme-Ab26Qr {
  background-color: transparent;
  height: 119px;
  left: 20px;
  position: absolute;
  top: 274px;
  width: 465px;
}
.a21flatbutton .measure-hh1Mvx {
  background-color: transparent;
  height: 157px;
  left: 451px;
  position: absolute;
  top: 206px;
  width: 246px;
}
.a21flatbutton .property-4PueZg {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .property-Dv5QwW {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .property-FiOSMN {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .property-NTSiUQ {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .property-PbYNae {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .property-VYI10n {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .property-euvguZ {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .property-iImvVB {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .property-jx1xgv {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .property-x7pG33 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .property-xzxJHE {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .rectangle-3evEmQ {
  background-color: var(--electric-violet);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 24px;
}
.a21flatbutton .rectangle-9gzg8T {
  background-color: rgba(255,204,0,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a21flatbutton .rectangle-Bhyc4M {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 1px;
}
.a21flatbutton .rectangle-CeIUQe {
  background-color: rgba(255,204,0,1.0);
  height: 54px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a21flatbutton .rectangle-H8h5Db {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 11px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a21flatbutton .rectangle-JERoEW {
  background-color: var(--electric-violet);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a21flatbutton .rectangle-L5CI8h {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 35px;
  position: absolute;
  top: 21px;
  width: 1px;
}
.a21flatbutton .rectangle-QQhV8i {
  background-color: rgba(255,204,0,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 9px;
}
.a21flatbutton .rectangle-TdQBld {
  background-color: var(--electric-violet);
  height: 9px;
  left: 23px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a21flatbutton .rectangle-VOetJo {
  background-color: var(--electric-violet);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 24px;
}
.a21flatbutton .rectangle-bCAkWw {
  background-color: var(--electric-violet);
  height: 9px;
  left: 23px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a21flatbutton .rectangle-ipcerx {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 36px;
}
.a21flatbutton .rectangle-ln0S8c {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a21flatbutton .rectangle-qI7W6n {
  background-color: var(--electric-violet);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a21flatbutton .rectangle-vliTTm {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 12px;
}
.a21flatbutton .rectangle-xTtMG3 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a21flatbutton .size-XjX2Of {
  background-color: transparent;
  height: 54px;
  left: 36px;
  position: absolute;
  top: 53px;
  width: 210px;
}
.a21flatbutton .spacing-88xegd {
  background-color: transparent;
  height: 119px;
  left: 117px;
  position: absolute;
  top: 38px;
  width: 24px;
}
.a21flatbutton .spacing-XjX2Of {
  background-color: transparent;
  height: 122px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 12px;
}
.a21flatbutton .spacing-fANvG6 {
  background-color: transparent;
  height: 119px;
  left: 141px;
  position: absolute;
  top: 3px;
  width: 36px;
}
.a21flatbutton .spacing-xUDzDj {
  background-color: transparent;
  height: 119px;
  left: 12px;
  position: absolute;
  top: 38px;
  width: 24px;
}
.a21flatbutton .symbol-hh1Mvx {
  background-color: transparent;
  background-image: url(../img/2-1-flat-button-2-01measurew360mpl021flatbutton-33DF98F4-8128-4C07-824C-4EF2699322F6@2x.png);
  background-size: 100% 100%;
  height: 84px;
  left: 88px;
  position: absolute;
  top: 244px;
  width: 540px;
}
.a21flatbutton .text-94tRfz {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a21flatbutton .text-EEe8Q9 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a21flatbutton .text-HrHWSx {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .text-IZous8 {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .text-Lrpeyl {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a21flatbutton .text-NgyFmp {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .typeface-NOXmfT {
  background-color: transparent;
  height: 573px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a21flatbutton .value-9gzg8T {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 18px;
  width: 55px;
}
.a21flatbutton .value-AOY7pQ {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-Bhyc4M {
  background-color: transparent;
  height: 18px;
  left: 9px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a21flatbutton .value-ClUVJg {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-size: 18px;
  height: auto;
  left: 32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-Dv5QwW {
  background-color: transparent;
  height: 22px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 212px;
}
.a21flatbutton .value-FiOSMN {
  background-color: transparent;
  height: 22px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 212px;
}
.a21flatbutton .value-NTSiUQ {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 116px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-PbYNae {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 88px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-RYY6TO {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-size: 18px;
  height: auto;
  left: 32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-euvguZ {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 98px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-iImvVB {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 80px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-iieLfj {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-jx1xgv {
  background-color: transparent;
  height: 22px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 212px;
}
.a21flatbutton .value-tPGDMS {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-tyBobm {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-x7pG33 {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 100px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .value-xTtMG3 {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.a21flatbutton .value-xzxJHE {
  background-color: transparent;
  height: 22px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 212px;
}
.a21flatbutton .web-app-mK9PxT {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x-3XXQag {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 26px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-4PueZg {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 93px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-AOY7pQ {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 206px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-BXq1YQ {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 18px;
  height: auto;
  left: 26px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-ClUVJg {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 206px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-HmyCYx {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 18px;
  height: auto;
  left: 26px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-NTSiUQ {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 172px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-O7x0Qp {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 200px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-PbYNae {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 140px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-RYY6TO {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 206px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-TwYXA3 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 200px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-VYI10n {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 93px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-euvguZ {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 137px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-iImvVB {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 116px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-rpi2gr {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 18px;
  height: auto;
  left: 200px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-tVzlja {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 18px;
  height: auto;
  left: 200px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-tyBobm {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 206px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-x7pG33 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 242px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x-yFkkhB {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 26px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x0-2yek2P {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x0-JERoEW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 4px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x0-d2nhxg {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x0-kGEeQk {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x0-overview-WS6WQj {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x0-qI7W6n {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 4px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x1-Ufvstr {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: 22px;
  left: 0px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a21flatbutton .x1-app-bar-eLzewR {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x1-xxYHa1 {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: 22px;
  left: 0px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a21flatbutton .x10-search-YPkNvM {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x11-toast-xiTBtP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x12-text-fields-dExET3 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x13-view-controls-MTh05c {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x14-description-ln0S8c {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x15-notification-bad-Nlwdug {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x16-thumbnail-be2hM8 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x17-copy-paste-034OGS {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x2-01-keysc-flatbutton-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a21flatbutton .x2-01-keysc-flatbutton-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a21flatbutton .x2-1-flat-button-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a21flatbutton .x2-buttons-0lS04a {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x3-controllers-h9KJK1 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x4-dialogs-gagmKd {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x5-dividers-OzTxVf {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x6-lists-4BRmK3 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x7-no-item-sh6abE {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x8-progress-xvOUMU {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a21flatbutton .x9-scrolling-qxqUQ7 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-5 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-6 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --electric-violet: rgba(102,0,255,1.0);
  --gray: rgba(145,145,145,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}