/* screen - a23floatingactionbutton */

.a23floatingactionbutton {
  background-color: rgba(245,246,247,1.0);
  height: 1892px;
  position: relative;
  width: 1680px;
}
.a23floatingactionbutton .area-XjX2Of {
  background-color: transparent;
  height: 249px;
  left: 31px;
  position: absolute;
  top: 38px;
  width: 252px;
}
.a23floatingactionbutton .basic-component-gui-mK9PxT {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a23floatingactionbutton .btn-mwblLs:hover {

transform: scale(0.98);
}
.a23floatingactionbutton .btn-xpyOiF {
  background-color: rgba(0,204,153,1.0);
  border-radius: 5px;
  height: 34px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 156px;
}
.a23floatingactionbutton .btn-xpyOiF:hover {

transform: scale(0.98);
}
.a23floatingactionbutton .comment-Q8Yv1e {
  background-color: transparent;
  height: auto;
  left: 125px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .dark-theme-5iy7GR {
  background-color: transparent;
  height: 72px;
  left: 20px;
  position: absolute;
  top: 350px;
  width: 465px;
}
.a23floatingactionbutton .document-b-textupdate-4tJnfx {
  background-color: rgba(0,204,153,0.2);
  height: 20px;
  left: 288px;
  position: absolute;
  top: 215px;
  width: 20px;
}
.a23floatingactionbutton .document-b-textupdate-XubYn0 {
  background-color: rgba(0,204,153,0.2);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 12px;
}
.a23floatingactionbutton .document-b-textupdate-bX3O7u {
  background-color: rgba(0,204,153,0.2);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 180px;
  width: 12px;
}
.a23floatingactionbutton .document-b-textupdate-hh1Mvx {
  background-color: rgba(0,204,153,0.2);
  height: 44px;
  left: 0px;
  position: absolute;
  top: 841px;
  width: 370px;
}
.a23floatingactionbutton .document-b-x-contents-5iy7GR {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 459px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a23floatingactionbutton .document-b-x-contents-PHONBE {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 350px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a23floatingactionbutton .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 2px solid rgba(0,204,153,1.0);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a23floatingactionbutton .document-b-x-contents-hh1Mvx {
  background-color: var(--white);
  border: 2px solid rgba(0,204,153,1.0);
  height: 829px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a23floatingactionbutton .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1767px;
  width: 274px;
}
.a23floatingactionbutton .fn-bcoe3P {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .fn-cdz5Mj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .fn-gxk9iq {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .form-PHONBE {
  background-color: transparent;
  height: 165px;
  left: 20px;
  position: absolute;
  top: 152px;
  width: 465px;
}
.a23floatingactionbutton .general-5iy7GR {
  background-color: transparent;
  height: 134px;
  left: 20px;
  position: absolute;
  top: 84px;
  width: 465px;
}
.a23floatingactionbutton .gnb-bar02-buttons-C61RwL {
  background-color: var(--white);
  height: 1036px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnb-logo-LzW6K5 {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu-h-ory-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu0--iew-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu1--bar-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu10-rch-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu11-ast-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu12-lds-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu13-ols-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu14-ion-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu15-dge-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu16-ail-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu17-ste-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu2--s-selected-C4jokY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu2--s-selected-LzW6K5 {
  background-color: transparent;
  height: 171px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu3--ers-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu4--ogs-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu5--ers-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu6--sts-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu7--ems-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu8--ess-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu9--ing-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a23floatingactionbutton .gnb-submenu-normal-C4jokY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a23floatingactionbutton .gnb-submenu-normal-ZBWQ9T {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a23floatingactionbutton .gnb-submenu-normal-swazGt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-0xl5pF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-6nx8n1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-FDtCmK {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-FkmYUp {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-L6bc6M {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-Nwas6R {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-Ok5nbz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-S5FxHu {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-SNyh98 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-SdM2v0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-T9Mxkb {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-UlrIiF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-dPvOAa {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-fU8x2r {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-jRd5IS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-k9bnqG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-pcOgP6 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-thsCgx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-zzkKTz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbsubmenu-WhZIV2 {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbsubmenu-XxJGJ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbsubmenu-hmbz2g {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gotohome-Pbwi2q {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .group-0L9iTm {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a23floatingactionbutton .group-2-6xNG0b {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 349px;
}
.a23floatingactionbutton .group-2-8rxBDj {
  background-color: transparent;
  height: 22px;
  left: 103px;
  position: absolute;
  top: 22px;
  width: 212px;
}
.a23floatingactionbutton .group-2-Vcx2nk {
  background-color: transparent;
  height: 22px;
  left: 103px;
  position: absolute;
  top: 22px;
  width: 198px;
}
.a23floatingactionbutton .group-2-iqovnx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 200px;
}
.a23floatingactionbutton .group-2-sG0EgU {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 273px;
}
.a23floatingactionbutton .group-7myxl2 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a23floatingactionbutton .group-C61RwL {
  background-color: transparent;
  height: 886px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 1240px;
}
.a23floatingactionbutton .group-Px5YAv {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100px;
}
.a23floatingactionbutton .group-U3E5ew {
  background-color: transparent;
  height: 24px;
  left: 10px;
  position: relative;
  top: 5px;
  width: 136px;
}
.a23floatingactionbutton .group-Whaw1q {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 306px;
}
.a23floatingactionbutton .group-aGJGcy {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 315px;
}
.a23floatingactionbutton .group-g7bCJc {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a23floatingactionbutton .group-k4n166 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100px;
}
.a23floatingactionbutton .group-t1YvkM {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}
.a23floatingactionbutton .group-w42Is4 {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a23floatingactionbutton .group-xDfp5o {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 269px;
}
.a23floatingactionbutton .guide-NOXmfT {
  background-color: transparent;
  height: 885px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 1240px;
}
.a23floatingactionbutton .guide-form-al1linecmt-ks8pr1 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 115px;
  width: 269px;
}
.a23floatingactionbutton .guide-form-ction1line-HD4lFO {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 3px;
  width: 349px;
}
.a23floatingactionbutton .guide-form-ction1line-ZtS6O8 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 112px;
  width: 273px;
}
.a23floatingactionbutton .guide-form-ction1line-ks8pr1 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 143px;
  width: 200px;
}
.a23floatingactionbutton .guide-form-e-subtitle-M4m0F6 {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a23floatingactionbutton .guide-form-e-subtitle-NQFHpi {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a23floatingactionbutton .guide-form-e-subtitle-ZtS6O8 {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 57px;
}
.a23floatingactionbutton .guide-form-me-imagebg-Gajm0e {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a23floatingactionbutton .guide-form-ormal1line-2fuXJs {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 56px;
  width: 106px;
}
.a23floatingactionbutton .guide-form-ormal1line-4oxXRc {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 87px;
  width: 178px;
}
.a23floatingactionbutton .guide-form-ormal1line-HD4lFO {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 59px;
  width: 106px;
}
.a23floatingactionbutton .guide-form-ormal1line-ZCCKQX {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 84px;
  width: 162px;
}
.a23floatingactionbutton .guide-form-ormal1line-ZtS6O8 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 100px;
}
.a23floatingactionbutton .guide-form-ormal1line-ks8pr1 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 31px;
  width: 100px;
}
.a23floatingactionbutton .guide-form-ormal2line-M4m0F6 {
  background-color: transparent;
  height: 44px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 315px;
}
.a23floatingactionbutton .guide-form-ormal2line-NQFHpi {
  background-color: transparent;
  height: 44px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 306px;
}
.a23floatingactionbutton .guide-meas--spacing-1-HZAI7N {
  background-color: transparent;
  height: 57px;
  left: 2px;
  position: relative;
  top: 0px;
  width: 27px;
}
.a23floatingactionbutton .guide-meas--spacing-2-UxBows {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: relative;
  top: 2px;
  width: 60px;
}
.a23floatingactionbutton .guide-meas--spacing-3-PBbvTm {
  background-color: transparent;
  height: 20px;
  left: 8px;
  position: absolute;
  top: 213px;
  width: 21px;
}
.a23floatingactionbutton .guide-meas--spacing-3-THm08Q {
  background-color: transparent;
  height: 20px;
  left: 8px;
  position: absolute;
  top: 33px;
  width: 21px;
}
.a23floatingactionbutton .guide-meas--spacing-3-lo42t6 {
  background-color: transparent;
  height: 29px;
  left: 211px;
  position: absolute;
  top: 7px;
  width: 12px;
}
.a23floatingactionbutton .guide-meas--spacing-3-rixyUT {
  background-color: transparent;
  height: 29px;
  left: 31px;
  position: absolute;
  top: 7px;
  width: 12px;
}
.a23floatingactionbutton .guide-meas-e-vertical-k236Jm {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-line-08DB1567-DDEF-48C6-A2B8-6F081F760F7A@2x.png);
  background-size: 100% 100%;
  height: 117px;
  left: 71px;
  position: absolute;
  top: 72px;
  width: 1px;
}
.a23floatingactionbutton .guide-meas-e-vertical-pjqr1P {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-line-08DB1567-DDEF-48C6-A2B8-6F081F760F7A@2x.png);
  background-size: 100% 100%;
  height: 117px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 1px;
}
.a23floatingactionbutton .guide-meas-eft-size-1-rixyUT {
  background-color: transparent;
  height: 168px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 29px;
}
.a23floatingactionbutton .guide-meas-ght-size-2-pjqr1P {
  background-color: transparent;
  height: 72px;
  left: 194px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.a23floatingactionbutton .guide-meas-horizontal-k236Jm {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-line-DFA436C9-0FFB-437D-A9DC-06E0DAAC3ED1@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 73px;
  position: absolute;
  top: 71px;
  width: 119px;
}
.a23floatingactionbutton .guide-meas-horizontal-pjqr1P {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-line-DFA436C9-0FFB-437D-A9DC-06E0DAAC3ED1@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 73px;
  position: absolute;
  top: 0px;
  width: 119px;
}
.a23floatingactionbutton .guide-meas-tom-size-2-pjqr1P {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 191px;
  width: 72px;
}
.a23floatingactionbutton .guide-meas-top-size-1-rixyUT {
  background-color: transparent;
  height: 29px;
  left: 43px;
  position: absolute;
  top: 7px;
  width: 168px;
}
.a23floatingactionbutton .guide-measure-area-pjqr1P {
  background-color: rgba(255,0,204,0.37);
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.a23floatingactionbutton .guide-numb-ring-image-XjX2Of {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-oval-AE53E54A-67B5-4288-A058-E1B6C9174CA5@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 86px;
  position: absolute;
  top: 92px;
  width: 22px;
}
.a23floatingactionbutton .guide-numb-ring-shape-XjX2Of {
  background-color: transparent;
  background-image: url(../img/2-2-contained-button-oval-4C30588B-7998-4258-A378-E83D134EDA46@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 59px;
  position: absolute;
  top: 62px;
  width: 22px;
}
.a23floatingactionbutton .guide-numbering-icon-13N3y0 {
  background-color: transparent;
  background-image: url(../img/2-2-contained-button-oval-4C30588B-7998-4258-A378-E83D134EDA46@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a23floatingactionbutton .guide-numbering-icon-mctxnR {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-oval-AE53E54A-67B5-4288-A058-E1B6C9174CA5@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a23floatingactionbutton .guide-property-13N3y0 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .guide-property-mctxnR {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .guide-subject-image-PHONBE {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a23floatingactionbutton .guide-subject-shape-5iy7GR {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a23floatingactionbutton .history-k5CNv8 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .image-NOXmfT {
  background-color: transparent;
  height: 350px;
  left: 735px;
  position: absolute;
  top: 479px;
  width: 505px;
}
.a23floatingactionbutton .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a23floatingactionbutton .light-theme-5iy7GR {
  background-color: transparent;
  height: 72px;
  left: 20px;
  position: absolute;
  top: 246px;
  width: 465px;
}
.a23floatingactionbutton .measure-hh1Mvx {
  background-color: transparent;
  height: 325px;
  left: 201px;
  position: absolute;
  top: 252px;
  width: 321px;
}
.a23floatingactionbutton .mobile-lig--title-add-Gajm0e {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-mobilelightthemeicon01actionbartitleadd-B4C0A541-B477-4BC2-9704-EEFFC765D7E4@2x.png);
  background-size: 100% 100%;
  height: 38px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 38px;
}
.a23floatingactionbutton .property-8E1LaF {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-8rxBDj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-BC55rZ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-CfpA4R {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-NL4miy {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-Q8Yv1e {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-Vcx2nk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-gdGgp2 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-j1Itqd {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-qi2wZK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-wE6sko {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-y3DrUd {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .rectangle-71GUGx {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 168px;
}
.a23floatingactionbutton .rectangle-B7iVyu {
  background-color: var(--electric-violet);
  height: 1px;
  left: 12px;
  position: absolute;
  top: 2px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-BoSzu8 {
  background-color: var(--electric-violet);
  height: 1px;
  left: 12px;
  position: absolute;
  top: 16px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-DCViej {
  background-color: var(--razzle-dazzle-rose);
  height: 167px;
  left: 24px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-FNKqeU {
  background-color: var(--electric-violet);
  height: 9px;
  left: 11px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-Funbio {
  background-color: rgba(255,0,204,1.0);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-H8h5Db {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 59px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-HM8duY {
  background-color: var(--electric-violet);
  height: 9px;
  left: 11px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-Mxhf37 {
  background-color: var(--electric-violet);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 12px;
}
.a23floatingactionbutton .rectangle-NvDUgY {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 20px;
  position: absolute;
  top: 167px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-WDWiUG {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 167px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-ZetOxt {
  background-color: var(--electric-violet);
  height: 1px;
  left: 12px;
  position: absolute;
  top: 5px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-aI4prv {
  background-color: rgba(51,204,0,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-bJVFuc {
  background-color: rgba(255,0,204,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 72px;
}
.a23floatingactionbutton .rectangle-g0xdSP {
  background-color: rgba(51,204,0,1.0);
  height: 57px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-gdv3Sx {
  background-color: var(--electric-violet);
  height: 14px;
  left: 16px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-hoSvTe {
  background-color: rgba(255,0,204,1.0);
  height: 72px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-ln0S8c {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .rectangle-nDDPtE {
  background-color: rgba(51,204,0,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-nq7eUi {
  background-color: var(--electric-violet);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 12px;
}
.a23floatingactionbutton .rectangle-omhA2L {
  background-color: var(--electric-violet);
  height: 1px;
  left: 12px;
  position: absolute;
  top: 13px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-pqJ3BF {
  background-color: var(--electric-violet);
  height: 8px;
  left: 16px;
  position: absolute;
  top: 5px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-r8xbBE {
  background-color: var(--electric-violet);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-rLag01 {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-t6MGJg {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 20px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-vliTTm {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 60px;
}
.a23floatingactionbutton .rectangle-wTZ6v1 {
  background-color: rgba(255,0,204,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-wzml5T {
  background-color: rgba(255,0,204,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 71px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-xTtMG3 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-xeFgIB {
  background-color: var(--electric-violet);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-yOfMWs {
  background-color: rgba(255,0,204,1.0);
  height: 9px;
  left: 71px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .shape-NOXmfT {
  background-color: transparent;
  height: 459px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a23floatingactionbutton .size-XjX2Of {
  background-color: transparent;
  height: 233px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 223px;
}
.a23floatingactionbutton .size-xUDzDj {
  background-color: transparent;
  height: 227px;
  left: 91px;
  position: absolute;
  top: 98px;
  width: 223px;
}
.a23floatingactionbutton .spacing-XjX2Of {
  background-color: transparent;
  height: 38px;
  left: 223px;
  position: absolute;
  top: 287px;
  width: 60px;
}
.a23floatingactionbutton .spacing-xUDzDj {
  background-color: transparent;
  height: 57px;
  left: 283px;
  position: absolute;
  top: 230px;
  width: 38px;
}
.a23floatingactionbutton .symbol-hh1Mvx {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-2-03measurew360mpl023floatingactionbutton-A852CB0F-3A6A-42A4-978A-73AAEC5B698D@2x.png);
  background-size: 100% 100%;
  height: 249px;
  left: 232px;
  position: absolute;
  top: 290px;
  width: 252px;
}
.a23floatingactionbutton .tag-update-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 1230px;
  position: absolute;
  top: 81px;
  width: 156px;
}
.a23floatingactionbutton .text-94tRfz {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a23floatingactionbutton .text-EEe8Q9 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a23floatingactionbutton .text-Lrpeyl {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a23floatingactionbutton .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .text-jsxPBh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .text-mzoW6Q {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .text-wjU5ux {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .textupdate-XjX2Of {
  background-color: transparent;
  height: 235px;
  left: 6px;
  position: absolute;
  top: 33px;
  width: 308px;
}
.a23floatingactionbutton .uadf8ub9bc-0uc900-nav-hh1Mvx {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 841px;
  width: 1240px;
}
.a23floatingactionbutton .updated-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .v-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-1line-8rxBDj {
  background-color: transparent;
  height: auto;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-1line-Vcx2nk {
  background-color: transparent;
  height: auto;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-2line-J0iXTD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-2line-xT3YZS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-8E1LaF {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 169px;
}
.a23floatingactionbutton .value-BC55rZ {
  background-color: transparent;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-BoSzu8 {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a23floatingactionbutton .value-CfpA4R {
  background-color: transparent;
  height: 22px;
  left: 31px;
  position: absolute;
  top: 0px;
  width: 169px;
}
.a23floatingactionbutton .value-NL4miy {
  background-color: transparent;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-NvDUgY {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 77px;
  width: 17px;
}
.a23floatingactionbutton .value-Q8Yv1e {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-bcoe3P {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-cdz5Mj {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-gdGgp2 {
  background-color: transparent;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-gxk9iq {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-j1Itqd {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-nDDPtE {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 19px;
  width: 15px;
}
.a23floatingactionbutton .value-omhA2L {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a23floatingactionbutton .value-qi2wZK {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-r8xbBE {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.a23floatingactionbutton .value-rLag01 {
  background-color: transparent;
  height: 18px;
  left: 75px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a23floatingactionbutton .value-wE6sko {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-wTZ6v1 {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 27px;
  width: 17px;
}
.a23floatingactionbutton .value-xeFgIB {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.a23floatingactionbutton .value-y3DrUd {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 245px;
}
.a23floatingactionbutton .version-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .web-app-mK9PxT {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x-BC55rZ {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-FMScmA {
  background-color: transparent;
  height: auto;
  left: 233px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-GaHrzM {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-GaqsYK {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-J0iXTD {
  background-color: transparent;
  height: auto;
  left: 192px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-Jgwktu {
  background-color: transparent;
  height: auto;
  left: 157px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-NL4miy {
  background-color: transparent;
  height: auto;
  left: 156px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-Q8Yv1e {
  background-color: transparent;
  height: auto;
  left: 117px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-anST8v {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-bcoe3P {
  background-color: transparent;
  height: auto;
  left: 163px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-cdz5Mj {
  background-color: transparent;
  height: auto;
  left: 239px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-gdGgp2 {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-gxk9iq {
  background-color: transparent;
  height: auto;
  left: 163px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-j1Itqd {
  background-color: transparent;
  height: auto;
  left: 172px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-mfNoWj {
  background-color: transparent;
  height: auto;
  left: 157px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-qi2wZK {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-wE6sko {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-xT3YZS {
  background-color: transparent;
  height: auto;
  left: 206px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-8lgNXR {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-9bg0BZ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-Aql15e {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-BY6o98 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-Funbio {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-aQHb0y {
  background-color: transparent;
  height: auto;
  left: -2px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-kx75ra {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-mPxmtz {
  background-color: transparent;
  height: auto;
  left: -2px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-overview-WS6WQj {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x0-tsGs8D {
  background-color: transparent;
  height: auto;
  left: -2px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-xTtMG3 {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x1-0adN7T {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a23floatingactionbutton .x1-LGtOaX {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a23floatingactionbutton .x1-app-bar-eLzewR {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x1-cOfhEx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a23floatingactionbutton .x1-waTHvH {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a23floatingactionbutton .x10-search-YPkNvM {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x11-toast-xiTBtP {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x12-text-fields-dExET3 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x13-view-controls-MTh05c {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x14-description-ln0S8c {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x15-notification-bad-Nlwdug {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x16-thumbnail-be2hM8 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x17-copy-paste-034OGS {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x2-03-image-icon-add-PHONBE {
  background-color: transparent;
  height: 48px;
  left: 52px;
  position: absolute;
  top: 84px;
  width: 48px;
}
.a23floatingactionbutton .x2-03-keysc-tionbutton-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a23floatingactionbutton .x2-03-keysc-tionbutton-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a23floatingactionbutton .x2-3-floating-actio-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x2-buttons-0lS04a {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x3-controllers-h9KJK1 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x4-dialogs-gagmKd {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x5-dividers-OzTxVf {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x6-lists-4BRmK3 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x7-no-item-sh6abE {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x8-progress-xvOUMU {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x9-scrolling-qxqUQ7 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.samsungonekorean-400-normal-alabaster-18px {
  color: rgba(250,250,250,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-400-normal-gray-18px {
  color: var(--gray);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-masala-18px {
  color: var(--masala);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-periwinkle-18px {
  color: rgba(193,206,254,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-royal-blue-18px {
  color: var(--royal-blue);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-600-normal-black-22px {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 22px;
}
.samsungonekorean-700-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-700-normal-white-15px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --electric-violet: rgba(102,0,255,1.0);
  --gray: rgba(145,145,145,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}