/* screen - a23floatingactionbutton */

.a23floatingactionbutton {
  background-color: rgba(245,246,247,1.0);
  height: 1835px;
  position: relative;
  width: 1680px;
}
.a23floatingactionbutton .basic-component-gui-mK9PxT {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a23floatingactionbutton .btn-mwblLs:hover {

transform: scale(0.98);
}
.a23floatingactionbutton .btn-xpyOiF {
  background-color: rgba(0,204,153,1.0);
  border-radius: 5px;
  height: 34px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 138px;
}
.a23floatingactionbutton .btn-xpyOiF:hover {

transform: scale(0.98);
}
.a23floatingactionbutton .comment-5ATXsy {
  background-color: transparent;
  color: var(--gray);
  font-size: 18px;
  height: auto;
  left: 125px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .document-b-pdate-copy-iW85Z4 {
  background-color: rgba(0,204,153,0.2);
  height: 54px;
  left: 26px;
  position: absolute;
  top: 25px;
  width: 327px;
}
.a23floatingactionbutton .document-b-textupdate-cmvBWY {
  background-color: rgba(0,204,153,0.2);
  height: 54px;
  left: 26px;
  position: absolute;
  top: 25px;
  width: 327px;
}
.a23floatingactionbutton .document-b-x-contents-5iy7GR {
  background-color: var(--white);
  border: 2px solid rgba(0,204,153,1.0);
  height: 459px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a23floatingactionbutton .document-b-x-contents-PHONBE {
  background-color: var(--white);
  border: 1px solid rgba(227,227,227,1.0);
  height: 350px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a23floatingactionbutton .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 2px solid rgba(0,204,153,1.0);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a23floatingactionbutton .document-b-x-contents-hh1Mvx {
  background-color: var(--white);
  border: 2px solid rgba(0,204,153,1.0);
  height: 829px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a23floatingactionbutton .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1710px;
  width: 274px;
}
.a23floatingactionbutton .fn-HjrBd9 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .fn-e74GgQ {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .fn-rRXoVw {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .general-5iy7GR {
  background-color: transparent;
  height: 345px;
  left: 20px;
  position: absolute;
  top: 84px;
  width: 465px;
}
.a23floatingactionbutton .general-ZtS6O8 {
  background-color: transparent;
  height: 134px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 465px;
}
.a23floatingactionbutton .gnb-bar02-buttons-C61RwL {
  background-color: var(--white);
  height: 1036px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnb-logo-LzW6K5 {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu-h-ory-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu0--iew-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu1--bar-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu10-rch-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu11-ast-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu12-lds-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu13-ols-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu14-ion-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu15-dge-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu16-ail-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu17-ste-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu2--s-selected-C4jokY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu2--s-selected-LzW6K5 {
  background-color: transparent;
  height: 171px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu3--ers-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu4--ogs-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu5--ers-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu6--sts-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu7--ems-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu8--ess-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a23floatingactionbutton .gnb-menu9--ing-normal-LzW6K5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a23floatingactionbutton .gnb-submenu-normal-C4jokY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a23floatingactionbutton .gnb-submenu-normal-ZBWQ9T {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a23floatingactionbutton .gnb-submenu-normal-swazGt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-0xl5pF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-6nx8n1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-FDtCmK {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-FkmYUp {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-L6bc6M {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-Nwas6R {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-Ok5nbz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-S5FxHu {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-SNyh98 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-SdM2v0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-T9Mxkb {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-UlrIiF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-dPvOAa {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-fU8x2r {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-jRd5IS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-k9bnqG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-pcOgP6 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-thsCgx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbmenu-zzkKTz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbsubmenu-WhZIV2 {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbsubmenu-XxJGJ5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gnbsubmenu-hmbz2g {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .gotohome-Pbwi2q {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .group-04w2zz {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a23floatingactionbutton .group-2-Blgiel {
  background-color: transparent;
  height: 22px;
  left: 103px;
  position: absolute;
  top: 22px;
  width: 198px;
}
.a23floatingactionbutton .group-2-FrfgJ2 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 349px;
}
.a23floatingactionbutton .group-2-MUIcZC {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 200px;
}
.a23floatingactionbutton .group-2-Rmxsol {
  background-color: transparent;
  height: 22px;
  left: 103px;
  position: absolute;
  top: 22px;
  width: 212px;
}
.a23floatingactionbutton .group-2-dR07Vt {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 273px;
}
.a23floatingactionbutton .group-C61RwL {
  background-color: transparent;
  height: 829px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 1240px;
}
.a23floatingactionbutton .group-Ci0onP {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 315px;
}
.a23floatingactionbutton .group-Raf3b4 {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 306px;
}
.a23floatingactionbutton .group-U3E5ew {
  background-color: transparent;
  height: 24px;
  left: 10px;
  position: relative;
  top: 5px;
  width: 118px;
}
.a23floatingactionbutton .group-bod4UR {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100px;
}
.a23floatingactionbutton .group-iA3KEl {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 269px;
}
.a23floatingactionbutton .group-iZFnmg {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100px;
}
.a23floatingactionbutton .group-j9xErX {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}
.a23floatingactionbutton .group-mHG0KU {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a23floatingactionbutton .group-rnmSeP {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a23floatingactionbutton .group-w42Is4 {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a23floatingactionbutton .guide-NOXmfT {
  background-color: transparent;
  height: 829px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a23floatingactionbutton .guide-form-1line-copy-cmvBWY {
  background-color: transparent;
  height: 44px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 315px;
}
.a23floatingactionbutton .guide-form-1line-copy-iW85Z4 {
  background-color: transparent;
  height: 44px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 306px;
}
.a23floatingactionbutton .guide-form-al1linecmt-PHONBE {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 267px;
  width: 269px;
}
.a23floatingactionbutton .guide-form-ction1line-PHONBE {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 295px;
  width: 200px;
}
.a23floatingactionbutton .guide-form-ction1line-StZ1zy {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 112px;
  width: 273px;
}
.a23floatingactionbutton .guide-form-ction1line-fhYGYA {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 155px;
  width: 349px;
}
.a23floatingactionbutton .guide-form-e-subtitle-cmvBWY {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a23floatingactionbutton .guide-form-e-subtitle-iW85Z4 {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a23floatingactionbutton .guide-form-me-imagebg-Gajm0e {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a23floatingactionbutton .guide-form-ormal1line-MSX7mg {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 239px;
  width: 178px;
}
.a23floatingactionbutton .guide-form-ormal1line-PHONBE {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 183px;
  width: 100px;
}
.a23floatingactionbutton .guide-form-ormal1line-StZ1zy {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 100px;
}
.a23floatingactionbutton .guide-form-ormal1line-bQmiij {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 56px;
  width: 106px;
}
.a23floatingactionbutton .guide-form-ormal1line-fhYGYA {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 211px;
  width: 106px;
}
.a23floatingactionbutton .guide-form-ormal1line-uZAZAQ {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 84px;
  width: 162px;
}
.a23floatingactionbutton .guide-form-title-copy-StZ1zy {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 57px;
}
.a23floatingactionbutton .guide-meas--spacing-1-HZAI7N {
  background-color: transparent;
  height: 72px;
  left: 242px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.a23floatingactionbutton .guide-meas--spacing-2-UxBows {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 242px;
  width: 72px;
}
.a23floatingactionbutton .guide-meas-e-vertical-k236Jm {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-line-BB6A94BC-FAB7-445C-BEE0-958CD66AE18E@2x.png);
  background-size: 100% 100%;
  height: 120px;
  left: 71px;
  position: absolute;
  top: 72px;
  width: 1px;
}
.a23floatingactionbutton .guide-meas-e-vertical-pjqr1P {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-line-BB6A94BC-FAB7-445C-BEE0-958CD66AE18E@2x.png);
  background-size: 100% 100%;
  height: 120px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 1px;
}
.a23floatingactionbutton .guide-meas-eft-size-1-rixyUT {
  background-color: transparent;
  height: 168px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 29px;
}
.a23floatingactionbutton .guide-meas-ght-size-2-pjqr1P {
  background-color: transparent;
  height: 72px;
  left: 193px;
  position: absolute;
  top: 0px;
  width: 29px;
}
.a23floatingactionbutton .guide-meas-horizontal-k236Jm {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-line-3489E3E9-E5D5-4FB5-861E-5E73854D6A3A@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 72px;
  position: absolute;
  top: 71px;
  width: 119px;
}
.a23floatingactionbutton .guide-meas-horizontal-pjqr1P {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-line-3489E3E9-E5D5-4FB5-861E-5E73854D6A3A@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 72px;
  position: absolute;
  top: 0px;
  width: 119px;
}
.a23floatingactionbutton .guide-meas-tom-size-2-pjqr1P {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 194px;
  width: 72px;
}
.a23floatingactionbutton .guide-meas-top-size-1-rixyUT {
  background-color: transparent;
  height: 29px;
  left: 31px;
  position: absolute;
  top: 7px;
  width: 168px;
}
.a23floatingactionbutton .guide-measure-area-HZAI7N {
  background-color: rgba(51,204,0,0.37);
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 168px;
}
.a23floatingactionbutton .guide-measure-area-UxBows {
  background-color: var(--azure-radiance-2);
  height: 240px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.a23floatingactionbutton .guide-measure-area-pjqr1P {
  background-color: rgba(255,0,204,0.37);
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.a23floatingactionbutton .guide-measure-area-rixyUT {
  background-color: rgba(255,51,255,0.37);
  height: 168px;
  left: 31px;
  position: absolute;
  top: 38px;
  width: 168px;
}
.a23floatingactionbutton .guide-numb-ring-image-XjX2Of {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-oval-19B48A04-0263-414A-97D1-2E3FDC02309D@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 80px;
  position: absolute;
  top: 86px;
  width: 22px;
}
.a23floatingactionbutton .guide-numb-ring-shape-XjX2Of {
  background-color: transparent;
  background-image: url(../img/2-2-contained-button-oval-98F8145E-0819-4BC7-B8B5-CFC312A8C828@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 58px;
  position: absolute;
  top: 60px;
  width: 22px;
}
.a23floatingactionbutton .guide-numbering-icon-13N3y0 {
  background-color: transparent;
  background-image: url(../img/2-2-contained-button-oval-98F8145E-0819-4BC7-B8B5-CFC312A8C828@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a23floatingactionbutton .guide-numbering-icon-mctxnR {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-oval-19B48A04-0263-414A-97D1-2E3FDC02309D@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a23floatingactionbutton .guide-property-13N3y0 {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .guide-property-mctxnR {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .guide-subject-image-PHONBE {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a23floatingactionbutton .guide-subject-shape-5iy7GR {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a23floatingactionbutton .history-k5CNv8 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .image-NOXmfT {
  background-color: transparent;
  height: 350px;
  left: 735px;
  position: absolute;
  top: 479px;
  width: 505px;
}
.a23floatingactionbutton .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a23floatingactionbutton .light-theme-ZtS6O8 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 162px;
  width: 465px;
}
.a23floatingactionbutton .light-theme-copy-ZtS6O8 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 266px;
  width: 465px;
}
.a23floatingactionbutton .measure-hh1Mvx {
  background-color: transparent;
  height: 316px;
  left: 207px;
  position: absolute;
  top: 257px;
  width: 309px;
}
.a23floatingactionbutton .mobile-lig--title-add-Gajm0e {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-mobilelightthemeicon01actionbartitleadd-4D8383DE-10FA-4DCB-8DA3-4612FAED9395@2x.png);
  background-size: 100% 100%;
  height: 38px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 38px;
}
.a23floatingactionbutton .property-1PUxhD {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-2K5nfg {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-3Joysz {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-5ATXsy {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-83rxw2 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-Blgiel {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-Rmxsol {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-Xn92O2 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-fGsRLM {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-fMA0Sn {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-twbdQg {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .property-xBXTdx {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .rectangle-71GUGx {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 168px;
}
.a23floatingactionbutton .rectangle-DCViej {
  background-color: var(--razzle-dazzle-rose);
  height: 167px;
  left: 24px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-Funbio {
  background-color: rgba(255,0,204,1.0);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-H8h5Db {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 71px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-NvDUgY {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 20px;
  position: absolute;
  top: 167px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-WDWiUG {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 167px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-aI4prv {
  background-color: rgba(51,204,0,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 71px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-bJVFuc {
  background-color: rgba(255,0,204,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 72px;
}
.a23floatingactionbutton .rectangle-g0xdSP {
  background-color: rgba(51,204,0,1.0);
  height: 72px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-hoSvTe {
  background-color: rgba(255,0,204,1.0);
  height: 72px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-ln0S8c {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a23floatingactionbutton .rectangle-nDDPtE {
  background-color: rgba(51,204,0,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-rLag01 {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-t6MGJg {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 20px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-vliTTm {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 72px;
}
.a23floatingactionbutton .rectangle-wTZ6v1 {
  background-color: rgba(255,0,204,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-wzml5T {
  background-color: rgba(255,0,204,1.0);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 71px;
  width: 9px;
}
.a23floatingactionbutton .rectangle-xTtMG3 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .rectangle-yOfMWs {
  background-color: rgba(255,0,204,1.0);
  height: 9px;
  left: 71px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a23floatingactionbutton .shape-NOXmfT {
  background-color: transparent;
  height: 459px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a23floatingactionbutton .size-XjX2Of {
  background-color: transparent;
  height: 206px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 199px;
}
.a23floatingactionbutton .size-xUDzDj {
  background-color: transparent;
  height: 230px;
  left: 79px;
  position: absolute;
  top: 86px;
  width: 222px;
}
.a23floatingactionbutton .spacing-XjX2Of {
  background-color: transparent;
  height: 278px;
  left: 199px;
  position: absolute;
  top: 38px;
  width: 72px;
}
.a23floatingactionbutton .spacing-xUDzDj {
  background-color: transparent;
  height: 72px;
  left: 31px;
  position: absolute;
  top: 206px;
  width: 278px;
}
.a23floatingactionbutton .symbol-hh1Mvx {
  background-color: transparent;
  background-image: url(../img/2-3-floating-action-button-2-03measurew360mpl023floatingactionbutton-7A603AA8-55DD-48EB-9888-DBB648642BA5@2x.png);
  background-size: 100% 100%;
  height: 240px;
  left: 226px;
  position: absolute;
  top: 286px;
  width: 240px;
}
.a23floatingactionbutton .tag-update-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 1230px;
  position: absolute;
  top: 81px;
  width: 138px;
}
.a23floatingactionbutton .text-94tRfz {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a23floatingactionbutton .text-EEe8Q9 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a23floatingactionbutton .text-Lrpeyl {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a23floatingactionbutton .text-P2WQVn {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .text-attwvW {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .text-cwySjD {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .updated-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 42px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .v-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-1PUxhD {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 61px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-1line-Blgiel {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 103px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-1line-Rmxsol {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 103px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-2K5nfg {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 61px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-2line-GS9xjH {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-2line-kvDKIM {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-3Joysz {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 245px;
}
.a23floatingactionbutton .value-5ATXsy {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 66px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-83rxw2 {
  background-color: transparent;
  height: 22px;
  left: 31px;
  position: absolute;
  top: 0px;
  width: 169px;
}
.a23floatingactionbutton .value-HjrBd9 {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-NvDUgY {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 77px;
  width: 17px;
}
.a23floatingactionbutton .value-Xn92O2 {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 116px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-e74GgQ {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 29px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-fGsRLM {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 55px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-fMA0Sn {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 119px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-nDDPtE {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 27px;
  width: 17px;
}
.a23floatingactionbutton .value-rLag01 {
  background-color: transparent;
  height: 18px;
  left: 75px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a23floatingactionbutton .value-rRXoVw {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-twbdQg {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 55px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .value-wTZ6v1 {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 27px;
  width: 17px;
}
.a23floatingactionbutton .value-xBXTdx {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 169px;
}
.a23floatingactionbutton .version-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  height: auto;
  left: 13px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .web-app-mK9PxT {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x-1PUxhD {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 100px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-2K5nfg {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 100px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-5ATXsy {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 117px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-GS9xjH {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 192px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-Gp04Iv {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 233px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-HjrBd9 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 163px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-LygNNE {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 23px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-MTxxoP {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 157px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-TqbkFi {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 157px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-Xn92O2 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 172px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-e74GgQ {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 239px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-eo2eh5 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 26px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-fGsRLM {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 94px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-fMA0Sn {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 156px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-kvDKIM {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 206px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-rRXoVw {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 163px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-twbdQg {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 94px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x-vXvIRc {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 26px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-8lgNXR {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-BY6o98 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-Funbio {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 27px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-kx75ra {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-mPxmtz {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -2px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x0-overview-WS6WQj {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x0-xTtMG3 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 27px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x1-0adN7T {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a23floatingactionbutton .x1-LGtOaX {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a23floatingactionbutton .x1-app-bar-eLzewR {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x1-cOfhEx {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a23floatingactionbutton .x1-waTHvH {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a23floatingactionbutton .x10-search-YPkNvM {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x11-toast-xiTBtP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x12-text-fields-dExET3 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x13-view-controls-MTh05c {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x14-description-ln0S8c {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x15-notification-bad-Nlwdug {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x16-thumbnail-be2hM8 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x17-copy-paste-034OGS {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x2-03-image-icon-add-PHONBE {
  background-color: transparent;
  height: 48px;
  left: 52px;
  position: absolute;
  top: 84px;
  width: 48px;
}
.a23floatingactionbutton .x2-03-keysc-tionbutton-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a23floatingactionbutton .x2-03-keysc-tionbutton-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a23floatingactionbutton .x2-3-floating-actio-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a23floatingactionbutton .x2-buttons-0lS04a {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x3-controllers-h9KJK1 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x4-dialogs-gagmKd {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x5-dividers-OzTxVf {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x6-lists-4BRmK3 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x7-no-item-sh6abE {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x8-progress-xvOUMU {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a23floatingactionbutton .x9-scrolling-qxqUQ7 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-5 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-6 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --alabaster: rgba(250,250,250,1.0);
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --electric-violet: rgba(102,0,255,1.0);
  --gray: rgba(145,145,145,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}