/* screen - a35reorder */

.a35reorder {
  background-color: rgba(245,246,247,1.0);
  height: 1931px;
  position: relative;
  width: 1680px;
}
.a35reorder .basic-8toWLI {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 10px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .basic-component-gui-tuZlmD {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a35reorder .btn-mwblLs:hover {

transform: scale(0.98);
}
.a35reorder .btn-zOzqsC {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 148px;
}
.a35reorder .btn-zOzqsC:hover {

transform: scale(0.98);
}
.a35reorder .dark-theme-ZWN8Ze {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 392px;
  width: 465px;
}
.a35reorder .dark-theme-xTFK6L {
  background-color: transparent;
  height: 53px;
  left: 20px;
  position: absolute;
  top: 266px;
  width: 465px;
}
.a35reorder .document-b-x-contents-EJYwOj {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 475px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a35reorder .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a35reorder .document-b-x-contents-ZWN8Ze {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 475px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a35reorder .document-b-x-contents-e95Q2C {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 349px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a35reorder .document-b-x-contents-xTFK6L {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 349px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a35reorder .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1806px;
  width: 274px;
}
.a35reorder .fn-Xbu3PS {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 163px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .fn-ahKlsN {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .fn-value-Xbu3PS {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 195px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .general-ZWN8Ze {
  background-color: transparent;
  height: 202px;
  left: 20px;
  position: absolute;
  top: 84px;
  width: 465px;
}
.a35reorder .general-xTFK6L {
  background-color: transparent;
  height: 76px;
  left: 20px;
  position: absolute;
  top: 84px;
  width: 465px;
}
.a35reorder .gnb-bar03--ontrollers-C61RwL {
  background-color: var(--white);
  height: 1294px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a35reorder .gnb-logo-NbnoCk {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a35reorder .gnb-menu-h-ory-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a35reorder .gnb-menu0--iew-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a35reorder .gnb-menu1--bar-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a35reorder .gnb-menu10-rch-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a35reorder .gnb-menu11-ast-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a35reorder .gnb-menu12-lds-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1037px;
  width: 320px;
}
.a35reorder .gnb-menu13-ols-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1080px;
  width: 320px;
}
.a35reorder .gnb-menu14-ion-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1123px;
  width: 320px;
}
.a35reorder .gnb-menu15-dge-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}
.a35reorder .gnb-menu16-ail-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1209px;
  width: 320px;
}
.a35reorder .gnb-menu17-ste-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1252px;
  width: 320px;
}
.a35reorder .gnb-menu2--ons-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a35reorder .gnb-menu3--s-selected-NbnoCk {
  background-color: transparent;
  height: 429px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a35reorder .gnb-menu3--s-selected-c2BPJy {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a35reorder .gnb-menu4--ogs-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a35reorder .gnb-menu5--ers-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a35reorder .gnb-menu6--sts-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a35reorder .gnb-menu7--ems-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a35reorder .gnb-menu8--ess-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a35reorder .gnb-menu9--ing-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a35reorder .gnb-submenu-normal-22nAqY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 301px;
  width: 320px;
}
.a35reorder .gnb-submenu-normal-2Y2Fo3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a35reorder .gnb-submenu-normal-3I6u9Z {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a35reorder .gnb-submenu-normal-AIW97J {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a35reorder .gnb-submenu-normal-Bxmhx5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 344px;
  width: 320px;
}
.a35reorder .gnb-submenu-normal-G6tpYU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a35reorder .gnb-submenu-normal-c2BPJy {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 387px;
  width: 320px;
}
.a35reorder .gnb-submenu-normal-cIkWst {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a35reorder .gnb-submenu-normal-sbFKuZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a35reorder .gnbmenu-ArHdpE {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-G2xthX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-GeTSeo {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-IEOo1r {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-LhaEpo {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-Olo6Us {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-QqLETx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-TNxIZZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-TXAYVP {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-WPBFkJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-dDgZSm {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-dlcNFs {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-jGZFxG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-lHaaux {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-lZCScQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-m6ShXT {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-sUvvMD {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-uv5wJV {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbmenu-yAOpZF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbsubmenu-5RPEn8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbsubmenu-IHHLuM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbsubmenu-LW5zWA {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbsubmenu-N7eWHI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbsubmenu-hUCUmS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbsubmenu-ky4KEh {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbsubmenu-rAQcei {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbsubmenu-wpMLN0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gnbsubmenu-y4pmDi {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .gotohome-9739sT {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a35reorder .group-1-C61RwL {
  background-color: transparent;
  height: 475px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 1240px;
}
.a35reorder .group-2-C61RwL {
  background-color: transparent;
  height: 390px;
  left: 380px;
  position: absolute;
  top: 1336px;
  width: 1240px;
}
.a35reorder .group-2-EQRTdC {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 179px;
}
.a35reorder .group-2-cu3muv {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 166px;
}
.a35reorder .group-2-czGaKS {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 375px;
}
.a35reorder .group-2-d6TVOB {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 359px;
}
.a35reorder .group-2-urYGEr {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 112px;
}
.a35reorder .group-2-xDTYwm {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 105px;
}
.a35reorder .group-4dufXo {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 31px;
  position: absolute;
  top: 0px;
  width: 68px;
}
.a35reorder .group-AKCXBq {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 56px;
}
.a35reorder .group-MftnvL {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a35reorder .group-UVYbK5 {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 69px;
}
.a35reorder .group-blxffZ {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 187px;
}
.a35reorder .group-mQVBY5 {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 31px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.a35reorder .group-rgZWWO {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100px;
}
.a35reorder .group-wX20mz {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a35reorder .group-xAEQVr {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a35reorder .guide-VyzZeT {
  background-color: transparent;
  height: 475px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a35reorder .guide-form-ction1line-myPxRJ {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 96px;
  width: 359px;
}
.a35reorder .guide-form-dwich1line-k9GKmV {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 26px;
  width: 375px;
}
.a35reorder .guide-form-e-subtitle-5gdtxg {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a35reorder .guide-form-e-subtitle-BrTPxq {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a35reorder .guide-form-e-subtitle-QRGOJg {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a35reorder .guide-form-e-subtitle-k9GKmV {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 57px;
}
.a35reorder .guide-form-e-subtitle-kRAyhs {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a35reorder .guide-form-e-subtitle-myPxRJ {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 68px;
  width: 57px;
}
.a35reorder .guide-form-me-imagebg-AI0AqJ {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a35reorder .guide-form-ormal-dark-5gdtxg {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 179px;
}
.a35reorder .guide-form-ormal-dark-BrTPxq {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 112px;
}
.a35reorder .guide-form-ormal1line-k9GKmV {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 54px;
  width: 187px;
}
.a35reorder .guide-form-ormal1line-myPxRJ {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 180px;
  width: 178px;
}
.a35reorder .guide-form-ormal1line-xbVe13 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 152px;
  width: 106px;
}
.a35reorder .guide-form-ormal1line-zxQl6m {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 124px;
  width: 100px;
}
.a35reorder .guide-form-rmal-light-QRGOJg {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 105px;
}
.a35reorder .guide-form-rmal-light-kRAyhs {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 166px;
}
.a35reorder .guide-meas--spacing-2-FAx870 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 84px;
  width: 24px;
}
.a35reorder .guide-meas--spacing-2-RVEe4B {
  background-color: transparent;
  height: 38px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 84px;
  width: 24px;
}
.a35reorder .guide-meas-e-vertical-9Qr7ek {
  background-color: transparent;
  background-image: url(../img/3-5-reorder-line-B6B9BA8D-FFDE-4381-AF31-AE201D01AA0C@2x.png);
  background-size: 100% 100%;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 1px;
}
.a35reorder .guide-meas-e-vertical-N3OUq4 {
  background-color: transparent;
  background-image: url(../img/3-5-reorder-line-B6B9BA8D-FFDE-4381-AF31-AE201D01AA0C@2x.png);
  background-size: 100% 100%;
  height: 15px;
  left: 47px;
  position: absolute;
  top: 38px;
  width: 1px;
}
.a35reorder .guide-meas-ght-size-1-9Qr7ek {
  background-color: transparent;
  height: 48px;
  left: 72px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  width: 38px;
}
.a35reorder .guide-meas-horizontal-9Qr7ek {
  background-color: transparent;
  background-image: url(../img/3-5-reorder-line-0AF84654-04C7-4DBC-AE07-49C120A4AE2A@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 48px;
  position: absolute;
  top: 53px;
  width: 24px;
}
.a35reorder .guide-meas-horizontal-N3OUq4 {
  background-color: transparent;
  background-image: url(../img/3-5-reorder-line-0AF84654-04C7-4DBC-AE07-49C120A4AE2A@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 48px;
  position: absolute;
  top: 100px;
  width: 24px;
}
.a35reorder .guide-meas-top-size-1-9Qr7ek {
  background-color: transparent;
  height: 38px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a35reorder .guide-measure-area-9Qr7ek {
  background-color: var(--razzle-dazzle-rose-2);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 48px;
}
.a35reorder .guide-measure-area-FAx870 {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a35reorder .guide-measure-area-RVEe4B {
  background-color: var(--azure-radiance-2);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a35reorder .guide-numb-ring-image-5TtQRw {
  background-color: transparent;
  background-image: url(../img/3-7-adddelete-button-oval-65FE23A2-9216-4F97-AE99-FA6197B1CA65@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 13px;
  position: absolute;
  top: 42px;
  width: 22px;
}
.a35reorder .guide-numb-ring-shape-e95Q2C {
  background-color: transparent;
  background-image: url(../img/3-9-slider-oval-D941682E-A084-4A00-97D5-2E523FB354D6@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 167px;
  position: absolute;
  top: 123px;
  width: 22px;
}
.a35reorder .guide-numbering-icon-cBmaYR {
  background-color: transparent;
  background-image: url(../img/3-7-adddelete-button-oval-65FE23A2-9216-4F97-AE99-FA6197B1CA65@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a35reorder .guide-numbering-icon-ugRRzt {
  background-color: transparent;
  background-image: url(../img/3-9-slider-oval-D941682E-A084-4A00-97D5-2E523FB354D6@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a35reorder .guide-property-cBmaYR {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .guide-property-ugRRzt {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .guide-subject-image-ZWN8Ze {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a35reorder .guide-subject-shape-xTFK6L {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a35reorder .guide-zUixHA {
  background-color: transparent;
  height: 349px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 715px;
}
.a35reorder .history-2LdC2w {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .image-VyzZeT {
  background-color: transparent;
  height: 475px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a35reorder .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a35reorder .light-theme-ZWN8Ze {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 314px;
  width: 465px;
}
.a35reorder .light-theme-xTFK6L {
  background-color: transparent;
  height: 53px;
  left: 20px;
  position: absolute;
  top: 188px;
  width: 465px;
}
.a35reorder .list-reorder-zUixHA {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 0px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a35reorder .measure-EJYwOj {
  background-color: transparent;
  height: 157px;
  left: 532px;
  position: absolute;
  top: 159px;
  width: 134px;
}
.a35reorder .mobile-lig-er-reorder-AI0AqJ {
  background-color: transparent;
  background-image: url(../img/3-5-reorder-mobilelighttheme03controllersreorderreorder-8FE2C36F-7543-49AB-871B-D06A8ACB1E5B@2x.png);
  background-size: 100% 100%;
  height: 27px;
  left: 15px;
  position: absolute;
  top: 10px;
  width: 17px;
}
.a35reorder .page-name-8toWLI {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 48px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .property-2kBbGw {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .property-2uPCDW {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .property-4dufXo {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .property-803R09 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .property-AKCXBq {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .property-LfgJQu {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .property-UVYbK5 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .property-Xbu3PS {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .property-ZdIR5s {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .property-mQVBY5 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .rectangle-HCSaOX {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a35reorder .rectangle-J8EOmL {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a35reorder .rectangle-McsmKA {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 31px;
  width: 48px;
}
.a35reorder .rectangle-SRxN7x {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 47px;
  position: absolute;
  top: 27px;
  width: 1px;
}
.a35reorder .rectangle-Z8nzuG {
  background-color: var(--razzle-dazzle-rose);
  height: 48px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a35reorder .rectangle-fgJJAI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a35reorder .rectangle-kIfKPL {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 23px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a35reorder .rectangle-lRoigh {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 23px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a35reorder .rectangle-nhIdoN {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 27px;
  width: 1px;
}
.a35reorder .rectangle-q6ylB3 {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 6px;
  width: 24px;
}
.a35reorder .rectangle-xN7PL2 {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 6px;
  width: 24px;
}
.a35reorder .rectangle-xvV5tc {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 2px;
  position: absolute;
  top: 47px;
  width: 9px;
}
.a35reorder .rectangle-zl9zEM {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a35reorder .shape-zUixHA {
  background-color: transparent;
  height: 349px;
  left: 735px;
  position: absolute;
  top: 41px;
  width: 505px;
}
.a35reorder .size-5TtQRw {
  background-color: transparent;
  height: 101px;
  left: 24px;
  position: absolute;
  top: 0px;
  width: 110px;
}
.a35reorder .spacing-5TtQRw {
  background-color: transparent;
  height: 122px;
  left: 72px;
  position: absolute;
  top: 35px;
  width: 24px;
}
.a35reorder .spacing-gxtUO0 {
  background-color: transparent;
  height: 122px;
  left: 0px;
  position: absolute;
  top: 35px;
  width: 24px;
}
.a35reorder .symbol-EJYwOj {
  background-color: transparent;
  background-image: url(../img/3-5-reorder-3-05measurew360mpl035reorder1-C455205F-1CB7-408E-A78A-77F1F9101E8C@2x.png);
  background-size: 100% 100%;
  height: 84px;
  left: 88px;
  position: absolute;
  top: 194px;
  width: 540px;
}
.a35reorder .symbol-e95Q2C {
  background-color: transparent;
  background-image: url(../img/3-5-reorder-3-05measurew360mpl035reorder2-A6CD1243-9F50-4469-9119-56E23965A70F@2x.png);
  background-size: 100% 100%;
  height: 227px;
  left: 178px;
  position: absolute;
  top: 61px;
  width: 360px;
}
.a35reorder .tag-refer-V6KZ2v {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 100px;
  width: 148px;
}
.a35reorder .text-1kUsAP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a35reorder .text-Ky9CWU {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .text-O0LefW {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .text-Pp688r {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .text-RVH3YE {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .text-Uu7Mzk {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a35reorder .text-WgMvFS {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .text-ox4YmV {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a35reorder .text-rv5ax2 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a35reorder .text-vxVzu7 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a35reorder .text-w6x5Hk {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .text-wcFco8 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a35reorder .text-x8kmvO {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a35reorder .text-xccnZw {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a35reorder .text-xqVvzv {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a35reorder .value-2kBbGw {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 116px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .value-2uPCDW {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 255px;
}
.a35reorder .value-803R09 {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 91px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .value-D2U4Uu {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .value-JMPI4E {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .value-LfgJQu {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 55px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .value-Xbu3PS {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 63px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .value-ZdIR5s {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 61px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .value-ahKlsN {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 29px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .value-dVVKVs {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .value-lA9WoL {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .value-nhIdoN {
  background-color: transparent;
  height: 18px;
  left: 16px;
  position: absolute;
  top: 7px;
  width: 16px;
}
.a35reorder .value-zl9zEM {
  background-color: transparent;
  height: 18px;
  left: 14px;
  position: absolute;
  top: 15px;
  width: 16px;
}
.a35reorder .web-app-tuZlmD {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x-2kBbGw {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 172px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-4dufXo {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 99px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-803R09 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 181px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-AKCXBq {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 160px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-Bsba2v {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 369px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-I1p5BK {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 23px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-KRUIGz {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 363px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-LfgJQu {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 94px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-UVYbK5 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 173px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-Xbu3PS {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 189px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-ZdIR5s {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 100px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-ahKlsN {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 249px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-mQVBY5 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 106px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x-mXVc4o {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 243px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x0-4xs4Zm {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -1px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x0-HCSaOX {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 4px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x0-J8EOmL {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 4px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x0-agBbFW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x0-overview-C0NYNd {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x1-1bBK6G {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a35reorder .x1-LWQpAI {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a35reorder .x1-app-bar-8c9P3x {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x1-aqwxRV {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a35reorder .x1-fvZB1m {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a35reorder .x10-search-ytWI9F {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x11-toast-qfulEL {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x12-text-fields-ewrGUe {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x13-view-controls-ckBoFN {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x14-description-fgJJAI {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x15-notification-bad-JAdNZz {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x16-thumbnail-xTZt5M {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x17-copy-paste-lj8FO1 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x2-buttons-vJb7j6 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x3-05-image-on-reorder-myPxRJ {
  background-color: transparent;
  height: 48px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a35reorder .x3-05-keysc-5-reorder1-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a35reorder .x3-05-keysc-5-reorder1-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a35reorder .x3-5-reorder-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a35reorder .x3-controllers-uL5vu7 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x4-dialogs-x8V6XT {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x5-dividers-1Wx1GJ {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x6-lists-olg0va {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x7-no-item-1PU5s0 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x8-progress-O7BMdA {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a35reorder .x9-scrolling-xzxYH2 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid rgba(237,237,237,1.0);
}
.border-class-2 {
  border: 1px solid rgba(221,221,221,1.0);
}
.border-class-3 {
  border: 1px solid rgba(135,135,135,1.0);
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-5 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-6 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --razzle-dazzle-rose-2: rgba(255,51,255,0.37);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}