/* screen - a37adddeletebutton */

.a37adddeletebutton {
  background-color: rgba(245,246,247,1.0);
  height: 1834px;
  position: relative;
  width: 1680px;
}
.a37adddeletebutton .basic-8toWLI {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 14px;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .basic-component-gui-tuZlmD {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a37adddeletebutton .btn-mwblLs:hover {

transform: scale(0.98);
}
.a37adddeletebutton .btn-zOzqsC {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 148px;
}
.a37adddeletebutton .btn-zOzqsC:hover {

transform: scale(0.98);
}
.a37adddeletebutton .comment-C1MoAm {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .comment-JQZTVD {
  background-color: transparent;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .comment-TnPxep {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .comment-dOoR6z {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .comment-jZZgEg {
  background-color: transparent;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .comment-zW6Pky {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .document-b-x-contents-PHONBE {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 404px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a37adddeletebutton .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a37adddeletebutton .document-b-x-contents-anTBke {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 404px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a37adddeletebutton .document-b-x-contents-hh1Mvx {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 828px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a37adddeletebutton .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1709px;
  width: 274px;
}
.a37adddeletebutton .fn-bD4K81 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .fn-hZcYeM {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .general-PHONBE {
  background-color: transparent;
  height: 219px;
  left: 20px;
  position: absolute;
  top: 152px;
  width: 465px;
}
.a37adddeletebutton .general-anTBke {
  background-color: transparent;
  height: 219px;
  left: 20px;
  position: absolute;
  top: 152px;
  width: 465px;
}
.a37adddeletebutton .gnb-bar03--ontrollers-C61RwL {
  background-color: var(--white);
  height: 1294px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnb-logo-NbnoCk {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu-h-ory-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu0--iew-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu1--bar-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu10-rch-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu11-ast-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu12-lds-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1037px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu13-ols-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1080px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu14-ion-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1123px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu15-dge-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu16-ail-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1209px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu17-ste-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1252px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu2--ons-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu3--s-selected-NbnoCk {
  background-color: transparent;
  height: 429px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu3--s-selected-c2BPJy {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu4--ogs-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu5--ers-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu6--sts-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu7--ems-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu8--ess-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a37adddeletebutton .gnb-menu9--ing-normal-NbnoCk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a37adddeletebutton .gnb-submenu-normal-22nAqY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 301px;
  width: 320px;
}
.a37adddeletebutton .gnb-submenu-normal-2Y2Fo3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a37adddeletebutton .gnb-submenu-normal-3I6u9Z {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a37adddeletebutton .gnb-submenu-normal-AIW97J {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a37adddeletebutton .gnb-submenu-normal-Bxmhx5 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 344px;
  width: 320px;
}
.a37adddeletebutton .gnb-submenu-normal-G6tpYU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a37adddeletebutton .gnb-submenu-normal-c2BPJy {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 387px;
  width: 320px;
}
.a37adddeletebutton .gnb-submenu-normal-cIkWst {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a37adddeletebutton .gnb-submenu-normal-sbFKuZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-ArHdpE {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-G2xthX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-GeTSeo {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-IEOo1r {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-LhaEpo {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-Olo6Us {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-QqLETx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-TNxIZZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-TXAYVP {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-WPBFkJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-dDgZSm {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-dlcNFs {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-jGZFxG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-lHaaux {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-lZCScQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-m6ShXT {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-sUvvMD {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-uv5wJV {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbmenu-yAOpZF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbsubmenu-5RPEn8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbsubmenu-IHHLuM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbsubmenu-LW5zWA {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbsubmenu-N7eWHI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbsubmenu-hUCUmS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbsubmenu-ky4KEh {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbsubmenu-rAQcei {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbsubmenu-wpMLN0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gnbsubmenu-y4pmDi {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .gotohome-9739sT {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .group-141iC6 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a37adddeletebutton .group-2-XDuj7i {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 374px;
}
.a37adddeletebutton .group-2-d4VfEP {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 395px;
}
.a37adddeletebutton .group-7XRBIl {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 207px;
}
.a37adddeletebutton .group-9rhlf8 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a37adddeletebutton .group-C61RwL {
  background-color: transparent;
  height: 828px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 1240px;
}
.a37adddeletebutton .group-QPEzzU {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 203px;
}
.a37adddeletebutton .group-VQsoaz {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a37adddeletebutton .group-bolZve {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 203px;
}
.a37adddeletebutton .group-fpaxNj {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100px;
}
.a37adddeletebutton .group-hXdsxx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 203px;
}
.a37adddeletebutton .group-pLyHQS {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 197px;
}
.a37adddeletebutton .group-usKLtZ {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a37adddeletebutton .group-wX20mz {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a37adddeletebutton .group-wcKtZN {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100px;
}
.a37adddeletebutton .group-zuokQm {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 213px;
}
.a37adddeletebutton .guide-NOXmfT {
  background-color: transparent;
  height: 828px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a37adddeletebutton .guide-form-al1linecmt-0L1Ogu {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 197px;
  width: 203px;
}
.a37adddeletebutton .guide-form-al1linecmt-OA2qI2 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 128px;
  width: 203px;
}
.a37adddeletebutton .guide-form-al1linecmt-SeyJsU {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 197px;
  width: 203px;
}
.a37adddeletebutton .guide-form-al1linecmt-WNdNs3 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 169px;
  width: 207px;
}
.a37adddeletebutton .guide-form-al1linecmt-chLwC4 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 128px;
  width: 197px;
}
.a37adddeletebutton .guide-form-al1linecmt-wwsrag {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 169px;
  width: 213px;
}
.a37adddeletebutton .guide-form-ction1line-0L1Ogu {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 3px;
  width: 374px;
}
.a37adddeletebutton .guide-form-ction1line-SeyJsU {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 3px;
  width: 395px;
}
.a37adddeletebutton .guide-form-me-divider-0L1Ogu {
  background-color: rgba(0,0,0,0.08);
  height: 1px;
  left: 32px;
  position: absolute;
  top: 159px;
  width: 401px;
}
.a37adddeletebutton .guide-form-me-divider-SeyJsU {
  background-color: rgba(0,0,0,0.08);
  height: 1px;
  left: 32px;
  position: absolute;
  top: 159px;
  width: 401px;
}
.a37adddeletebutton .guide-form-me-divider-WNdNs3 {
  background-color: rgba(0,0,0,0.08);
  height: 1px;
  left: 32px;
  position: absolute;
  top: 118px;
  width: 401px;
}
.a37adddeletebutton .guide-form-me-divider-wwsrag {
  background-color: rgba(0,0,0,0.08);
  height: 1px;
  left: 32px;
  position: absolute;
  top: 118px;
  width: 401px;
}
.a37adddeletebutton .guide-form-me-imagebg-7euK7r {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a37adddeletebutton .guide-form-me-imagebg-wvKeiV {
  background-color: rgba(255,102,255,1.0);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a37adddeletebutton .guide-form-ormal1line-0L1Ogu {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 87px;
  width: 178px;
}
.a37adddeletebutton .guide-form-ormal1line-OA2qI2 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 31px;
  width: 100px;
}
.a37adddeletebutton .guide-form-ormal1line-SeyJsU {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 87px;
  width: 178px;
}
.a37adddeletebutton .guide-form-ormal1line-WNdNs3 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 59px;
  width: 106px;
}
.a37adddeletebutton .guide-form-ormal1line-chLwC4 {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 31px;
  width: 100px;
}
.a37adddeletebutton .guide-form-ormal1line-wwsrag {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 59px;
  width: 106px;
}
.a37adddeletebutton .guide-meas--spacing-2-HZAI7N {
  background-color: transparent;
  height: 38px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 170px;
  width: 24px;
}
.a37adddeletebutton .guide-meas--spacing-2-UxBows {
  background-color: transparent;
  height: 38px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 170px;
  width: 24px;
}
.a37adddeletebutton .guide-meas-e-vertical-THm08Q {
  background-color: transparent;
  background-image: url(../img/3-6-expand-button-line-C796826B-E788-4BFB-9E4F-9721F17FF952@2x.png);
  background-size: 100% 100%;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 1px;
}
.a37adddeletebutton .guide-meas-e-vertical-rixyUT {
  background-color: transparent;
  background-image: url(../img/3-6-expand-button-line-C796826B-E788-4BFB-9E4F-9721F17FF952@2x.png);
  background-size: 100% 100%;
  height: 18px;
  left: 47px;
  position: absolute;
  top: 38px;
  width: 1px;
}
.a37adddeletebutton .guide-meas-ght-size-1-rixyUT {
  background-color: transparent;
  height: 48px;
  left: 72px;
  overflow: hidden;
  position: absolute;
  top: 56px;
  width: 38px;
}
.a37adddeletebutton .guide-meas-horizontal-R71val {
  background-color: transparent;
  background-image: url(../img/3-4-onoff-switch-line-AD68A7F8-E9F0-4A7F-B552-E7050FF6CDEC.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 540px;
}
.a37adddeletebutton .guide-meas-horizontal-THm08Q {
  background-color: transparent;
  background-image: url(../img/3-7-adddelete-button-line-EB2447C1-E47E-4F58-AA26-36398A0B2FEB@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 48px;
  position: absolute;
  top: 103px;
  width: 24px;
}
.a37adddeletebutton .guide-meas-horizontal-rixyUT {
  background-color: transparent;
  background-image: url(../img/3-7-adddelete-button-line-EB2447C1-E47E-4F58-AA26-36398A0B2FEB@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 48px;
  position: absolute;
  top: 56px;
  width: 24px;
}
.a37adddeletebutton .guide-meas-top-size-1-rixyUT {
  background-color: transparent;
  height: 38px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a37adddeletebutton .guide-measure-area-HZAI7N {
  background-color: var(--azure-radiance-2);
  height: 170px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a37adddeletebutton .guide-measure-area-THm08Q {
  background-color: var(--razzle-dazzle-rose-2);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 142px;
  width: 48px;
}
.a37adddeletebutton .guide-measure-area-UxBows {
  background-color: var(--azure-radiance-2);
  height: 170px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a37adddeletebutton .guide-measure-area-rixyUT {
  background-color: var(--razzle-dazzle-rose-2);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 48px;
}
.a37adddeletebutton .guide-numb-ring-image-XjX2Of {
  background-color: transparent;
  background-image: url(../img/3-1-checkbox-oval-C18B9469-6185-4A2B-8440-B8F5F2D48C33@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 457px;
  position: absolute;
  top: 45px;
  width: 22px;
}
.a37adddeletebutton .guide-numb-ring-image-xUDzDj {
  background-color: transparent;
  background-image: url(../img/3-1-checkbox-oval-C18B9469-6185-4A2B-8440-B8F5F2D48C33@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 457px;
  position: absolute;
  top: 131px;
  width: 22px;
}
.a37adddeletebutton .guide-numbering-icon-mctxnR {
  background-color: transparent;
  background-image: url(../img/3-1-checkbox-oval-C18B9469-6185-4A2B-8440-B8F5F2D48C33@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a37adddeletebutton .guide-numbering-icon-zv9Qex {
  background-color: transparent;
  background-image: url(../img/3-1-checkbox-oval-C18B9469-6185-4A2B-8440-B8F5F2D48C33@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a37adddeletebutton .guide-property-mctxnR {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .guide-property-zv9Qex {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .guide-subject-image-PHONBE {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a37adddeletebutton .guide-subject-image-anTBke {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a37adddeletebutton .history-2LdC2w {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .image-E582nk {
  background-color: transparent;
  height: 404px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a37adddeletebutton .image-NOXmfT {
  background-color: transparent;
  height: 404px;
  left: 735px;
  position: absolute;
  top: 424px;
  width: 505px;
}
.a37adddeletebutton .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a37adddeletebutton .line-XjX2Of {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 122px;
  width: 540px;
}
.a37adddeletebutton .measure-hh1Mvx {
  background-color: transparent;
  height: 246px;
  left: 88px;
  position: absolute;
  top: 291px;
  width: 578px;
}
.a37adddeletebutton .mobile-lig-dd-del-add-7euK7r {
  background-color: transparent;
  background-image: url(../img/3-7-adddelete-button-mobilelighttheme03controllersadddeladd-083419D5-A24C-4765-BFC3-C3323C9D5FA6@2x.png);
  background-size: 100% 100%;
  height: 28px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 28px;
}
.a37adddeletebutton .mobile-lig-del-delete-wvKeiV {
  background-color: transparent;
  background-image: url(../img/3-7-adddelete-button-mobilelighttheme03controllersadddeldelete-BB3D3CF3-7E2F-4D3B-B412-DDCC3B7EC618@2x.png);
  background-size: 100% 100%;
  height: 3px;
  left: 10px;
  position: absolute;
  top: 22px;
  width: 27px;
}
.a37adddeletebutton .page-name-8toWLI {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 14px;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-0eC2VC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-10cxLn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-3wzf9b {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-C1MoAm {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-Hgc456 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-JQZTVD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-PK30DG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-TnPxep {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-VIn3nD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-dOoR6z {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-exFyzZ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-gWvn4t {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-jZZgEg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .property-zW6Pky {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .rectangle-2JsCBJ {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a37adddeletebutton .rectangle-2sPh6o {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 6px;
  width: 24px;
}
.a37adddeletebutton .rectangle-4OKkxj {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a37adddeletebutton .rectangle-71GUGx {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 31px;
  width: 48px;
}
.a37adddeletebutton .rectangle-H8h5Db {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 23px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a37adddeletebutton .rectangle-VuTKku {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 2px;
  position: absolute;
  top: 47px;
  width: 9px;
}
.a37adddeletebutton .rectangle-WDWiUG {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 47px;
  position: absolute;
  top: 27px;
  width: 1px;
}
.a37adddeletebutton .rectangle-eD0IDh {
  background-color: var(--razzle-dazzle-rose);
  height: 48px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a37adddeletebutton .rectangle-fgJJAI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a37adddeletebutton .rectangle-rLag01 {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 27px;
  width: 1px;
}
.a37adddeletebutton .rectangle-vliTTm {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 6px;
  width: 24px;
}
.a37adddeletebutton .rectangle-x3ts6u {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 23px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a37adddeletebutton .rectangle-xTtMG3 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.a37adddeletebutton .size-XjX2Of {
  background-color: transparent;
  height: 190px;
  left: 468px;
  position: absolute;
  top: 0px;
  width: 110px;
}
.a37adddeletebutton .spacing-XjX2Of {
  background-color: transparent;
  height: 208px;
  left: 516px;
  position: absolute;
  top: 38px;
  width: 24px;
}
.a37adddeletebutton .spacing-xUDzDj {
  background-color: transparent;
  height: 208px;
  left: 444px;
  position: absolute;
  top: 38px;
  width: 24px;
}
.a37adddeletebutton .symbol-hh1Mvx {
  background-color: transparent;
  background-image: url(../img/3-7-adddelete-button-3-07measurew360mpl037adddeletebutton-124D779B-DA8F-49D6-B021-DABE4A6EB946@2x.png);
  background-size: 100% 100%;
  height: 170px;
  left: 88px;
  position: absolute;
  top: 329px;
  width: 540px;
}
.a37adddeletebutton .tag-refer-V6KZ2v {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 100px;
  width: 148px;
}
.a37adddeletebutton .text-1kUsAP {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a37adddeletebutton .text-Uu7Mzk {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a37adddeletebutton .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .text-ox4YmV {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a37adddeletebutton .text-rv5ax2 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a37adddeletebutton .text-vxVzu7 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a37adddeletebutton .text-wcFco8 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a37adddeletebutton .text-x8kmvO {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a37adddeletebutton .text-xccnZw {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a37adddeletebutton .text-xqVvzv {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a37adddeletebutton .value-0eC2VC {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-10cxLn {
  background-color: transparent;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-3wzf9b {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 291px;
}
.a37adddeletebutton .value-4OKkxj {
  background-color: transparent;
  height: 18px;
  left: 14px;
  position: absolute;
  top: 15px;
  width: 16px;
}
.a37adddeletebutton .value-C1MoAm {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-Hgc456 {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-JQZTVD {
  background-color: transparent;
  height: auto;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-PK30DG {
  background-color: transparent;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-TnPxep {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-VIn3nD {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-bD4K81 {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-dOoR6z {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-exFyzZ {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-gWvn4t {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 270px;
}
.a37adddeletebutton .value-hZcYeM {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-jZZgEg {
  background-color: transparent;
  height: auto;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .value-rLag01 {
  background-color: transparent;
  height: 18px;
  left: 16px;
  position: absolute;
  top: 7px;
  width: 16px;
}
.a37adddeletebutton .value-zW6Pky {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .web-app-tuZlmD {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x-0eC2VC {
  background-color: transparent;
  height: auto;
  left: 172px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-10cxLn {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-5Nw7iB {
  background-color: transparent;
  height: auto;
  left: 279px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-C1MoAm {
  background-color: transparent;
  height: auto;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-Hgc456 {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-JQZTVD {
  background-color: transparent;
  height: auto;
  left: 93px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-PK30DG {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-TnPxep {
  background-color: transparent;
  height: auto;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-VIn3nD {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-atlKJT {
  background-color: transparent;
  height: auto;
  left: 258px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-bD4K81 {
  background-color: transparent;
  height: auto;
  left: 285px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-dOoR6z {
  background-color: transparent;
  height: auto;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-exFyzZ {
  background-color: transparent;
  height: auto;
  left: 172px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-hZcYeM {
  background-color: transparent;
  height: auto;
  left: 264px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-jTZGHx {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-jZZgEg {
  background-color: transparent;
  height: auto;
  left: 93px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-ugPE45 {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x-zW6Pky {
  background-color: transparent;
  height: auto;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x0-2JsCBJ {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x0-KCkgqj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x0-kx75ra {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x0-overview-C0NYNd {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x0-xTtMG3 {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x1-LGtOaX {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a37adddeletebutton .x1-app-bar-8c9P3x {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x1-cOfhEx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a37adddeletebutton .x1-sRrlcC {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a37adddeletebutton .x1-xZjPCc {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a37adddeletebutton .x10-search-ytWI9F {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x11-toast-qfulEL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x12-text-fields-ewrGUe {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x13-view-controls-ckBoFN {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x14-description-fgJJAI {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x15-notification-bad-JAdNZz {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x16-thumbnail-xTZt5M {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x17-copy-paste-lj8FO1 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x2-buttons-vJb7j6 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x3-07-image-con-delete-PHONBE {
  background-color: transparent;
  height: 48px;
  left: 52px;
  position: absolute;
  top: 84px;
  width: 48px;
}
.a37adddeletebutton .x3-07-image-icon-add-anTBke {
  background-color: transparent;
  height: 48px;
  left: 52px;
  position: absolute;
  top: 84px;
  width: 48px;
}
.a37adddeletebutton .x3-07-keysc-letebutton-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a37adddeletebutton .x3-07-keysc-letebutton-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a37adddeletebutton .x3-7-add-delete-but-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a37adddeletebutton .x3-controllers-uL5vu7 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x4-dialogs-x8V6XT {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x5-dividers-1Wx1GJ {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x6-lists-olg0va {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x7-no-item-1PU5s0 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x8-progress-O7BMdA {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a37adddeletebutton .x9-scrolling-xzxYH2 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid rgba(237,237,237,1.0);
}
.border-class-2 {
  border: 1px solid rgba(221,221,221,1.0);
}
.border-class-3 {
  border: 1px solid rgba(135,135,135,1.0);
}
.samsungonekorean-400-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-400-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-400-normal-gray-18px {
  color: rgba(145,145,145,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-masala-18px {
  color: var(--masala);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-royal-blue-16px {
  color: var(--royal-blue);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-400-normal-royal-blue-18px {
  color: var(--royal-blue);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-700-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-700-normal-black-22px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
}
.samsungonekorean-700-normal-white-15px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --razzle-dazzle-rose-2: rgba(255,51,255,0.37);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}