/* screen - a410multichoicedialog */

.a410multichoicedialog {
  background-color: rgba(245,246,247,1.0);
  height: 1535px;
  position: relative;
  width: 1680px;
}
.a410multichoicedialog .basic-8toWLI {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 10px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .basic-component-gui-OB1SiY {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a410multichoicedialog .btn-mwblLs:hover {

transform: scale(0.98);
}
.a410multichoicedialog .btn-zOzqsC {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 151px;
}
.a410multichoicedialog .btn-zOzqsC:hover {

transform: scale(0.98);
}
.a410multichoicedialog .document-b-x-contents-PHONBE {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 167px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a410multichoicedialog .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a410multichoicedialog .document-b-x-contents-hh1Mvx {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a410multichoicedialog .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1410px;
  width: 274px;
}
.a410multichoicedialog .gnb-bar04-dialogs-C61RwL {
  background-color: var(--white);
  height: 1810px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnb-logo-IFpddr {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu-h-ory-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu0--iew-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu1--bar-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu10-rch-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1467px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu11-ast-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1510px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu12-lds-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1553px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu13-ols-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1596px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu14-ion-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1639px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu15-dge-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1682px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu16-ail-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1725px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu17-ste-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1768px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu2--ons-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu3--ers-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu4--s-selected-F6tyJc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu4--s-selected-IFpddr {
  background-color: transparent;
  height: 945px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu5--ers-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1252px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu6--sts-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1295px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu7--ems-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1338px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu8--ess-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1381px;
  width: 320px;
}
.a410multichoicedialog .gnb-menu9--ing-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1424px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-3vlxr7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-541Yax {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 774px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-6eO6cv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-6wLP0c {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 516px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-CkATrQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 860px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-DpBjZd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 817px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-F6tyJc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 903px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-MZMfPh {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 301px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-QjhZ3h {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 645px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-Rw4FJv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 559px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-VF7y5n {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-aOGTeF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-askrDc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 344px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-dIgc7X {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 731px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-eTYwEa {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 688px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-fJP733 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 387px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-htvqUJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-jRf21I {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 602px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-nC7AnL {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-ogS940 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 473px;
  width: 320px;
}
.a410multichoicedialog .gnb-submenu-normal-p7x7de {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-8iDxRt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-A7XsLT {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-FYqcjZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-Kyb74v {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-MMc3iM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-PAywWV {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-bZCNXc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-gL2JAx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-hzcOuP {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-iVJDrt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-lLJ8dQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-n846FE {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-pfsUJP {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-qO9QRU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-qscMSY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-tNPiEI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-voSg9E {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-x362av {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbmenu-xLcVXS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-6gDKcU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-BeK4oU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-C0LORr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-DzkxYx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-IwJ2RN {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-JXnXN8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-MYwqko {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-SKWdZ3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-XwXC0Q {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-YKT2Zb {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-aTQfXv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-cmHiKF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-cqDLeq {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-d9exKB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-f9rB8b {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-fI7jXe {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-lnvuEa {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-o0x4FS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-o6GxFw {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-ueY5m4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gnbsubmenu-vqlAnH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .gotohome-KS0c9L {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .group-C61RwL {
  background-color: transparent;
  height: 529px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 1240px;
}
.a410multichoicedialog .group-Ix5u8M {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 68px;
}
.a410multichoicedialog .group-gBrDRH {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a410multichoicedialog .guide-NOXmfT {
  background-color: transparent;
  height: 529px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a410multichoicedialog .guide-form-e-subtitle-nNqdUC {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 35px;
}
.a410multichoicedialog .guide-form-note-link-nNqdUC {
  background-color: transparent;
  height: 22px;
  left: 100px;
  position: absolute;
  top: 28px;
  width: 333px;
}
.a410multichoicedialog .guide-form-te-referto-nNqdUC {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 68px;
}
.a410multichoicedialog .guide-meas--spacing-1-HZAI7N {
  background-color: transparent;
  height: 19px;
  left: 362px;
  position: absolute;
  top: 0px;
  width: 91px;
}
.a410multichoicedialog .guide-meas--spacing-1-UxBows {
  background-color: transparent;
  height: 24px;
  left: 362px;
  position: absolute;
  top: 0px;
  width: 97px;
}
.a410multichoicedialog .guide-meas--spacing-2-PrOnMa {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 24px;
}
.a410multichoicedialog .guide-meas--spacing-2-bWSJBi {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 18px;
}
.a410multichoicedialog .guide-meas--spacing-2-uhib2b {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 305px;
  width: 18px;
}
.a410multichoicedialog .guide-meas-e-vertical-THm08Q {
  background-color: transparent;
  background-image: url(../img/4-9-single-choice-dialog-line-00F5600F-59BC-4E03-8E32-03D7E355F7DE@2x.png);
  background-size: 100% 100%;
  height: 92px;
  left: 31px;
  position: absolute;
  top: 200px;
  width: 1px;
}
.a410multichoicedialog .guide-meas-e-vertical-bWSJBi {
  background-color: transparent;
  background-image: url(../img/4-9-single-choice-dialog-line-33F0892B-CAA7-44A4-83DB-A8146E48810C@2x.png);
  background-size: 100% 100%;
  height: 80px;
  left: 17px;
  position: absolute;
  top: 224px;
  width: 1px;
}
.a410multichoicedialog .guide-meas-e-vertical-rixyUT {
  background-color: transparent;
  background-image: url(../img/4-9-single-choice-dialog-line-00F5600F-59BC-4E03-8E32-03D7E355F7DE@2x.png);
  background-size: 100% 100%;
  height: 92px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 1px;
}
.a410multichoicedialog .guide-meas-e-vertical-uhib2b {
  background-color: transparent;
  background-image: url(../img/4-10-multi-choice-dialog-line-BCFF02D1-8EF2-4E9A-9679-F4A10EBE3727@2x.png);
  background-size: 100% 100%;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 224px;
  width: 1px;
}
.a410multichoicedialog .guide-meas-horizontal-IyVpS5 {
  background-color: transparent;
  background-image: url(../img/4-8-select-dialog-line-03152ECC-3840-49BB-AD60-F945C6849E64.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 360px;
}
.a410multichoicedialog .guide-meas-horizontal-R71val {
  background-color: transparent;
  background-image: url(../img/4-8-select-dialog-line-03152ECC-3840-49BB-AD60-F945C6849E64.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a410multichoicedialog .guide-meas-horizontal-wHzNgA {
  background-color: transparent;
  background-image: url(../img/4-8-select-dialog-line-03152ECC-3840-49BB-AD60-F945C6849E64.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 360px;
}
.a410multichoicedialog .guide-meas-tom-size-1-rixyUT {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 294px;
  width: 32px;
}
.a410multichoicedialog .guide-measure-area-HZAI7N {
  background-color: var(--harlequin-2);
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a410multichoicedialog .guide-measure-area-PBbvTm {
  background-color: rgba(255,51,255,0.37);
  height: 32px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 32px;
}
.a410multichoicedialog .guide-measure-area-PrOnMa {
  background-color: var(--azure-radiance-2);
  height: 224px;
  left: 0px;
  position: absolute;
  top: 107px;
  width: 24px;
}
.a410multichoicedialog .guide-measure-area-THm08Q {
  background-color: rgba(255,51,255,0.37);
  height: 32px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 32px;
}
.a410multichoicedialog .guide-measure-area-UxBows {
  background-color: var(--harlequin-2);
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a410multichoicedialog .guide-measure-area-bWSJBi {
  background-color: var(--azure-radiance-2);
  height: 224px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a410multichoicedialog .guide-measure-area-lo42t6 {
  background-color: rgba(255,51,255,0.37);
  height: 32px;
  left: 0px;
  position: absolute;
  top: 168px;
  width: 32px;
}
.a410multichoicedialog .guide-measure-area-rixyUT {
  background-color: rgba(255,51,255,0.37);
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}
.a410multichoicedialog .guide-measure-area-uhib2b {
  background-color: var(--azure-radiance-2);
  height: 224px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a410multichoicedialog .guide-numb-ring-image-XjX2Of {
  background-color: transparent;
  background-image: url(../img/4-13-date-picker-dialog-1-oval-2184513C-CE0F-4AE3-9629-B093940A19A1@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 7px;
  position: absolute;
  top: 108px;
  width: 22px;
}
.a410multichoicedialog .guide-numbering-icon-mctxnR {
  background-color: transparent;
  background-image: url(../img/4-13-date-picker-dialog-1-oval-2184513C-CE0F-4AE3-9629-B093940A19A1@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a410multichoicedialog .guide-property-mctxnR {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .guide-subject-image-PHONBE {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a410multichoicedialog .history-lZqxZq {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .image-NOXmfT {
  background-color: transparent;
  height: 167px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a410multichoicedialog .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a410multichoicedialog .line-XjX2Of {
  background-color: transparent;
  height: 113px;
  left: 0px;
  position: absolute;
  top: 163px;
  width: 360px;
}
.a410multichoicedialog .link-to-s6anI3 {
  background-color: transparent;
  color: rgba(145,145,145,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: 333px;
}
.a410multichoicedialog .measure-hh1Mvx {
  background-color: transparent;
  height: 449px;
  left: 178px;
  position: absolute;
  top: 40px;
  width: 459px;
}
.a410multichoicedialog .note-PHONBE {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 84px;
  width: 465px;
}
.a410multichoicedialog .page-name-8toWLI {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 48px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .rectangle-Bhyc4M {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a410multichoicedialog .rectangle-HMv543 {
  background-color: var(--harlequin);
  height: 24px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a410multichoicedialog .rectangle-KjxgkI {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a410multichoicedialog .rectangle-L5CI8h {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 17px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a410multichoicedialog .rectangle-RbvBTD {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 23px;
  width: 9px;
}
.a410multichoicedialog .rectangle-SZs6JA {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 24px;
}
.a410multichoicedialog .rectangle-SbikV7 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 17px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a410multichoicedialog .rectangle-UJxIvR {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 18px;
}
.a410multichoicedialog .rectangle-Vh3Boh {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a410multichoicedialog .rectangle-aI4prv {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 18px;
  width: 9px;
}
.a410multichoicedialog .rectangle-f2xiaC {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 31px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a410multichoicedialog .rectangle-g0xdSP {
  background-color: var(--harlequin);
  height: 19px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a410multichoicedialog .rectangle-hbfPBM {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 32px;
}
.a410multichoicedialog .rectangle-ipcerx {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 18px;
}
.a410multichoicedialog .rectangle-jfVx0y {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 23px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a410multichoicedialog .rectangle-nDDPtE {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a410multichoicedialog .rectangle-pTqVcy {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a410multichoicedialog .rectangle-sx61HR {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a410multichoicedialog .rectangle-tImTmL {
  background-color: var(--razzle-dazzle-rose);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a410multichoicedialog .refer-to-JkXvw7 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .size-XjX2Of {
  background-color: transparent;
  height: 330px;
  left: 18px;
  position: absolute;
  top: 119px;
  width: 32px;
}
.a410multichoicedialog .spacing-88xegd {
  background-color: transparent;
  height: 342px;
  left: 0px;
  position: absolute;
  top: 107px;
  width: 18px;
}
.a410multichoicedialog .spacing-XjX2Of {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 331px;
  width: 459px;
}
.a410multichoicedialog .spacing-fANvG6 {
  background-color: transparent;
  height: 342px;
  left: 50px;
  position: absolute;
  top: 107px;
  width: 18px;
}
.a410multichoicedialog .spacing-lp6PUc {
  background-color: transparent;
  height: 331px;
  left: 336px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a410multichoicedialog .spacing-xUDzDj {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 88px;
  width: 453px;
}
.a410multichoicedialog .symbol-hh1Mvx {
  background-color: transparent;
  background-image: url(../img/4-10-multi-choice-dialog-4-10measurew360mpl0410multichoicedialog-4F06A8CD-F4FD-4170-B24D-8527435CF2B2@2x.png);
  background-size: 100% 100%;
  height: 373px;
  left: 178px;
  position: absolute;
  top: 78px;
  width: 360px;
}
.a410multichoicedialog .tag-refer-V6KZ2v {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 306px;
  width: 151px;
}
.a410multichoicedialog .text-2csiWw {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-2lOLH2 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-6uCC6P {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-AWDxxq {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-Cbf5Ak {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-IO2tex {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-OMlONZ {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-Q1cSBx {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .text-U20oLU {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-UMYCxX {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-VOdO0e {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-WARxJW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-WZpIBy {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .text-cwWTW2 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-i6zolW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-ioVmyo {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-jGLpQR {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-mLjtxZ {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-rgBiVC {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-xY88zE {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-xZDVfu {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .text-zLkuOD {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a410multichoicedialog .value-KjxgkI {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 3px;
  width: 85px;
}
.a410multichoicedialog .value-nDDPtE {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 79px;
}
.a410multichoicedialog .value-sx61HR {
  background-color: transparent;
  height: 18px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a410multichoicedialog .web-app-OB1SiY {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x0-9JN34z {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .x0-BY6o98 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .x0-Bhyc4M {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .x0-overview-A0NNx1 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x0-pTqVcy {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .x0-tImTmL {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 7px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .x0-tnnAhT {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .x1-LGtOaX {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a410multichoicedialog .x1-app-bar-mSO44p {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x1-cOfhEx {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a410multichoicedialog .x10-search-ys4Eef {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x11-toast-ZxS0T9 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x12-text-fields-vgc3Vu {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x13-view-controls-94MaWS {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x14-description-Vh3Boh {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x15-notification-bad-AmUiok {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x16-thumbnail-7oeGf9 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x17-copy-paste-HD1MSG {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x2-buttons-Rhulji {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x3-controllers-XGvGsa {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x4-10-keysc-oicedialog-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a410multichoicedialog .x4-10-keysc-oicedialog-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a410multichoicedialog .x4-10-multi-choice-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a410multichoicedialog .x4-dialogs-XfJia9 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x5-dividers-jYs5wP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x6-lists-CY9yOk {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x7-no-item-6wC6Jq {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x8-progress-TIxFq4 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a410multichoicedialog .x9-scrolling-QBf695 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid rgba(237,237,237,1.0);
}
.border-class-2 {
  border: 1px solid rgba(135,135,135,1.0);
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-5 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-6 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --harlequin-2: rgba(51,204,0,0.37);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}