/* screen - a421imagedialog */

.a421imagedialog {
  background-color: rgba(245,246,247,1.0);
  height: 3039px;
  position: relative;
  width: 1680px;
}
.a421imagedialog .basic-4AP6SO {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .basic-component-gui-OB1SiY {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .basic-gij6aI {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .btn-6Uac0N {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 216px;
}
.a421imagedialog .btn-6Uac0N:hover {

transform: scale(0.98);
}
.a421imagedialog .btn-YV9xxR {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 210px;
}
.a421imagedialog .btn-YV9xxR:hover {

transform: scale(0.98);
}
.a421imagedialog .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a421imagedialog .btn-mwblLs:hover {

transform: scale(0.98);
}
.a421imagedialog .btn-xpyOiF {
  background-color: rgba(0,204,153,1.0);
  border-radius: 5px;
  height: 34px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 156px;
}
.a421imagedialog .btn-xpyOiF:hover {

transform: scale(0.98);
}
.a421imagedialog .document-b-x-contents-C7AF8h {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 167px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a421imagedialog .document-b-x-contents-JLz9qM {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 489px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a421imagedialog .document-b-x-contents-LpuWsq {
  background-color: var(--white);
  border: 2px solid rgba(0,204,153,1.0);
  height: 611px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a421imagedialog .document-b-x-contents-jk4meR {
  background-color: var(--white);
  border: 2px solid rgba(0,204,153,1.0);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a421imagedialog .document-b-x-contents-sL9PTt {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a421imagedialog .document-b-x-contents-sQxP1j {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 167px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a421imagedialog .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 2914px;
  width: 274px;
}
.a421imagedialog .gnb-bar04-dialogs-C61RwL {
  background-color: var(--white);
  height: 1810px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnb-logo-IFpddr {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnb-menu-h-ory-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a421imagedialog .gnb-menu0--iew-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a421imagedialog .gnb-menu1--bar-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a421imagedialog .gnb-menu10-rch-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1467px;
  width: 320px;
}
.a421imagedialog .gnb-menu11-ast-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1510px;
  width: 320px;
}
.a421imagedialog .gnb-menu12-lds-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1553px;
  width: 320px;
}
.a421imagedialog .gnb-menu13-ols-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1596px;
  width: 320px;
}
.a421imagedialog .gnb-menu14-ion-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1639px;
  width: 320px;
}
.a421imagedialog .gnb-menu15-dge-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1682px;
  width: 320px;
}
.a421imagedialog .gnb-menu16-ail-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1725px;
  width: 320px;
}
.a421imagedialog .gnb-menu17-ste-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1768px;
  width: 320px;
}
.a421imagedialog .gnb-menu2--ons-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a421imagedialog .gnb-menu3--ers-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a421imagedialog .gnb-menu4--s-selected-F6tyJc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnb-menu4--s-selected-IFpddr {
  background-color: transparent;
  height: 945px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a421imagedialog .gnb-menu5--ers-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1252px;
  width: 320px;
}
.a421imagedialog .gnb-menu6--sts-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1295px;
  width: 320px;
}
.a421imagedialog .gnb-menu7--ems-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1338px;
  width: 320px;
}
.a421imagedialog .gnb-menu8--ess-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1381px;
  width: 320px;
}
.a421imagedialog .gnb-menu9--ing-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1424px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-3vlxr7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-541Yax {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 774px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-6eO6cv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-6wLP0c {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 516px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-CkATrQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 860px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-DpBjZd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 817px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-F6tyJc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 903px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-MZMfPh {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 301px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-QjhZ3h {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 645px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-Rw4FJv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 559px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-VF7y5n {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-aOGTeF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-askrDc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 344px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-dIgc7X {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 731px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-eTYwEa {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 688px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-fJP733 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 387px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-htvqUJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-jRf21I {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 602px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-nC7AnL {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-ogS940 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 473px;
  width: 320px;
}
.a421imagedialog .gnb-submenu-normal-p7x7de {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a421imagedialog .gnbmenu-8iDxRt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-A7XsLT {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-FYqcjZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-Kyb74v {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-MMc3iM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-PAywWV {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-bZCNXc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-gL2JAx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-hzcOuP {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-iVJDrt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-lLJ8dQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-n846FE {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-pfsUJP {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-qO9QRU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-qscMSY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-tNPiEI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-voSg9E {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-x362av {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbmenu-xLcVXS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-6gDKcU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-BeK4oU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-C0LORr {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-DzkxYx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-IwJ2RN {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-JXnXN8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-MYwqko {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-SKWdZ3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-XwXC0Q {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-YKT2Zb {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-aTQfXv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-cmHiKF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-cqDLeq {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-d9exKB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-f9rB8b {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-fI7jXe {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-lnvuEa {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-o0x4FS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-o6GxFw {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-ueY5m4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gnbsubmenu-vqlAnH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .gotohome-KS0c9L {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a421imagedialog .group-FahDoS {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 168px;
}
.a421imagedialog .group-U3E5ew {
  background-color: transparent;
  height: 24px;
  left: 10px;
  position: relative;
  top: 5px;
  width: 136px;
}
.a421imagedialog .group-aocLk7 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 168px;
}
.a421imagedialog .group-gBrDRH {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a421imagedialog .guide-form-ormal1line-C7AF8h {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 87px;
  width: 168px;
}
.a421imagedialog .guide-form-ormal1line-sQxP1j {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 87px;
  width: 168px;
}
.a421imagedialog .guide-hJ7irb {
  background-color: transparent;
  height: 489px;
  left: 0px;
  position: absolute;
  top: 690px;
  width: 715px;
}
.a421imagedialog .guide-kFNl8t {
  background-color: transparent;
  height: 611px;
  left: 0px;
  position: absolute;
  top: 690px;
  width: 715px;
}
.a421imagedialog .guide-meas--spacing-1-3AxvE5 {
  background-color: transparent;
  height: 18px;
  left: 362px;
  position: absolute;
  top: 0px;
  width: 21px;
}
.a421imagedialog .guide-meas--spacing-1-DQQfJc {
  background-color: transparent;
  height: 19px;
  left: 362px;
  position: absolute;
  top: 0px;
  width: 91px;
}
.a421imagedialog .guide-meas--spacing-1-ShJ578 {
  background-color: transparent;
  height: 19px;
  left: 362px;
  position: absolute;
  top: 0px;
  width: 91px;
}
.a421imagedialog .guide-meas--spacing-1-kUnBZS {
  background-color: transparent;
  height: 18px;
  left: 362px;
  position: absolute;
  top: 0px;
  width: 21px;
}
.a421imagedialog .guide-meas--spacing-2-UL3ovs {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 304px;
  width: 16px;
}
.a421imagedialog .guide-meas--spacing-2-b2e63S {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 426px;
  width: 16px;
}
.a421imagedialog .guide-meas--spacing-2-emdWMC {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 304px;
  width: 16px;
}
.a421imagedialog .guide-meas--spacing-2-r6J1oa {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 426px;
  width: 16px;
}
.a421imagedialog .guide-meas-eft-size-1-fM952u {
  background-color: transparent;
  height: 168px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 93px;
}
.a421imagedialog .guide-meas-eft-size-1-rNSr19 {
  background-color: transparent;
  height: 168px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 93px;
}
.a421imagedialog .guide-measure-area-3AxvE5 {
  background-color: var(--harlequin-2);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 360px;
}
.a421imagedialog .guide-measure-area-DQQfJc {
  background-color: var(--harlequin-2);
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a421imagedialog .guide-measure-area-ShJ578 {
  background-color: var(--harlequin-2);
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a421imagedialog .guide-measure-area-UL3ovs {
  background-color: var(--azure-radiance-2);
  height: 168px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.a421imagedialog .guide-measure-area-b2e63S {
  background-color: var(--azure-radiance-2);
  height: 168px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.a421imagedialog .guide-measure-area-emdWMC {
  background-color: var(--azure-radiance-2);
  height: 168px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.a421imagedialog .guide-measure-area-fM952u {
  background-color: rgba(255,51,255,0.37);
  height: 168px;
  left: 105px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.a421imagedialog .guide-measure-area-kUnBZS {
  background-color: var(--harlequin-2);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 360px;
}
.a421imagedialog .guide-measure-area-r6J1oa {
  background-color: var(--azure-radiance-2);
  height: 168px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.a421imagedialog .guide-measure-area-rNSr19 {
  background-color: rgba(255,51,255,0.37);
  height: 168px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.a421imagedialog .guide-numb-ring-shape-aY603U {
  background-color: transparent;
  background-image: url(../img/4-21-image-dialog-oval-798A8B51-8782-4616-A6FC-02615D5A775A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 111px;
  position: absolute;
  top: 28px;
  width: 22px;
}
.a421imagedialog .guide-numb-ring-shape-fM952u {
  background-color: transparent;
  background-image: url(../img/4-21-image-dialog-oval-798A8B51-8782-4616-A6FC-02615D5A775A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 113px;
  position: absolute;
  top: 8px;
  width: 22px;
}
.a421imagedialog .guide-numbering-icon-BecK9q {
  background-color: transparent;
  background-image: url(../img/4-21-image-dialog-oval-798A8B51-8782-4616-A6FC-02615D5A775A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a421imagedialog .guide-numbering-icon-jLiXve {
  background-color: transparent;
  background-image: url(../img/4-21-image-dialog-oval-798A8B51-8782-4616-A6FC-02615D5A775A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a421imagedialog .guide-property-BecK9q {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .guide-property-jLiXve {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .guide-subject-shape-C7AF8h {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a421imagedialog .guide-subject-shape-sQxP1j {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a421imagedialog .history-lZqxZq {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .image-hJ7irb {
  background-color: transparent;
  height: 167px;
  left: 735px;
  position: absolute;
  top: 690px;
  width: 505px;
}
.a421imagedialog .image-kFNl8t {
  background-color: transparent;
  height: 167px;
  left: 744px;
  position: absolute;
  top: 690px;
  width: 505px;
}
.a421imagedialog .imagedescription-C61RwL {
  background-color: transparent;
  height: 1179px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a421imagedialog .imagelist-C61RwL {
  background-color: transparent;
  height: 1301px;
  left: 371px;
  position: absolute;
  top: 1533px;
  width: 1249px;
}
.a421imagedialog .keyscreen-hJ7irb {
  background-color: transparent;
  height: 587px;
  left: 0px;
  position: absolute;
  top: 83px;
  width: 1240px;
}
.a421imagedialog .keyscreen-kFNl8t {
  background-color: transparent;
  height: 587px;
  left: 9px;
  position: absolute;
  top: 83px;
  width: 1240px;
}
.a421imagedialog .measure-JLz9qM {
  background-color: transparent;
  height: 359px;
  left: 83px;
  position: absolute;
  top: 90px;
  width: 547px;
}
.a421imagedialog .measure-LpuWsq {
  background-color: transparent;
  height: 481px;
  left: 83px;
  position: absolute;
  top: 90px;
  width: 548px;
}
.a421imagedialog .page-name-4AP6SO {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .page-name-gij6aI {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .property-3b2pQb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .property-azsVHg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .rectangle-0SeDBZ {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a421imagedialog .rectangle-0iC3jV {
  background-color: var(--harlequin);
  height: 8px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 1px;
}
.a421imagedialog .rectangle-3SDaJB {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 84px;
  position: absolute;
  top: 167px;
  width: 9px;
}
.a421imagedialog .rectangle-3eVnl8 {
  background-color: var(--harlequin);
  height: 19px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-9QYy9a {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 84px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a421imagedialog .rectangle-AxMppu {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a421imagedialog .rectangle-DAf5m3 {
  background-color: var(--harlequin);
  height: 8px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 1px;
}
.a421imagedialog .rectangle-FjY0YH {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 3px;
  position: absolute;
  top: 4px;
  width: 10px;
}
.a421imagedialog .rectangle-GkjvHD {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-K69uO1 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-Lxu6gV {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-T1K4a9 {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 84px;
  position: absolute;
  top: 167px;
  width: 9px;
}
.a421imagedialog .rectangle-VZibUg {
  background-color: var(--razzle-dazzle-rose);
  height: 167px;
  left: 88px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-Vh3Boh {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a421imagedialog .rectangle-VhrGtI {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 84px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a421imagedialog .rectangle-Vj9bgv {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-W05mhP {
  background-color: var(--harlequin);
  height: 19px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-ZpxhOJ {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-akaZSX {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 9px;
}
.a421imagedialog .rectangle-fwgcYj {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 3px;
  position: absolute;
  top: 4px;
  width: 10px;
}
.a421imagedialog .rectangle-iUxDPv {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 18px;
  width: 9px;
}
.a421imagedialog .rectangle-jVAfox {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 12px;
  width: 9px;
}
.a421imagedialog .rectangle-jycx3u {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 3px;
  position: absolute;
  top: 4px;
  width: 10px;
}
.a421imagedialog .rectangle-k8zwym {
  background-color: var(--razzle-dazzle-rose);
  height: 167px;
  left: 88px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-kwtSKa {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 9px;
}
.a421imagedialog .rectangle-pIBZIo {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-t07cgK {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-txWRVU {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 12px;
  width: 9px;
}
.a421imagedialog .rectangle-uEhsAQ {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a421imagedialog .rectangle-xN63ZQ {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 3px;
  position: absolute;
  top: 4px;
  width: 10px;
}
.a421imagedialog .rectangle-xxro8G {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 18px;
  width: 9px;
}
.a421imagedialog .size-aY603U {
  background-color: transparent;
  height: 168px;
  left: 0px;
  position: absolute;
  top: 19px;
  width: 444px;
}
.a421imagedialog .size-zoxRmy {
  background-color: transparent;
  height: 168px;
  left: 0px;
  position: absolute;
  top: 19px;
  width: 445px;
}
.a421imagedialog .spacing-BNKEvm {
  background-color: transparent;
  height: 18px;
  left: 95px;
  position: absolute;
  top: 182px;
  width: 398px;
}
.a421imagedialog .spacing-IDuuIS {
  background-color: transparent;
  height: 19px;
  left: 95px;
  position: absolute;
  top: 0px;
  width: 453px;
}
.a421imagedialog .spacing-SvbxlO {
  background-color: transparent;
  height: 18px;
  left: 94px;
  position: absolute;
  top: 182px;
  width: 398px;
}
.a421imagedialog .spacing-VxQZwZ {
  background-color: transparent;
  height: 340px;
  left: 441px;
  position: absolute;
  top: 19px;
  width: 16px;
}
.a421imagedialog .spacing-aKl1R0 {
  background-color: transparent;
  height: 462px;
  left: 442px;
  position: absolute;
  top: 19px;
  width: 16px;
}
.a421imagedialog .spacing-aY603U {
  background-color: transparent;
  height: 19px;
  left: 94px;
  position: absolute;
  top: 0px;
  width: 453px;
}
.a421imagedialog .spacing-slEfI5 {
  background-color: transparent;
  height: 340px;
  left: 91px;
  position: absolute;
  top: 19px;
  width: 16px;
}
.a421imagedialog .spacing-zoxRmy {
  background-color: transparent;
  height: 462px;
  left: 92px;
  position: absolute;
  top: 19px;
  width: 16px;
}
.a421imagedialog .symbol-JLz9qM {
  background-color: transparent;
  background-image: url(../img/4-21-image-dialog-4-21measurew360mpl0421imagedialog1-20841E39-436C-4D8D-955C-B747855A0904@2x.png);
  background-size: 100% 100%;
  height: 371px;
  left: 177px;
  position: absolute;
  top: 40px;
  width: 360px;
}
.a421imagedialog .symbol-LpuWsq {
  background-color: transparent;
  background-image: url(../img/4-21-image-dialog-4-21measurew360mpl0421imagedialog2-77A53A28-56CD-43F3-A094-784217F4A659@2x.png);
  background-size: 100% 100%;
  height: 493px;
  left: 178px;
  position: absolute;
  top: 40px;
  width: 360px;
}
.a421imagedialog .tag-refer-jk4meR {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 340px;
  width: 216px;
}
.a421imagedialog .tag-refer-sL9PTt {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 417px;
  width: 210px;
}
.a421imagedialog .tag-update-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 981px;
  position: absolute;
  top: 81px;
  width: 156px;
}
.a421imagedialog .text-2csiWw {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-2lOLH2 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-6uCC6P {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-AWDxxq {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-Cbf5Ak {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-IO2tex {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-OMlONZ {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-U20oLU {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-UMYCxX {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-VOdO0e {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-WARxJW {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-WZpIBy {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .text-cwWTW2 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-i6zolW {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-ioVmyo {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-jGLpQR {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-mLjtxZ {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-rgBiVC {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-xY88zE {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-xZDVfu {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .text-zLkuOD {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a421imagedialog .title-hJ7irb {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a421imagedialog .title-kFNl8t {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a421imagedialog .updated-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .v-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .value-0SeDBZ {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 79px;
}
.a421imagedialog .value-3SDaJB {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 77px;
  width: 81px;
}
.a421imagedialog .value-3b2pQb {
  background-color: transparent;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .value-AxMppu {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 79px;
}
.a421imagedialog .value-T1K4a9 {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 77px;
  width: 81px;
}
.a421imagedialog .value-akaZSX {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a421imagedialog .value-azsVHg {
  background-color: transparent;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .value-kwtSKa {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a421imagedialog .version-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .web-app-OB1SiY {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x-3b2pQb {
  background-color: transparent;
  height: auto;
  left: 162px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x-azsVHg {
  background-color: transparent;
  height: auto;
  left: 162px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x0-GkjvHD {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x0-IeLRL4 {
  background-color: transparent;
  height: auto;
  left: -2px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x0-K69uO1 {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x0-lWjDwp {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x0-li0Nxx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x0-overview-A0NNx1 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x0-p506xB {
  background-color: transparent;
  height: auto;
  left: -2px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x0-t07cgK {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x0-t0EKA2 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x0-uEhsAQ {
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x0-x5cqtp {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x1-D2SxdV {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a421imagedialog .x1-SkgYyZ {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a421imagedialog .x1-XVpQqv {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a421imagedialog .x1-app-bar-mSO44p {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x1-etRpq1 {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a421imagedialog .x10-search-ys4Eef {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x11-toast-ZxS0T9 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x12-text-fields-vgc3Vu {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x13-view-controls-94MaWS {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x14-description-Vh3Boh {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x15-notification-bad-AmUiok {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x16-thumbnail-7oeGf9 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x17-copy-paste-HD1MSG {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x2-buttons-Rhulji {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x3-controllers-XGvGsa {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x4-21-image-dialog-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a421imagedialog .x4-21-keysc-agedialog1-sL9PTt {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a421imagedialog .x4-21-keysc-agedialog1-x8xwkS {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a421imagedialog .x4-21-keysc-agedialog2-9QPOrD {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a421imagedialog .x4-21-keysc-agedialog2-jk4meR {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a421imagedialog .x4-dialogs-XfJia9 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x5-dividers-jYs5wP {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x6-lists-CY9yOk {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x7-no-item-6wC6Jq {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x8-progress-TIxFq4 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a421imagedialog .x9-scrolling-QBf695 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid rgba(237,237,237,1.0);
}
.border-class-2 {
  border: 1px solid rgba(135,135,135,1.0);
}
.samsungonekorean-400-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-400-normal-masala-18px {
  color: var(--masala);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-periwinkle-18px {
  color: rgba(193,206,254,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-royal-blue-18px {
  color: var(--royal-blue);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-500-normal-white-14px {
  color: var(--white);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 14px;
}
.samsungonekorean-600-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-700-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-700-normal-black-22px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
}
.samsungonekorean-700-normal-white-14px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 14px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --harlequin-2: rgba(51,204,0,0.37);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}