/* screen - a44dialogtitle */

.a44dialogtitle {
  background-color: rgba(245,246,247,1.0);
  height: 1385px;
  position: relative;
  width: 1680px;
}
.a44dialogtitle .background-qybDx4 {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 145px;
}
.a44dialogtitle .basic-component-gui-OB1SiY {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a44dialogtitle .btn-mwblLs:hover {

transform: scale(0.98);
}
.a44dialogtitle .dark-theme-qxjuUj {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 294px;
  width: 465px;
}
.a44dialogtitle .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a44dialogtitle .document-b-x-contents-hh1Mvx {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 379px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a44dialogtitle .document-b-x-contents-qxjuUj {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 374px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a44dialogtitle .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1260px;
  width: 274px;
}
.a44dialogtitle .fn-qybDx4 {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .general-qxjuUj {
  background-color: transparent;
  height: 106px;
  left: 20px;
  position: absolute;
  top: 82px;
  width: 465px;
}
.a44dialogtitle .gnb-bar04-dialogs-C61RwL {
  background-color: var(--white);
  height: 1810px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnb-logo-IFpddr {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnb-menu-h-ory-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a44dialogtitle .gnb-menu0--iew-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a44dialogtitle .gnb-menu1--bar-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a44dialogtitle .gnb-menu10-rch-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1467px;
  width: 320px;
}
.a44dialogtitle .gnb-menu11-ast-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1510px;
  width: 320px;
}
.a44dialogtitle .gnb-menu12-lds-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1553px;
  width: 320px;
}
.a44dialogtitle .gnb-menu13-ols-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1596px;
  width: 320px;
}
.a44dialogtitle .gnb-menu14-ion-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1639px;
  width: 320px;
}
.a44dialogtitle .gnb-menu15-dge-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1682px;
  width: 320px;
}
.a44dialogtitle .gnb-menu16-ail-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1725px;
  width: 320px;
}
.a44dialogtitle .gnb-menu17-ste-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1768px;
  width: 320px;
}
.a44dialogtitle .gnb-menu2--ons-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a44dialogtitle .gnb-menu3--ers-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a44dialogtitle .gnb-menu4--s-selected-F6tyJc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnb-menu4--s-selected-IFpddr {
  background-color: transparent;
  height: 945px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a44dialogtitle .gnb-menu5--ers-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1252px;
  width: 320px;
}
.a44dialogtitle .gnb-menu6--sts-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1295px;
  width: 320px;
}
.a44dialogtitle .gnb-menu7--ems-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1338px;
  width: 320px;
}
.a44dialogtitle .gnb-menu8--ess-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1381px;
  width: 320px;
}
.a44dialogtitle .gnb-menu9--ing-normal-IFpddr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1424px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-3vlxr7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-541Yax {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 774px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-6eO6cv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-6wLP0c {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 516px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-CkATrQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 860px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-DpBjZd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 817px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-F6tyJc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 903px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-MZMfPh {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 301px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-QjhZ3h {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 645px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-Rw4FJv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 559px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-VF7y5n {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-aOGTeF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-askrDc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 344px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-dIgc7X {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 731px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-eTYwEa {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 688px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-fJP733 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 387px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-htvqUJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-jRf21I {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 602px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-nC7AnL {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-ogS940 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 473px;
  width: 320px;
}
.a44dialogtitle .gnb-submenu-normal-p7x7de {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-8iDxRt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-A7XsLT {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-FYqcjZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-Kyb74v {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-MMc3iM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-PAywWV {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-bZCNXc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-gL2JAx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-hzcOuP {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-iVJDrt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-lLJ8dQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-n846FE {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-pfsUJP {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-qO9QRU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-qscMSY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-tNPiEI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-voSg9E {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-x362av {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbmenu-xLcVXS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-6gDKcU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-BeK4oU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-C0LORr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-DzkxYx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-IwJ2RN {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-JXnXN8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-MYwqko {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-SKWdZ3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-XwXC0Q {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-YKT2Zb {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-aTQfXv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-cmHiKF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-cqDLeq {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-d9exKB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-f9rB8b {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-fI7jXe {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-lnvuEa {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-o0x4FS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-o6GxFw {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-ueY5m4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gnbsubmenu-vqlAnH {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .gotohome-KS0c9L {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .group-2-4M2LvV {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 201px;
}
.a44dialogtitle .group-2-HDRqQU {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 125px;
}
.a44dialogtitle .group-C61RwL {
  background-color: transparent;
  height: 379px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 1240px;
}
.a44dialogtitle .group-NOHM6W {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 248px;
}
.a44dialogtitle .group-XcxCS4 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.a44dialogtitle .group-gBrDRH {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a44dialogtitle .group-nxHMSx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 126px;
}
.a44dialogtitle .group-z8x49d {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 69px;
}
.a44dialogtitle .guide-NOXmfT {
  background-color: transparent;
  height: 379px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a44dialogtitle .guide-form--dark1line-fawIVo {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 201px;
}
.a44dialogtitle .guide-form-e-subtitle-TIXwjy {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a44dialogtitle .guide-form-e-subtitle-fawIVo {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a44dialogtitle .guide-form-e-subtitle-wxKLvL {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 57px;
}
.a44dialogtitle .guide-form-ormal1line-J2VoVr {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 56px;
  width: 126px;
}
.a44dialogtitle .guide-form-ormal1line-WOL69f {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 84px;
  width: 122px;
}
.a44dialogtitle .guide-form-ormal1line-wxKLvL {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 248px;
}
.a44dialogtitle .guide-form-rmal-light-TIXwjy {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 125px;
}
.a44dialogtitle .guide-meas--spacing-1-HZAI7N {
  background-color: transparent;
  height: 30px;
  left: 506px;
  position: absolute;
  top: 0px;
  width: 91px;
}
.a44dialogtitle .guide-meas--spacing-1-UxBows {
  background-color: transparent;
  height: 39px;
  left: 506px;
  position: absolute;
  top: 0px;
  width: 99px;
}
.a44dialogtitle .guide-meas--spacing-2-bWSJBi {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 36px;
}
.a44dialogtitle .guide-meas--spacing-2-uhib2b {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 36px;
}
.a44dialogtitle .guide-measure-area-HZAI7N {
  background-color: var(--harlequin-2);
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 468px;
}
.a44dialogtitle .guide-measure-area-UxBows {
  background-color: var(--harlequin-2);
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 468px;
}
.a44dialogtitle .guide-measure-area-bWSJBi {
  background-color: var(--azure-radiance-2);
  height: 104px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 36px;
}
.a44dialogtitle .guide-measure-area-uhib2b {
  background-color: var(--azure-radiance-2);
  height: 104px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 36px;
}
.a44dialogtitle .guide-measure-area-xkZ4OV {
  background-color: rgba(255,204,0,0.37);
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 468px;
}
.a44dialogtitle .guide-numbering-type-XjX2Of {
  background-color: transparent;
  background-image: url(../img/4-13-date-picker-dialog-1-oval-FC08A44F-DF07-43D0-8B2A-B121CB347975@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 13px;
  position: absolute;
  top: 52px;
  width: 22px;
}
.a44dialogtitle .guide-numbering-type-ehQvGf {
  background-color: transparent;
  background-image: url(../img/4-13-date-picker-dialog-1-oval-FC08A44F-DF07-43D0-8B2A-B121CB347975@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 22px;
}
.a44dialogtitle .guide-property-ehQvGf {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .guide-subject-type-qxjuUj {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 30px;
  width: 121px;
}
.a44dialogtitle .history-lZqxZq {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a44dialogtitle .light-theme-qxjuUj {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 216px;
  width: 465px;
}
.a44dialogtitle .measure-hh1Mvx {
  background-color: transparent;
  height: 142px;
  left: 40px;
  position: absolute;
  top: 100px;
  width: 641px;
}
.a44dialogtitle .property-7Oe9do {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .property-ipG54X {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .property-mwdLai {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .property-xHJ8zp {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .property-z8x49d {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .rectangle-Bhyc4M {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a44dialogtitle .rectangle-HMv543 {
  background-color: var(--harlequin);
  height: 39px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a44dialogtitle .rectangle-KjxgkI {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a44dialogtitle .rectangle-L5CI8h {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 35px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a44dialogtitle .rectangle-RbvBTD {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 9px;
}
.a44dialogtitle .rectangle-SbikV7 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 35px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a44dialogtitle .rectangle-UJxIvR {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 36px;
}
.a44dialogtitle .rectangle-Vh3Boh {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a44dialogtitle .rectangle-aI4prv {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 9px;
}
.a44dialogtitle .rectangle-g0xdSP {
  background-color: var(--harlequin);
  height: 30px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a44dialogtitle .rectangle-ipcerx {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 36px;
}
.a44dialogtitle .rectangle-nDDPtE {
  background-color: var(--harlequin);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a44dialogtitle .rectangle-pTqVcy {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a44dialogtitle .spacing-88xegd {
  background-color: transparent;
  height: 142px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.a44dialogtitle .spacing-XjX2Of {
  background-color: transparent;
  height: 39px;
  left: 36px;
  position: absolute;
  top: 38px;
  width: 605px;
}
.a44dialogtitle .spacing-fANvG6 {
  background-color: transparent;
  height: 142px;
  left: 504px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.a44dialogtitle .spacing-xUDzDj {
  background-color: transparent;
  height: 30px;
  left: 36px;
  position: absolute;
  top: 112px;
  width: 597px;
}
.a44dialogtitle .symbol-hh1Mvx {
  background-color: transparent;
  background-image: url(../img/4-4-dialogtitle-4-04measurew360mpl044dialogtitle-6E4726C6-D58F-4CE0-8698-D4A72A3D372A@2x.png);
  background-size: 100% 100%;
  height: 104px;
  left: 40px;
  position: absolute;
  top: 138px;
  width: 540px;
}
.a44dialogtitle .text-2csiWw {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-2lOLH2 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-6uCC6P {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-AWDxxq {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-Cbf5Ak {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-IO2tex {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-OMlONZ {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-U20oLU {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-UMYCxX {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-VOdO0e {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-WARxJW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-WZpIBy {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .text-XjX2Of {
  background-color: transparent;
  height: 35px;
  left: 36px;
  position: absolute;
  top: 77px;
  width: 468px;
}
.a44dialogtitle .text-b36sfe {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .text-cwWTW2 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-i6zolW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-ioVmyo {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-j2xm56 {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .text-jGLpQR {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-mLjtxZ {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-qvsi6s {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .text-rgBiVC {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-xY88zE {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-xZDVfu {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .text-zLkuOD {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a44dialogtitle .type-NOXmfT {
  background-color: transparent;
  height: 374px;
  left: 735px;
  position: absolute;
  top: 2px;
  width: 505px;
}
.a44dialogtitle .value-7Oe9do {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 88px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .value-Bhyc4M {
  background-color: transparent;
  height: 18px;
  left: 9px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a44dialogtitle .value-I1VDFn {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .value-KjxgkI {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 10px;
  width: 87px;
}
.a44dialogtitle .value-ipG54X {
  background-color: transparent;
  height: 22px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 151px;
}
.a44dialogtitle .value-mwdLai {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 100px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .value-nDDPtE {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 79px;
}
.a44dialogtitle .value-pTqVcy {
  background-color: transparent;
  height: 18px;
  left: 9px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.a44dialogtitle .value-qybDx4 {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-size: 18px;
  height: auto;
  left: 32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .value-xHJ8zp {
  background-color: transparent;
  color: var(--royal-blue);
  font-size: 18px;
  height: auto;
  left: 80px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .web-app-OB1SiY {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x-7Oe9do {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 116px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x-IatpkQ {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 18px;
  height: auto;
  left: 26px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x-mwdLai {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 242px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x-qybDx4 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 145px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x-vDCHhF {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-size: 18px;
  height: auto;
  left: 139px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x-xHJ8zp {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 120px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x-z8x49d {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 119px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x0-9JN34z {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x0-BY6o98 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x0-kGEeQk {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x0-mme83r {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x0-overview-A0NNx1 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x1-Ufvstr {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: 22px;
  left: 0px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a44dialogtitle .x1-Wp5hf1 {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: 22px;
  left: 0px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a44dialogtitle .x1-app-bar-mSO44p {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x10-search-ys4Eef {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x11-toast-ZxS0T9 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x12-text-fields-vgc3Vu {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x13-view-controls-94MaWS {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x14-description-Vh3Boh {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x15-notification-bad-AmUiok {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x16-thumbnail-7oeGf9 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x17-copy-paste-HD1MSG {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x2-buttons-Rhulji {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x3-controllers-XGvGsa {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x4-03-keysc-logpadding-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a44dialogtitle .x4-03-keysc-logpadding-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a44dialogtitle .x4-4-dialog-title-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a44dialogtitle .x4-dialogs-XfJia9 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x5-dividers-jYs5wP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x6-lists-CY9yOk {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x7-no-item-6wC6Jq {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x8-progress-TIxFq4 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a44dialogtitle .x9-scrolling-QBf695 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid rgba(237,237,237,1.0);
}
.border-class-2 {
  border: 1px solid rgba(135,135,135,1.0);
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-5 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-6 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --harlequin-2: rgba(51,204,0,0.37);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}