/* screen - a53dividerswitch */

.a53dividerswitch {
  background-color: rgba(245,246,247,1.0);
  height: 1347px;
  overflow: hidden;
  position: relative;
  width: 1680px;
}
.a53dividerswitch .basic-5GIZBW {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 10px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .basic-8toWLI {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 10px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .basic-component-gui-fvtKPz {
  background-color: transparent;
  color: var(--shark);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a53dividerswitch .btn-mwblLs:hover {

transform: scale(0.98);
}
.a53dividerswitch .btn-p72B46 {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 177px;
}
.a53dividerswitch .btn-p72B46:hover {

transform: scale(0.98);
}
.a53dividerswitch .btn-zOzqsC {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 148px;
}
.a53dividerswitch .btn-zOzqsC:hover {

transform: scale(0.98);
}
.a53dividerswitch .dark-theme-OjvgA6 {
  background-color: transparent;
  height: 78px;
  left: 20px;
  position: absolute;
  top: 231px;
  width: 465px;
}
.a53dividerswitch .document-b-x-contents-OjvgA6 {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 339px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a53dividerswitch .document-b-x-contents-Uixoni {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 341px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a53dividerswitch .document-b-x-contents-V6KZ2v {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a53dividerswitch .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 853px;
  position: absolute;
  top: 1222px;
  width: 274px;
}
.a53dividerswitch .general-OjvgA6 {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 75px;
  width: 465px;
}
.a53dividerswitch .gnb-bar05-divider-C61RwL {
  background-color: var(--white);
  height: 1036px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnb-logo-2CanEd {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnb-menu-h-ory-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a53dividerswitch .gnb-menu0--iew-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a53dividerswitch .gnb-menu1--bar-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a53dividerswitch .gnb-menu10-rch-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a53dividerswitch .gnb-menu11-ast-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a53dividerswitch .gnb-menu12-lds-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a53dividerswitch .gnb-menu13-ols-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a53dividerswitch .gnb-menu14-ion-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a53dividerswitch .gnb-menu15-dge-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a53dividerswitch .gnb-menu16-ail-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a53dividerswitch .gnb-menu17-ste-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a53dividerswitch .gnb-menu2--ons-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a53dividerswitch .gnb-menu3--ers-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a53dividerswitch .gnb-menu4--s-selected-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a53dividerswitch .gnb-menu5--ers-normal-2CanEd {
  background-color: transparent;
  height: 171px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.a53dividerswitch .gnb-menu5--ers-normal-C6SqZR {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnb-menu6--sts-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a53dividerswitch .gnb-menu7--ems-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a53dividerswitch .gnb-menu8--ess-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a53dividerswitch .gnb-menu9--ing-normal-2CanEd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a53dividerswitch .gnb-submenu-normal-C6SqZR {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a53dividerswitch .gnb-submenu-normal-g6kOWi {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a53dividerswitch .gnb-submenu-normal-xnPSxZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-6garh8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-89ffZT {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-8WMxD0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-AmdBow {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-BdeSxc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-CXvdKk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-DNXZmd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-E2amT2 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-NAj1E4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-PLbVWo {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-PNTokH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-VZRRqW {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-f88Vfc {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-jfC6Vi {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-p6sZ4Y {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-q2Mr7K {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-vVUkUY {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-vgMyKz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbmenu-xTt6nK {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbsubmenu-KG2x58 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbsubmenu-fOdmjZ {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gnbsubmenu-gWjmKf {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .gotohome-zxtNph {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .group-2-NxrtYt {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a53dividerswitch .group-2-Vjn2sR {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 232px;
}
.a53dividerswitch .group-2-WKmkIA {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 227px;
}
.a53dividerswitch .group-2x1LYs {
  background-color: transparent;
  height: 128px;
  left: 388px;
  position: absolute;
  top: 0px;
  width: 117px;
}
.a53dividerswitch .group-8cAJOz {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 178px;
}
.a53dividerswitch .group-GYhaBM {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 63px;
  position: absolute;
  top: 0px;
  width: 158px;
}
.a53dividerswitch .group-INMgmo {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 67px;
  position: absolute;
  top: 0px;
  width: 33px;
}
.a53dividerswitch .group-awoAxl {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 63px;
  position: absolute;
  top: 0px;
  width: 163px;
}
.a53dividerswitch .group-nFwxwu {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a53dividerswitch .guide-C61RwL {
  background-color: transparent;
  height: 341px;
  left: 380px;
  position: absolute;
  top: 801px;
  width: 715px;
}
.a53dividerswitch .guide-form-e-subtitle-0oyRuf {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a53dividerswitch .guide-form-e-subtitle-M6tPvO {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 57px;
}
.a53dividerswitch .guide-form-e-subtitle-xNzAHK {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a53dividerswitch .guide-form-ormal-dark-YdFriP {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 56px;
  width: 106px;
}
.a53dividerswitch .guide-form-ormal-dark-xNzAHK {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 232px;
}
.a53dividerswitch .guide-form-ormal1line-M6tPvO {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 178px;
}
.a53dividerswitch .guide-form-rmal-light-0oyRuf {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 227px;
}
.a53dividerswitch .guide-meas--spacing-2-TWHiup {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 130px;
  width: 36px;
}
.a53dividerswitch .guide-meas--spacing-2-wzKlPT {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 130px;
  width: 13px;
}
.a53dividerswitch .guide-meas--spacing-3-Ebopx9 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 130px;
  width: 19px;
}
.a53dividerswitch .guide-meas-ght-size-2-35vUEl {
  background-color: transparent;
  height: 35px;
  left: 128px;
  position: absolute;
  top: 78px;
  width: 28px;
}
.a53dividerswitch .guide-meas-horizontal-35vUEl {
  background-color: transparent;
  background-image: url(../img/5-3-dividerswitch-line-EF662ADA-D5BA-4BAB-8954-CC46A7E75CC5@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 11px;
  position: absolute;
  top: 78px;
  width: 115px;
}
.a53dividerswitch .guide-meas-horizontal-MeLuUP {
  background-color: transparent;
  background-image: url(../img/5-3-dividerswitch-line-EF662ADA-D5BA-4BAB-8954-CC46A7E75CC5@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 11px;
  position: absolute;
  top: 112px;
  width: 115px;
}
.a53dividerswitch .guide-meas-top-size-1-35vUEl {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 23px;
}
.a53dividerswitch .guide-measure-area-35vUEl {
  background-color: rgba(255,51,255,0.37);
  height: 41px;
  left: 25px;
  position: absolute;
  top: 75px;
  width: 65px;
}
.a53dividerswitch .guide-measure-area-Ebopx9 {
  background-color: rgba(102,0,255,0.37);
  height: 128px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}
.a53dividerswitch .guide-measure-area-MeLuUP {
  background-color: rgba(255,0,204,0.37);
  height: 33px;
  left: 11px;
  position: absolute;
  top: 79px;
  width: 1px;
}
.a53dividerswitch .guide-measure-area-TWHiup {
  background-color: var(--azure-radiance-2);
  height: 128px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.a53dividerswitch .guide-measure-area-wzKlPT {
  background-color: var(--azure-radiance-2);
  height: 128px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 13px;
}
.a53dividerswitch .guide-numb-ring-shape-naFgBF {
  background-color: transparent;
  background-image: url(../img/5-2-dividerimage-list-oval-03A168EC-D09B-4C9C-8DAD-A134B1A741F7@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 85px;
  width: 22px;
}
.a53dividerswitch .guide-numbering-icon-DgygFN {
  background-color: transparent;
  background-image: url(../img/5-2-dividerimage-list-oval-03A168EC-D09B-4C9C-8DAD-A134B1A741F7@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 22px;
}
.a53dividerswitch .guide-property-DgygFN {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .guide-subject-shape-OjvgA6 {
  background-color: transparent;
  height: 27px;
  left: 20px;
  position: absolute;
  top: 30px;
  width: 135px;
}
.a53dividerswitch .history-6x5CWv {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .keyscreen-C61RwL {
  background-color: transparent;
  height: 587px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a53dividerswitch .light-theme-OjvgA6 {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 153px;
  width: 465px;
}
.a53dividerswitch .list02-fFJgNW {
  background-color: transparent;
  height: 128px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 541px;
}
.a53dividerswitch .main-text-FOCZxu {
  background-color: transparent;
  color: var(--shark);
  font-size: 27px;
  height: 32px;
  left: 0px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 370px;
}
.a53dividerswitch .measure-Uixoni {
  background-color: transparent;
  height: 197px;
  left: 469px;
  position: absolute;
  top: 76px;
  width: 174px;
}
.a53dividerswitch .mobile-lig-ers-switch-MchWSY {
  background-color: transparent;
  height: 33px;
  left: 1px;
  position: absolute;
  top: 47px;
  width: 2px;
}
.a53dividerswitch .mobile-lig-h-switchon-MchWSY {
  background-color: transparent;
  height: 35px;
  left: 19px;
  position: absolute;
  top: 47px;
  width: 57px;
}
.a53dividerswitch .mobile-lig-rouplistbg-VVvVLm {
  background-color: rgba(252,252,252,1.0);
  border-radius: 39px;
  height: 128px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 540px;
}
.a53dividerswitch .mobile-lig-witch2line-VVvVLm {
  background-color: transparent;
  height: 128px;
  left: 36px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a53dividerswitch .page-name-5GIZBW {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 48px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .page-name-8toWLI {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 48px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .property-GYhaBM {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .property-INMgmo {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .property-MH1635 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .property-awoAxl {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .rectangle-2Kc3xV {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a53dividerswitch .rectangle-7m5jHV {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a53dividerswitch .rectangle-KpGBIn {
  background-color: var(--purple-pizzazz);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a53dividerswitch .rectangle-MchWSY {
  background-color: transparent;
  height: 128px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 116px;
}
.a53dividerswitch .rectangle-NdMxAn {
  background-color: rgba(255,51,255,1.0);
  height: 9px;
  left: 12px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a53dividerswitch .rectangle-QK81d1 {
  background-color: var(--electric-violet);
  height: 9px;
  left: 18px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a53dividerswitch .rectangle-Szyug3 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a53dividerswitch .rectangle-UCMoAn {
  background-color: rgba(255,51,255,1.0);
  height: 1px;
  left: 10px;
  position: absolute;
  top: 24px;
  width: 3px;
}
.a53dividerswitch .rectangle-WRIvbQ {
  background-color: rgba(196,196,196,1.0);
  height: 33px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1px;
}
.a53dividerswitch .rectangle-WzwT1d {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a53dividerswitch .rectangle-fFJgNW {
  background-color: rgba(242,242,242,1.0);
  height: 128px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 540px;
}
.a53dividerswitch .rectangle-gAc8pB {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 36px;
}
.a53dividerswitch .rectangle-hDv0l6 {
  background-color: var(--purple-pizzazz);
  height: 35px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a53dividerswitch .rectangle-lgZ0W2 {
  background-color: var(--purple-pizzazz);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 34px;
  width: 9px;
}
.a53dividerswitch .rectangle-pMlKkO {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 35px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a53dividerswitch .rectangle-qTXF5b {
  background-color: var(--electric-violet);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 19px;
}
.a53dividerswitch .rectangle-rxTNUO {
  background-color: var(--electric-violet);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a53dividerswitch .rectangle-sMgapb {
  background-color: rgba(255,51,255,1.0);
  height: 9px;
  left: 10px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.a53dividerswitch .rectangle-vvlbHD {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 13px;
}
.a53dividerswitch .shape-C61RwL {
  background-color: transparent;
  height: 339px;
  left: 1115px;
  position: absolute;
  top: 800px;
  width: 505px;
}
.a53dividerswitch .size-naFgBF {
  background-color: transparent;
  height: 116px;
  left: 10px;
  position: absolute;
  top: 0px;
  width: 164px;
}
.a53dividerswitch .spacing-1oxqWP {
  background-color: transparent;
  height: 166px;
  left: 22px;
  position: absolute;
  top: 31px;
  width: 13px;
}
.a53dividerswitch .spacing-g12F2t {
  background-color: transparent;
  height: 166px;
  left: 2px;
  position: absolute;
  top: 31px;
  width: 19px;
}
.a53dividerswitch .spacing-naFgBF {
  background-color: transparent;
  height: 166px;
  left: 100px;
  position: absolute;
  top: 31px;
  width: 36px;
}
.a53dividerswitch .subtext-FOCZxu {
  background-color: transparent;
  color: rgba(144,144,144,1.0);
  font-size: 19px;
  height: 46px;
  left: 0px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  top: 37px;
  width: 370px;
}
.a53dividerswitch .switchbg-Jsysnr {
  background-color: rgba(3,129,254,1.0);
  border-radius: 13.9px;
  height: 28px;
  left: 1px;
  position: absolute;
  top: 4px;
  width: 56px;
}
.a53dividerswitch .switchborder-Jsysnr {
  background-color: transparent;
  height: 34px;
  left: 23px;
  position: absolute;
  top: 1px;
  width: 34px;
}
.a53dividerswitch .switchfill-Jsysnr {
  background-color: transparent;
  height: 33px;
  left: 24px;
  position: absolute;
  top: 1px;
  width: 33px;
}
.a53dividerswitch .symbol-Uixoni {
  background-color: transparent;
  height: 128px;
  left: 65px;
  position: absolute;
  top: 107px;
  width: 541px;
}
.a53dividerswitch .tag-refer-V6KZ2v {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 108px;
  width: 148px;
}
.a53dividerswitch .tag-refer-YbJGjS {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 152px;
  width: 177px;
}
.a53dividerswitch .text-5JJlQH {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .text-IFLkzz {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .text-cOxC4v {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a53dividerswitch .text-p4oyPl {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a53dividerswitch .text-pRxFT9 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a53dividerswitch .text-xAtf6F {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .title-2x1LYs {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 23px;
  width: 371px;
}
.a53dividerswitch .value-KQ2EAJ {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .value-KpGBIn {
  background-color: transparent;
  height: 18px;
  left: 12px;
  position: absolute;
  top: 9px;
  width: 16px;
}
.a53dividerswitch .value-MH1635 {
  background-color: transparent;
  color: rgba(75,99,250,1.0);
  font-size: 18px;
  height: auto;
  left: 116px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .value-P304jY {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .value-cjxiW6 {
  background-color: transparent;
  color: rgba(75,99,250,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .value-sMgapb {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 22px;
}
.a53dividerswitch .web-app-fvtKPz {
  background-color: transparent;
  height: auto;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x-GYhaBM {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 221px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .x-INMgmo {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 100px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .x-MH1635 {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 172px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .x-awoAxl {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 226px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .x0-7m5jHV {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 9px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .x0-L3dgXS {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -1px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .x0-Nl9nkd {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .x0-Szyug3 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 1px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .x0-overview-mjYSNW {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x0-rxTNUO {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 1px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .x1-app-bar-6Fa4oL {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x1-gGiSF8 {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a53dividerswitch .x1-hEnz2S {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  height: 22px;
  left: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a53dividerswitch .x10-search-xxL5Zx {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x11-toast-yalxLP {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x12-text-fields-U2PIJX {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x13-view-controls-sx9SY8 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x14-description-2Kc3xV {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x15-notification-bad-SGq8za {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x16-thumbnail-VvxSjN {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x17-copy-paste-aZGigU {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x2-buttons-4IWUI2 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x3-controllers-7RPs8O {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x4-dialogs-vmZjI5 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x5-03-keysc-der-switch-V6KZ2v {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a53dividerswitch .x5-03-keysc-der-switch-YbJGjS {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a53dividerswitch .x5-03-measu-der-switch-1i0IH5 {
  background-color: transparent;
  height: 128px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 541px;
}
.a53dividerswitch .x5-3-divider-switch-C61RwL {
  background-color: transparent;
  height: auto;
  left: 380px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a53dividerswitch .x5-dividers-QbzEHy {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x6-lists-0nymVh {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x7-no-item-sDZr9a {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x8-progress-5JJDFe {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a53dividerswitch .x9-scrolling-5mx9uE {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-5 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
.font-class-6 {
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  line-height: 84px;
}
.font-class-7 {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: 0.30px;
  line-height: 18px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --ebb: rgba(227,227,227,1.0);
  --electric-violet: rgba(102,0,255,1.0);
  --masala: rgba(59,59,59,1.0);
  --purple-pizzazz: rgba(255,0,204,1.0);
  --shark: rgba(37,37,37,1.0);
  --supernova: rgba(255,204,0,1.0);
  --white: rgba(255,255,255,1.0);
}