/* screen - a62listcontentsarea */

.a62listcontentsarea {
  background-color: rgba(245,246,247,1.0);
  height: 3174px;
  position: relative;
  width: 1680px;
}
.a62listcontentsarea .background-2VONx3 {
  background-color: var(--white);
  height: 1251px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .basic-component-gui-uWkrmC {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a62listcontentsarea .btn-mwblLs:hover {

transform: scale(0.98);
}
.a62listcontentsarea .btn-xpyOiF {
  background-color: var(--caribbean-green);
  border-radius: 5px;
  height: 34px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 156px;
}
.a62listcontentsarea .btn-xpyOiF:hover {

transform: scale(0.98);
}
.a62listcontentsarea .dark-theme-C61RwL {
  background-color: transparent;
  height: 679px;
  left: 380px;
  position: absolute;
  top: 1029px;
  width: 1240px;
}
.a62listcontentsarea .dark-theme-ZOi0Zm {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a62listcontentsarea .dark-theme-w7OLJj {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 230px;
  width: 465px;
}
.a62listcontentsarea .document-b-x-contents-6bUQEM {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 142px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a62listcontentsarea .document-b-x-contents-9YEk6w {
  background-color: var(--white);
  border: 2px solid var(--caribbean-green);
  height: 388px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a62listcontentsarea .document-b-x-contents-9tDZQs {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 142px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a62listcontentsarea .document-b-x-contents-FbFyJ0 {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 142px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a62listcontentsarea .document-b-x-contents-JwiVgl {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a62listcontentsarea .document-b-x-contents-arVCnz {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 592px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a62listcontentsarea .document-b-x-contents-mZMM1f {
  background-color: var(--white);
  border: 2px solid var(--caribbean-green);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a62listcontentsarea .document-b-x-contents-w7OLJj {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 313px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a62listcontentsarea .document-b-x-contents-zxPxkB {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 142px;
  left: 735px;
  position: absolute;
  top: 162px;
  width: 505px;
}
.a62listcontentsarea .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 3049px;
  width: 274px;
}
.a62listcontentsarea .fn-3xRf9f {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .general-w7OLJj {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 74px;
  width: 465px;
}
.a62listcontentsarea .gnb-bar06-lists-C61RwL {
  background-color: var(--white);
  height: 1251px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnb-logo-2VONx3 {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu-h-ory-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu0--iew-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu1--bar-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu10-rch-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu11-ast-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu12-lds-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 994px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu13-ols-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1037px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu14-ion-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1080px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu15-dge-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1123px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu16-ail-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu17-ste-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 1209px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu2--ons-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu3--ers-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu4--s-selected-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu5--ers-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu6--s-selected-2VONx3 {
  background-color: transparent;
  height: 386px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu6--s-selected-gX0xkx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu7--ems-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu8--ess-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a62listcontentsarea .gnb-menu9--ing-normal-2VONx3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a62listcontentsarea .gnb-submenu-normal-0krpxs {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 172px;
  width: 320px;
}
.a62listcontentsarea .gnb-submenu-normal-3hA9oi {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 301px;
  width: 320px;
}
.a62listcontentsarea .gnb-submenu-normal-7ciDJd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 258px;
  width: 320px;
}
.a62listcontentsarea .gnb-submenu-normal-9GgzCd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 215px;
  width: 320px;
}
.a62listcontentsarea .gnb-submenu-normal-ENDx8t {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 320px;
}
.a62listcontentsarea .gnb-submenu-normal-Vxgcaw {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 344px;
  width: 320px;
}
.a62listcontentsarea .gnb-submenu-normal-gX0xkx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a62listcontentsarea .gnb-submenu-normal-tXcc4Q {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-0XIZ0G {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-2R4elG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-4ixxmW {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-Kmegq7 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-LgUf1E {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-NHLaWA {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-QnlvF4 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-YANpuR {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-coA1uM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-ebIvem {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-fxOx1K {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-hbauOS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-iLRHMq {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-nM2jv1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-omXtll {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-qbXKrD {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-vMx6OB {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-wPlLwE {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbmenu-yTKBbF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbsubmenu-7FXHsA {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbsubmenu-KPQ1xG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbsubmenu-PSdYwr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbsubmenu-fcYHXd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbsubmenu-mE66WI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbsubmenu-o659tu {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbsubmenu-svqfdg {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gnbsubmenu-ty974O {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .gotohome-mJGxSq {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .group-1WJu11 {
  background-color: transparent;
  height: 388px;
  left: 0px;
  position: absolute;
  top: 690px;
  width: 1240px;
}
.a62listcontentsarea .group-2-SF5tcW {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 166px;
}
.a62listcontentsarea .group-2-eivGyb {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 253px;
}
.a62listcontentsarea .group-2-z6xiYQ {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 179px;
}
.a62listcontentsarea .group-4xogM3 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 171px;
}
.a62listcontentsarea .group-ESvBlY {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 164px;
}
.a62listcontentsarea .group-LBvxsx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 166px;
}
.a62listcontentsarea .group-U3E5ew {
  background-color: transparent;
  height: 24px;
  left: 10px;
  position: relative;
  top: 5px;
  width: 136px;
}
.a62listcontentsarea .group-X4WIdW {
  background-color: transparent;
  height: 592px;
  left: 0px;
  position: absolute;
  top: 83px;
  width: 1240px;
}
.a62listcontentsarea .group-ZOi0Zm {
  background-color: transparent;
  height: 596px;
  left: 0px;
  position: absolute;
  top: 83px;
  width: 1240px;
}
.a62listcontentsarea .group-Zk7Fh3 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 169px;
}
.a62listcontentsarea .group-g7Arx8 {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a62listcontentsarea .group-lDJgxn {
  background-color: rgba(71,71,71,1.0);
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 69px;
}
.a62listcontentsarea .group-vnxvHU {
  background-color: rgba(242,242,242,1.0);
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 56px;
}
.a62listcontentsarea .guide-IZ883g {
  background-color: transparent;
  height: 592px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a62listcontentsarea .guide-form-ction1line-zxPxkB {
  background-color: transparent;
  height: 22px;
  left: 787px;
  position: absolute;
  top: 87px;
  width: 253px;
}
.a62listcontentsarea .guide-form-e-subtitle-IoSHHk {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a62listcontentsarea .guide-form-e-subtitle-jKXhsz {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a62listcontentsarea .guide-form-e-subtitle-wAZvwD {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 57px;
}
.a62listcontentsarea .guide-form-ormal-dark-IoSHHk {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 179px;
}
.a62listcontentsarea .guide-form-ormal1line-6bUQEM {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 87px;
  width: 166px;
}
.a62listcontentsarea .guide-form-ormal1line-9tDZQs {
  background-color: transparent;
  height: 22px;
  left: 52px;
  position: absolute;
  top: 87px;
  width: 169px;
}
.a62listcontentsarea .guide-form-ormal1line-wAZvwD {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 164px;
}
.a62listcontentsarea .guide-form-ormal1line-zxPxkB {
  background-color: transparent;
  height: 22px;
  left: 787px;
  position: absolute;
  top: 249px;
  width: 171px;
}
.a62listcontentsarea .guide-form-rmal-light-jKXhsz {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 166px;
}
.a62listcontentsarea .guide-meas--spacing-2-2BiZcQ {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 272px;
  width: 24px;
}
.a62listcontentsarea .guide-meas--spacing-2-2bmJOH {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 272px;
  width: 24px;
}
.a62listcontentsarea .guide-measure-area-2BiZcQ {
  background-color: var(--azure-radiance-2);
  height: 270px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a62listcontentsarea .guide-measure-area-2bmJOH {
  background-color: var(--azure-radiance-2);
  height: 270px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a62listcontentsarea .guide-numb-ring-shape-84s8Es {
  background-color: transparent;
  background-image: url(../img/6-5-image-list-oval-988F388B-793E-487F-B3D9-78A19AA3157A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 159px;
  position: absolute;
  top: 479px;
  width: 22px;
}
.a62listcontentsarea .guide-numb-ring-shape-QXLqnI {
  background-color: transparent;
  background-image: url(../img/6-5-image-list-oval-988F388B-793E-487F-B3D9-78A19AA3157A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .guide-numb-ring-shape-UFwFOq {
  background-color: transparent;
  background-image: url(../img/6-5-image-list-oval-988F388B-793E-487F-B3D9-78A19AA3157A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 159px;
  position: absolute;
  top: 478px;
  width: 22px;
}
.a62listcontentsarea .guide-numb-ring-shape-c2nG7o {
  background-color: transparent;
  background-image: url(../img/6-5-image-list-oval-988F388B-793E-487F-B3D9-78A19AA3157A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .guide-numb-ring-shape-dWxxY5 {
  background-color: transparent;
  background-image: url(../img/6-5-image-list-oval-988F388B-793E-487F-B3D9-78A19AA3157A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .guide-numbering-icon-Hleqaz {
  background-color: transparent;
  background-image: url(../img/6-5-image-list-oval-988F388B-793E-487F-B3D9-78A19AA3157A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a62listcontentsarea .guide-numbering-icon-bUucz8 {
  background-color: transparent;
  background-image: url(../img/6-5-image-list-oval-988F388B-793E-487F-B3D9-78A19AA3157A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 22px;
}
.a62listcontentsarea .guide-numbering-icon-eWqP1T {
  background-color: transparent;
  background-image: url(../img/6-5-image-list-oval-988F388B-793E-487F-B3D9-78A19AA3157A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a62listcontentsarea .guide-numbering-icon-m6mGOU {
  background-color: transparent;
  background-image: url(../img/6-5-image-list-oval-988F388B-793E-487F-B3D9-78A19AA3157A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a62listcontentsarea .guide-numbering-icon-rnCKbK {
  background-color: transparent;
  background-image: url(../img/6-5-image-list-oval-988F388B-793E-487F-B3D9-78A19AA3157A@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a62listcontentsarea .guide-property-Hleqaz {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .guide-property-bUucz8 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .guide-property-eWqP1T {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .guide-property-m6mGOU {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .guide-property-rnCKbK {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .guide-subject-shape-6bUQEM {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a62listcontentsarea .guide-subject-shape-9tDZQs {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a62listcontentsarea .guide-subject-shape-FbFyJ0 {
  background-color: transparent;
  height: 26px;
  left: 755px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a62listcontentsarea .guide-subject-shape-w7OLJj {
  background-color: transparent;
  height: 27px;
  left: 20px;
  position: absolute;
  top: 29px;
  width: 135px;
}
.a62listcontentsarea .guide-subject-shape-zxPxkB {
  background-color: transparent;
  height: 26px;
  left: 755px;
  position: absolute;
  top: 194px;
  width: 135px;
}
.a62listcontentsarea .guide-xmQZKk {
  background-color: transparent;
  height: 388px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a62listcontentsarea .guide-zxPxkB {
  background-color: transparent;
  height: 596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a62listcontentsarea .history-sqaDMv {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .image-JwiVgl {
  background-color: transparent;
  height: 507px;
  left: 208px;
  position: absolute;
  top: 40px;
  width: 331px;
}
.a62listcontentsarea .image-arVCnz {
  background-color: transparent;
  height: 504px;
  left: 208px;
  position: absolute;
  top: 39px;
  width: 328px;
}
.a62listcontentsarea .keyscreen-1WJu11 {
  background-color: transparent;
  height: 587px;
  left: 0px;
  position: absolute;
  top: 83px;
  width: 1240px;
}
.a62listcontentsarea .light-theme-C61RwL {
  background-color: transparent;
  height: 675px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a62listcontentsarea .light-theme-X4WIdW {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a62listcontentsarea .light-theme-w7OLJj {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 152px;
  width: 465px;
}
.a62listcontentsarea .list-background-1WJu11 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 44px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a62listcontentsarea .list-background-C61RwL {
  background-color: transparent;
  height: 1078px;
  left: 380px;
  position: absolute;
  top: 1891px;
  width: 1240px;
}
.a62listcontentsarea .measure-9YEk6w {
  background-color: transparent;
  height: 308px;
  left: 178px;
  position: absolute;
  top: 40px;
  width: 360px;
}
.a62listcontentsarea .measure-JwiVgl {
  background-color: transparent;
  height: 501px;
  left: 287px;
  position: absolute;
  top: 55px;
  width: 181px;
}
.a62listcontentsarea .measure-arVCnz {
  background-color: transparent;
  height: 500px;
  left: 287px;
  position: absolute;
  top: 55px;
  width: 181px;
}
.a62listcontentsarea .property-J1ptxZ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .property-Sbdrxq {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .property-h34xAe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .property-lDJgxn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .property-vnxvHU {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .property-xKsis8 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .property-xxb3HS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .rectangle-GZx6VP {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 24px;
}
.a62listcontentsarea .rectangle-YfMOlg {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 23px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a62listcontentsarea .rectangle-YxQW4E {
  background-color: var(--azure-radiance);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 24px;
}
.a62listcontentsarea .rectangle-ZCkdq7 {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a62listcontentsarea .rectangle-hlHzCO {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a62listcontentsarea .rectangle-wI1hAG {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a62listcontentsarea .rectangle-za93ZT {
  background-color: var(--azure-radiance);
  height: 9px;
  left: 23px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a62listcontentsarea .shape-IZ883g {
  background-color: transparent;
  height: 142px;
  left: 735px;
  position: absolute;
  top: 162px;
  width: 505px;
}
.a62listcontentsarea .shape-nO1oVE {
  background-color: transparent;
  height: 142px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a62listcontentsarea .shape-xmQZKk {
  background-color: transparent;
  height: 313px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a62listcontentsarea .spacing-dWxxY5 {
  background-color: transparent;
  height: 308px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a62listcontentsarea .spacing-mh1jnH {
  background-color: transparent;
  height: 308px;
  left: 336px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.a62listcontentsarea .symbol-9YEk6w {
  background-color: transparent;
  background-image: url(../img/6-2-listcontents-area-6-02measurew360mpl062listcontentsarea1-DDE72E97-6C18-41FE-9E9D-BFE6BCC06775@2x.png);
  background-size: 100% 100%;
  height: 270px;
  left: 178px;
  position: absolute;
  top: 40px;
  width: 360px;
}
.a62listcontentsarea .tag-update-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 1131px;
  position: absolute;
  top: 81px;
  width: 156px;
}
.a62listcontentsarea .text-5YI8Yt {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a62listcontentsarea .text-6Oe3De {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a62listcontentsarea .text-Rz9tRi {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a62listcontentsarea .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .text-Yax7ap {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a62listcontentsarea .text-fLVbfk {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a62listcontentsarea .text-hdrFUX {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .text-mgxsLi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .text-o08Gqg {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a62listcontentsarea .text-roxQYS {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a62listcontentsarea .text-tf9r3F {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .text-xnufTh {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a62listcontentsarea .updated-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .v-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .value-3xRf9f {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .value-CXOti7 {
  background-color: transparent;
  color: rgba(193,206,254,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .value-FylVJw {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .value-J1ptxZ {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .value-Sbdrxq {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .value-h34xAe {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .value-xKsis8 {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 149px;
}
.a62listcontentsarea .value-xxb3HS {
  background-color: transparent;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .version-N0mG4b {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .web-app-uWkrmC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x-3xRf9f {
  background-color: transparent;
  height: auto;
  left: 143px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x-J1ptxZ {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x-NfjqLI {
  background-color: transparent;
  height: auto;
  left: 137px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x-Sbdrxq {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x-W2Fq1w {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x-h34xAe {
  background-color: transparent;
  height: auto;
  left: 163px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x-lDJgxn {
  background-color: transparent;
  height: auto;
  left: 173px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x-vnxvHU {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x-xxb3HS {
  background-color: transparent;
  height: auto;
  left: 158px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x0-ZCkdq7 {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x0-overview-mG9dio {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x0-wI1hAG {
  background-color: transparent;
  height: auto;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x1-02LyMg {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .x1-1oSDBJ {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .x1-QN4xUn {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .x1-app-bar-MoIq6x {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x1-njoCYT {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .x1-uaHXvm {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .x1-wvhfl5 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .x1-xN0LBj {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .x1-xSIjU1 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .x1-xe3V3E {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .x1-xnce7q {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a62listcontentsarea .x10-search-dKzFAO {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x11-toast-ZFBMgo {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x12-text-fields-uistzh {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x13-view-controls-ADKFwL {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x14-description-hlHzCO {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x15-notification-bad-VYA6Mh {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x16-thumbnail-saB2O5 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x17-copy-paste-XrAYc4 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x2-buttons-cfscnQ {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x3-controllers-B52sLV {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x4-dialogs-t91r2X {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x5-dividers-AFQcG2 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x6-02-keysc-ntentsarea-3oCMie {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a62listcontentsarea .x6-02-keysc-ntentsarea-mZMM1f {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a62listcontentsarea .x6-2-list-contents-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a62listcontentsarea .x6-lists-Br7Om1 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x7-no-item-BxN9Cc {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x8-progress-S7Q5wn {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a62listcontentsarea .x9-scrolling-eyiB4A {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.border-class-1 {
  border: 1px solid rgba(237,237,237,1.0);
}
.border-class-2 {
  border: 1px solid rgba(135,135,135,1.0);
}
.samsungonekorean-400-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-400-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-400-normal-gray-18px {
  color: rgba(145,145,145,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-masala-18px {
  color: var(--masala);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-royal-blue-18px {
  color: var(--royal-blue);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-600-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-700-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-700-normal-white-14px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 14px;
}
.samsungonekorean-700-normal-white-15px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --azure-radiance-2: rgba(0,153,255,0.37);
  --black: rgba(0,0,0,1.0);
  --caribbean-green: rgba(0,204,153,1.0);
  --ebb: rgba(227,227,227,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}