/* screen - a72noresultsfound */

.a72noresultsfound {
  background-color: rgba(245,246,247,1.0);
  height: 3536px;
  overflow: hidden;
  position: relative;
  width: 1680px;
}
.a72noresultsfound .app-bar-C61RwL {
  background-color: transparent;
  height: 1447px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a72noresultsfound .basic-component-gui-c7iMkb {
  background-color: transparent;
  color: var(--shark);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .basic-fNCGxO {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 10px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .basic-yh1o9j {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 10px;
  line-height: 17px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .btn-R6cbO7 {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 165px;
}
.a72noresultsfound .btn-R6cbO7:hover {

transform: scale(0.98);
}
.a72noresultsfound .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a72noresultsfound .btn-mwblLs:hover {

transform: scale(0.98);
}
.a72noresultsfound .btn-oxS29M {
  background-color: rgba(102,102,204,1.0);
  border-radius: 5px;
  height: 29px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 139px;
}
.a72noresultsfound .btn-oxS29M:hover {

transform: scale(0.98);
}
.a72noresultsfound .document-b-x-contents-1E55qy {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a72noresultsfound .document-b-x-contents-5S1iyH {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 840px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a72noresultsfound .document-b-x-contents-DhxD8I {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 167px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a72noresultsfound .document-b-x-contents-GCl1Xj {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 840px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a72noresultsfound .document-b-x-contents-zqr173 {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a72noresultsfound .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 3411px;
  width: 274px;
}
.a72noresultsfound .gnb-bar07-no-items-C61RwL {
  background-color: var(--white);
  height: 993px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnb-logo-lvWxgX {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnb-menu-h-ory-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a72noresultsfound .gnb-menu0--iew-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a72noresultsfound .gnb-menu1--bar-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a72noresultsfound .gnb-menu10-rch-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a72noresultsfound .gnb-menu11-ast-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a72noresultsfound .gnb-menu12-lds-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a72noresultsfound .gnb-menu13-ols-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a72noresultsfound .gnb-menu14-ion-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a72noresultsfound .gnb-menu15-dge-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a72noresultsfound .gnb-menu16-ail-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a72noresultsfound .gnb-menu17-ste-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a72noresultsfound .gnb-menu2--ons-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a72noresultsfound .gnb-menu3--ers-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a72noresultsfound .gnb-menu4--s-selected-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a72noresultsfound .gnb-menu5--ers-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.a72noresultsfound .gnb-menu6--sts-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a72noresultsfound .gnb-menu7--s-selected-YUEcM8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnb-menu7--s-selected-lvWxgX {
  background-color: transparent;
  height: 128px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a72noresultsfound .gnb-menu8--ess-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.a72noresultsfound .gnb-menu9--ing-normal-lvWxgX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.a72noresultsfound .gnb-submenu-normal-YUEcM8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a72noresultsfound .gnb-submenu-normal-jcb96F {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-8mChKG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-A0h0N6 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-AXS85r {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-G0y5XX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-IQMMRz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-IVMzKZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-KJyZlS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-MaPsOf {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-R29ALg {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-R3j8Vc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-SWGfku {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-TxJckx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-Yhx6yx {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-dBWcV9 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-fYz40D {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-oIZwbp {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-p8xxxm {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-r6eyXi {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbmenu-rZCLFh {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbsubmenu-7oLxZS {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gnbsubmenu-xMQRqS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .gotohome-lMfpdg {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .group-08Ksxr {
  background-color: transparent;
  height: 56px;
  left: 34px;
  position: absolute;
  top: 0px;
  width: 86px;
}
.a72noresultsfound .group-9xImfF {
  background-color: transparent;
  height: 56px;
  left: 34px;
  position: absolute;
  top: 0px;
  width: 86px;
}
.a72noresultsfound .group-AO0cym {
  background-color: transparent;
  height: 840px;
  left: 0px;
  position: absolute;
  top: 690px;
  width: 1240px;
}
.a72noresultsfound .group-BmCSwq {
  background-color: transparent;
  height: 840px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 1240px;
}
.a72noresultsfound .group-WHTv89 {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a72noresultsfound .group-suLbLd {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 68px;
}
.a72noresultsfound .guide-IHO8oY {
  background-color: transparent;
  height: 840px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a72noresultsfound .guide-e0lmKi {
  background-color: transparent;
  height: 840px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1240px;
}
.a72noresultsfound .guide-form-e-subtitle-48cuWD {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 35px;
}
.a72noresultsfound .guide-form-note-link-48cuWD {
  background-color: transparent;
  height: 22px;
  left: 100px;
  position: absolute;
  top: 28px;
  width: 333px;
}
.a72noresultsfound .guide-form-te-referto-48cuWD {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 68px;
}
.a72noresultsfound .guide-meas--spacing-1-3jUBLn {
  background-color: transparent;
  height: 188px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a72noresultsfound .guide-meas--spacing-1-RTSKTI {
  background-color: transparent;
  height: 290px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 38px;
}
.a72noresultsfound .guide-meas--spacing-1-Xb4cxn {
  background-color: transparent;
  height: 171px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 38px;
}
.a72noresultsfound .guide-meas--spacing-1-dDAZRA {
  background-color: transparent;
  height: 319px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.a72noresultsfound .guide-meas-ght-size-1-6K0xdO {
  background-color: transparent;
  height: 56px;
  left: 360px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100px;
}
.a72noresultsfound .guide-meas-ght-size-1-XGCjHx {
  background-color: transparent;
  height: 56px;
  left: 360px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100px;
}
.a72noresultsfound .guide-meas-horizontal-3jUBLn {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-line-AAC2AD8D-0916-4801-B237-2914B37F31CB.png);
  background-size: 100% 100%;
  height: 1px;
  left: 50px;
  position: absolute;
  top: 187px;
  width: 360px;
}
.a72noresultsfound .guide-meas-horizontal-NQfqUF {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-line-AAC2AD8D-0916-4801-B237-2914B37F31CB.png);
  background-size: 100% 100%;
  height: 1px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a72noresultsfound .guide-meas-horizontal-RTSKTI {
  background-color: transparent;
  height: 1px;
  left: 40px;
  position: absolute;
  top: 289px;
  width: 361px;
}
.a72noresultsfound .guide-meas-horizontal-UNWl3t {
  background-color: transparent;
  height: 1px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 361px;
}
.a72noresultsfound .guide-meas-horizontal-Xb4cxn {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-line-AAC2AD8D-0916-4801-B237-2914B37F31CB.png);
  background-size: 100% 100%;
  height: 1px;
  left: 40px;
  position: absolute;
  top: 170px;
  width: 360px;
}
.a72noresultsfound .guide-meas-horizontal-dDAZRA {
  background-color: transparent;
  height: 1px;
  left: 50px;
  position: absolute;
  top: 318px;
  width: 361px;
}
.a72noresultsfound .guide-meas-horizontal-jM2AqZ {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-line-AAC2AD8D-0916-4801-B237-2914B37F31CB.png);
  background-size: 100% 100%;
  height: 1px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a72noresultsfound .guide-meas-horizontal-xszdtD {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-line-AAC2AD8D-0916-4801-B237-2914B37F31CB.png);
  background-size: 100% 100%;
  height: 1px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a72noresultsfound .guide-measure-area-6K0xdO {
  background-color: rgba(255,51,255,0.37);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a72noresultsfound .guide-measure-area-PCiqSY {
  background-color: rgba(255,204,0,0.37);
  height: 23px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 270px;
}
.a72noresultsfound .guide-measure-area-XGCjHx {
  background-color: rgba(255,51,255,0.37);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a72noresultsfound .guide-measure-area-gHtazx {
  background-color: rgba(255,204,0,0.37);
  height: 23px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 270px;
}
.a72noresultsfound .guide-numbering-type-ulXoMU {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-oval-B707F6B0-69C6-47C5-9848-3EDBBCA14E3D@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 108px;
  position: absolute;
  top: 346px;
  width: 22px;
}
.a72noresultsfound .guide-numbering-type-xmrBx8 {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-oval-B707F6B0-69C6-47C5-9848-3EDBBCA14E3D@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 22px;
}
.a72noresultsfound .guide-property-xmrBx8 {
  background-color: transparent;
  color: var(--black);
  font-size: 22px;
  height: auto;
  left: 32px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .guide-subject-type-DhxD8I {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 121px;
}
.a72noresultsfound .history-6LoqCN {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .keyboardcover-87kFs1 {
  background-color: rgba(0,114,222,1.0);
  height: 298px;
  left: 0px;
  position: absolute;
  top: 462px;
  width: 360px;
}
.a72noresultsfound .keyboardcover-pyl9l0 {
  background-color: transparent;
  color: rgba(250,250,250,1.0);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 90px;
  letter-spacing: -0.30px;
  line-height: 50px;
  opacity: 0.6;
  position: absolute;
  text-align: center;
  top: 99px;
  width: auto;
}
.a72noresultsfound .keyscreen-AO0cym {
  background-color: transparent;
  height: 587px;
  left: 0px;
  position: absolute;
  top: 83px;
  width: 1240px;
}
.a72noresultsfound .keyscreen-BmCSwq {
  background-color: transparent;
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a72noresultsfound .line-QUEqP8 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a72noresultsfound .line-XWznuL {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a72noresultsfound .line-nNw1ea {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}
.a72noresultsfound .link-to-2Gswd5 {
  background-color: transparent;
  color: rgba(145,145,145,1.0);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: 333px;
}
.a72noresultsfound .measure-5S1iyH {
  background-color: transparent;
  height: 438px;
  left: 390px;
  position: absolute;
  top: 64px;
  width: 510px;
}
.a72noresultsfound .measure-GCl1Xj {
  background-color: transparent;
  height: 688px;
  left: 127px;
  position: absolute;
  top: 64px;
  width: 510px;
}
.a72noresultsfound .mobile-dar-rch-cursor-QsWHO5 {
  background-color: rgba(3,129,254,1.0);
  height: 26px;
  left: 84px;
  position: absolute;
  top: 15px;
  width: 2px;
}
.a72noresultsfound .mobile-dar-rch-cursor-eSjsJG {
  background-color: rgba(3,129,254,1.0);
  height: 26px;
  left: 84px;
  position: absolute;
  top: 15px;
  width: 2px;
}
.a72noresultsfound .mobile-lig--indicator-87kFs1 {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-wifi-764545A8-554E-404E-BC5B-A88C9310869E@2x.png);
  background-size: 100% 100%;
  height: 10px;
  left: 24px;
  position: absolute;
  top: 7px;
  width: 13px;
}
.a72noresultsfound .mobile-lig--indicator-pp3x58 {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-wifi-764545A8-554E-404E-BC5B-A88C9310869E@2x.png);
  background-size: 100% 100%;
  height: 10px;
  left: 24px;
  position: absolute;
  top: 7px;
  width: 13px;
}
.a72noresultsfound .mobile-lig--navibar01-87kFs1 {
  background-color: var(--concrete);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 712px;
  width: 360px;
}
.a72noresultsfound .mobile-lig--navibar01-pp3x58 {
  background-color: var(--concrete);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 712px;
  width: 360px;
}
.a72noresultsfound .mobile-lig-arch-close-08Ksxr {
  background-color: transparent;
  background-image: url(../img/7-2-no-results-found-mobilelightthemeicon10searchsearchclose-237AF3CF-BD6A-4F09-9497-487335A406D9@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 294px;
  position: absolute;
  top: 20px;
  width: 16px;
}
.a72noresultsfound .mobile-lig-arch-close-9xImfF {
  background-color: transparent;
  background-image: url(../img/7-2-no-results-found-mobilelightthemeicon10searchsearchclose-237AF3CF-BD6A-4F09-9497-487335A406D9@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 294px;
  position: absolute;
  top: 20px;
  width: 16px;
}
.a72noresultsfound .mobile-lig-bar-recent-7yEaR6 {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-mobilelightthemeicon21navigationbarrecent-9FC93361-665A-476A-BDF6-5CFF90349949@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 72px;
  position: absolute;
  top: 16px;
  width: 15px;
}
.a72noresultsfound .mobile-lig-bar-recent-FRVcBU {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-mobilelightthemeicon21navigationbarrecent-9FC93361-665A-476A-BDF6-5CFF90349949@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 72px;
  position: absolute;
  top: 16px;
  width: 15px;
}
.a72noresultsfound .mobile-lig-bar-typing-87kFs1 {
  background-color: transparent;
  height: 56px;
  left: 26px;
  position: absolute;
  top: 24px;
  width: 310px;
}
.a72noresultsfound .mobile-lig-bar-typing-pp3x58 {
  background-color: transparent;
  height: 56px;
  left: 26px;
  position: absolute;
  top: 24px;
  width: 310px;
}
.a72noresultsfound .mobile-lig-earch-back-08Ksxr {
  background-color: transparent;
  background-image: url(../img/7-2-no-results-found-mobilelightthemeicon10searchsearchback-05D2C09E-0F29-473F-B5A4-D858A452927F@2x.png);
  background-size: 100% 100%;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 18px;
  width: 10px;
}
.a72noresultsfound .mobile-lig-earch-back-9xImfF {
  background-color: transparent;
  background-image: url(../img/7-2-no-results-found-mobilelightthemeicon10searchsearchback-05D2C09E-0F29-473F-B5A4-D858A452927F@2x.png);
  background-size: 100% 100%;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 18px;
  width: 10px;
}
.a72noresultsfound .mobile-lig-oitem1line-87kFs1 {
  background-color: transparent;
  height: 23px;
  left: 45px;
  position: absolute;
  top: 251px;
  width: 270px;
}
.a72noresultsfound .mobile-lig-oitem1line-pp3x58 {
  background-color: transparent;
  height: 23px;
  left: 45px;
  position: absolute;
  top: 370px;
  width: 270px;
}
.a72noresultsfound .mobile-lig-onbar-back-7yEaR6 {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-mobilelightthemeicon21navigationbarback-F516482E-0548-46C9-B38D-1267E3B6A1C4@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 277px;
  position: absolute;
  top: 16px;
  width: 10px;
}
.a72noresultsfound .mobile-lig-onbar-back-FRVcBU {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-mobilelightthemeicon21navigationbarback-F516482E-0548-46C9-B38D-1267E3B6A1C4@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 277px;
  position: absolute;
  top: 16px;
  width: 10px;
}
.a72noresultsfound .mobile-lig-onbar-home-7yEaR6 {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-mobilelightthemeicon21navigationbarhome-078CE38C-F024-4D8C-84F2-C3814B2319FD@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 172px;
  position: absolute;
  top: 16px;
  width: 16px;
}
.a72noresultsfound .mobile-lig-onbar-home-FRVcBU {
  background-color: transparent;
  background-image: url(../img/7-1-no-item-mobilelightthemeicon21navigationbarhome-078CE38C-F024-4D8C-84F2-C3814B2319FD@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 172px;
  position: absolute;
  top: 16px;
  width: 16px;
}
.a72noresultsfound .no-item-mKd4xG {
  background-color: transparent;
  color: var(--shark);
  font-size: 19px;
  height: 23px;
  left: 0px;
  line-height: 23px;
  opacity: 0.68;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 270px;
}
.a72noresultsfound .no-item-msLzB4 {
  background-color: transparent;
  color: var(--shark);
  font-size: 19px;
  height: 23px;
  left: 0px;
  line-height: 23px;
  opacity: 0.68;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 270px;
}
.a72noresultsfound .note-DhxD8I {
  background-color: transparent;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 84px;
  width: 465px;
}
.a72noresultsfound .page-name-fNCGxO {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 48px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .page-name-yh1o9j {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: auto;
  left: 48px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .rectangle-03nMyK {
  background-color: var(--harlequin);
  height: 318px;
  left: 43px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a72noresultsfound .rectangle-6BTSYf {
  background-color: var(--razzle-dazzle-rose);
  height: 56px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a72noresultsfound .rectangle-87gPOi {
  background-color: var(--harlequin);
  height: 1px;
  left: 29px;
  position: absolute;
  top: 170px;
  width: 9px;
}
.a72noresultsfound .rectangle-96Sn6L {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 2px;
  position: absolute;
  top: 55px;
  width: 9px;
}
.a72noresultsfound .rectangle-9HRwcQ {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 2px;
  position: absolute;
  top: 55px;
  width: 9px;
}
.a72noresultsfound .rectangle-Bqefn6 {
  background-color: var(--harlequin);
  height: 1px;
  left: 29px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a72noresultsfound .rectangle-IwywP9 {
  background-color: var(--harlequin);
  height: 1px;
  left: 39px;
  position: absolute;
  top: 187px;
  width: 9px;
}
.a72noresultsfound .rectangle-PpvFEH {
  background-color: var(--harlequin);
  height: 170px;
  left: 33px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a72noresultsfound .rectangle-WgyTJz {
  background-color: var(--harlequin);
  height: 289px;
  left: 33px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a72noresultsfound .rectangle-ctrJU7 {
  background-color: var(--harlequin);
  height: 1px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a72noresultsfound .rectangle-gAnBEv {
  background-color: var(--harlequin);
  height: 1px;
  left: 39px;
  position: absolute;
  top: 318px;
  width: 9px;
}
.a72noresultsfound .rectangle-haki0Q {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a72noresultsfound .rectangle-l18vLX {
  background-color: var(--razzle-dazzle-rose);
  height: 56px;
  left: 6px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a72noresultsfound .rectangle-n119zN {
  background-color: var(--razzle-dazzle-rose);
  height: 1px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a72noresultsfound .rectangle-nKGWsx {
  background-color: var(--harlequin);
  height: 1px;
  left: 29px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a72noresultsfound .rectangle-rGw8I0 {
  background-color: var(--harlequin);
  height: 1px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.a72noresultsfound .rectangle-xBqmAx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a72noresultsfound .rectangle-xeCE7L {
  background-color: var(--harlequin);
  height: 187px;
  left: 43px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.a72noresultsfound .rectangle-zVei4F {
  background-color: var(--harlequin);
  height: 1px;
  left: 29px;
  position: absolute;
  top: 289px;
  width: 9px;
}
.a72noresultsfound .refer-to-UHDxau {
  background-color: transparent;
  color: var(--masala);
  font-size: 18px;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .samsung-QsWHO5 {
  background-color: transparent;
  color: var(--shark);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .samsung-eSjsJG {
  background-color: transparent;
  color: var(--shark);
  font-size: 20px;
  height: auto;
  left: 0px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .sip-C61RwL {
  background-color: transparent;
  height: 1530px;
  left: 380px;
  position: absolute;
  top: 1801px;
  width: 1240px;
}
.a72noresultsfound .size-ulXoMU {
  background-color: transparent;
  height: 56px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 460px;
}
.a72noresultsfound .size-xfKAsp {
  background-color: transparent;
  height: 56px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 460px;
}
.a72noresultsfound .spacing-R6TVKz {
  background-color: transparent;
  height: 319px;
  left: 0px;
  position: absolute;
  top: 369px;
  width: 411px;
}
.a72noresultsfound .spacing-gEftHB {
  background-color: transparent;
  height: 188px;
  left: 0px;
  position: absolute;
  top: 250px;
  width: 410px;
}
.a72noresultsfound .spacing-ulXoMU {
  background-color: transparent;
  height: 290px;
  left: 10px;
  position: absolute;
  top: 56px;
  width: 401px;
}
.a72noresultsfound .spacing-xfKAsp {
  background-color: transparent;
  height: 171px;
  left: 10px;
  position: absolute;
  top: 56px;
  width: 400px;
}
.a72noresultsfound .symbol-5S1iyH {
  background-color: transparent;
  height: 760px;
  left: 440px;
  position: absolute;
  top: 40px;
  width: 360px;
}
.a72noresultsfound .symbol-GCl1Xj {
  background-color: transparent;
  height: 760px;
  left: 177px;
  position: absolute;
  top: 40px;
  width: 360px;
}
.a72noresultsfound .tag-refer-1E55qy {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 60px;
  width: 165px;
}
.a72noresultsfound .tag-refer-lqAIBZ {
  background-color: transparent;
  height: 29px;
  left: 885px;
  position: absolute;
  top: 279px;
  width: 139px;
}
.a72noresultsfound .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  height: auto;
  left: 31px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .text-aySv2J {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a72noresultsfound .text-m1EYO1 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 72px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a72noresultsfound .text-rJhxgo {
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  height: auto;
  left: 0px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .text-ulXoMU {
  background-color: transparent;
  height: 23px;
  left: 95px;
  position: absolute;
  top: 346px;
  width: 270px;
}
.a72noresultsfound .text-xfKAsp {
  background-color: transparent;
  height: 23px;
  left: 95px;
  position: absolute;
  top: 227px;
  width: 270px;
}
.a72noresultsfound .title-AO0cym {
  background-color: transparent;
  color: var(--black);
  font-size: 44px;
  height: auto;
  left: 0px;
  line-height: 53px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1240px;
}
.a72noresultsfound .type-IHO8oY {
  background-color: transparent;
  height: 167px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a72noresultsfound .value-87gPOi {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 78px;
  width: 26px;
}
.a72noresultsfound .value-IwywP9 {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 87px;
  width: 36px;
}
.a72noresultsfound .value-gAnBEv {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 36px;
}
.a72noresultsfound .value-haki0Q {
  background-color: transparent;
  height: 36px;
  left: 14px;
  position: absolute;
  top: 10px;
  width: 71px;
}
.a72noresultsfound .value-n119zN {
  background-color: transparent;
  height: 36px;
  left: 14px;
  position: absolute;
  top: 10px;
  width: 71px;
}
.a72noresultsfound .value-zVei4F {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 139px;
  width: 26px;
}
.a72noresultsfound .web-app-c7iMkb {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x0-8SABLO {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -2px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .x0-O5ZkOM {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -2px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .x0-TodvBu {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}
.a72noresultsfound .x0-dEOOgt {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -2px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .x0-overview-lDSLTx {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x0-vmYAgJ {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 0px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}
.a72noresultsfound .x0-ztZghm {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: -2px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .x1-B3tBZ2 {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: 22px;
  left: 0px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a72noresultsfound .x1-ExKCsM {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: 22px;
  left: 0px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a72noresultsfound .x1-app-bar-5WRdzU {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x10-search-NaHqfN {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x11-toast-CIT8m6 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x12-text-fields-PF0B94 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x13-view-controls-M0itVh {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x14-description-xBqmAx {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x15-notification-bad-Qx04uY {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x16-thumbnail-W01arA {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x17-copy-paste-Q0L89O {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x2-buttons-25S1dl {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x3-controllers-Z6qEzS {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x4-dialogs-IlTCxm {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x5-dividers-SG5Ko4 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x6-lists-XN4VxR {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x7-02-keysc-ultsfound1-1E55qy {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a72noresultsfound .x7-02-keysc-ultsfound1-9HUTUj {
  background-color: var(--concrete);
  height: 760px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 360px;
}
.a72noresultsfound .x7-02-keysc-ultsfound1-lqAIBZ {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a72noresultsfound .x7-02-keysc-ultsfound2-51xvwO {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a72noresultsfound .x7-02-keysc-ultsfound2-8PuvSK {
  background-color: var(--concrete);
  height: 760px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 360px;
}
.a72noresultsfound .x7-02-keysc-ultsfound2-zqr173 {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a72noresultsfound .x7-2-no-ite--text-only-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a72noresultsfound .x7-no-item-0YeL7j {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x8-progress-WxsNNS {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a72noresultsfound .x9-scrolling-4NhIdT {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: auto;
  left: 30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.font-class-1 {
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
}
.font-class-4 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-5 {
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
}
:root {
  --azure-radiance: rgba(0,153,255,1.0);
  --black: rgba(0,0,0,1.0);
  --concrete: rgba(242,242,242,1.0);
  --ebb: rgba(227,227,227,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --shark: rgba(37,37,37,1.0);
  --supernova: rgba(255,204,0,1.0);
  --white: rgba(255,255,255,1.0);
}