/* screen - a92boundaryfeedback */

.a92boundaryfeedback {
  background-color: rgba(245,246,247,1.0);
  height: 1476px;
  position: relative;
  width: 1680px;
}
.a92boundaryfeedback .app-bar-C61RwL {
  background-color: transparent;
  height: 1077px;
  left: 380px;
  position: absolute;
  top: 194px;
  width: 1240px;
}
.a92boundaryfeedback .background-7SgUjH {
  background-color: var(--concrete);
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 212px;
}
.a92boundaryfeedback .background-thOddZ {
  background-color: var(--gravel);
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 212px;
}
.a92boundaryfeedback .basic-component-gui-XPalTL {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .btn-mwblLs {
  background-color: rgba(3,129,254,1.0);
  border-radius: 22.5px;
  height: 45px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.a92boundaryfeedback .btn-mwblLs:hover {

transform: scale(0.98);
}
.a92boundaryfeedback .dark-theme-6yOKso {
  background-color: transparent;
  height: 78px;
  left: 20px;
  position: absolute;
  top: 190px;
  width: 465px;
}
.a92boundaryfeedback .document-b-x-contents-6yOKso {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 301px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a92boundaryfeedback .document-b-x-contents-BwMyGF {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a92boundaryfeedback .document-b-x-contents-U1cBz3 {
  background-color: var(--white);
  border: 1px solid var(--ebb);
  height: 389px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a92boundaryfeedback .document-button-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 863px;
  position: absolute;
  top: 1351px;
  width: 274px;
}
.a92boundaryfeedback .fn-7SgUjH {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .fn-thOddZ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .for-basic-inteaction-BmCSwq {
  background-color: transparent;
  height: 430px;
  left: 0px;
  position: absolute;
  top: 647px;
  width: 1240px;
}
.a92boundaryfeedback .for-basic-intercatio-2cxhZ5 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .gnb-bar09-scrolling-C61RwL {
  background-color: var(--white);
  height: 993px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnb-logo-xK8aqc {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu-h-ory-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu0--iew-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu1--bar-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu10-rch-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu11-ast-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu12-lds-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu13-ols-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu14-ion-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu15-dge-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu16-ail-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 908px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu17-ste-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 951px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu2--ons-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu3--ers-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu4--s-selected-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu5--ers-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu6--sts-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu7--ems-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu8--ess-normal-xK8aqc {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu9--g-selected-cs1xNt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnb-menu9--g-selected-xK8aqc {
  background-color: transparent;
  height: 128px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.a92boundaryfeedback .gnb-submenu-normal-cs1xNt {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 320px;
}
.a92boundaryfeedback .gnb-submenu-normal-kNxtlH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-4rKLi8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-79OkVv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-7yesTX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-CBoeNN {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-LkNZpH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-NbF7y1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-NcDFCH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-QXq7Cx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-R6I4ZJ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-RfuQ1p {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-V3xvQY {
  background-color: var(--bon-jour);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-bjLmGG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-cURhEz {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-gjG6Mv {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-m5jQou {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-vLcxgF {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-x5VIXW {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-xWPqUS {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbmenu-zBQtWR {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbsubmenu-9GH7gE {
  background-color: var(--bon-jour);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gnbsubmenu-V1uBH8 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .gotohome-Y1c5iA {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .group-2-S5x0GB {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 106px;
}
.a92boundaryfeedback .group-2-gx0lgE {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 322px;
}
.a92boundaryfeedback .group-2-qvSOiN {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 98px;
}
.a92boundaryfeedback .group-2-z41nYf {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 322px;
}
.a92boundaryfeedback .group-2cxhZ5 {
  background-color: transparent;
  height: 389px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 1240px;
}
.a92boundaryfeedback .group-NdGADx {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.a92boundaryfeedback .group-hTq61V {
  background-color: var(--concrete);
  height: 22px;
  left: 67px;
  position: absolute;
  top: 0px;
  width: 33px;
}
.a92boundaryfeedback .group-sHrHAU {
  background-color: var(--gravel);
  height: 22px;
  left: 67px;
  position: absolute;
  top: 0px;
  width: 25px;
}
.a92boundaryfeedback .guide-avU9r1 {
  background-color: transparent;
  height: 389px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 715px;
}
.a92boundaryfeedback .guide-form--dark1line-gYT6lM {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 322px;
}
.a92boundaryfeedback .guide-form-e-subtitle-Y3I8lH {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 87px;
}
.a92boundaryfeedback .guide-form-e-subtitle-gYT6lM {
  background-color: transparent;
  height: 19px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.a92boundaryfeedback .guide-form-light1line-Y3I8lH {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 28px;
  width: 322px;
}
.a92boundaryfeedback .guide-form-ormal-dark-gYT6lM {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 56px;
  width: 98px;
}
.a92boundaryfeedback .guide-form-rmal-light-Y3I8lH {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 56px;
  width: 106px;
}
.a92boundaryfeedback .guide-numb-ring-shape-U1cBz3 {
  background-color: transparent;
  background-image: url(../img/9-1-scroll-bar-oval-75DD4ACD-285E-4A74-92B0-919B9B1986BA@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 346px;
  position: absolute;
  top: 323px;
  width: 22px;
}
.a92boundaryfeedback .guide-numbering-icon-KjRXbH {
  background-color: transparent;
  background-image: url(../img/9-1-scroll-bar-oval-75DD4ACD-285E-4A74-92B0-919B9B1986BA@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 22px;
}
.a92boundaryfeedback .guide-property-KjRXbH {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .guide-subject-shape-6yOKso {
  background-color: transparent;
  height: 26px;
  left: 20px;
  position: absolute;
  top: 32px;
  width: 135px;
}
.a92boundaryfeedback .history-1xV3px {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .image-avU9r1 {
  background-color: transparent;
  height: 301px;
  left: 735px;
  position: absolute;
  top: 0px;
  width: 505px;
}
.a92boundaryfeedback .keyscreens-BmCSwq {
  background-color: transparent;
  height: 587px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}
.a92boundaryfeedback .light-theme-6yOKso {
  background-color: transparent;
  height: 78px;
  left: 20px;
  position: absolute;
  top: 84px;
  width: 465px;
}
.a92boundaryfeedback .property-4IMOYn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .property-WtACxR {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .property-hTq61V {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .property-sHrHAU {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .rectangle-6iNFN3 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.a92boundaryfeedback .symbol-U1cBz3 {
  background-color: transparent;
  background-image: url(../img/9-2-boundary-feedback-9-02measurew360mpl092boundaryfeedback-087C9139-1C46-4921-BBA8-665C3E2384E3@2x.png);
  background-size: 100% 100%;
  height: 304px;
  left: 177px;
  position: absolute;
  top: 43px;
  width: 360px;
}
.a92boundaryfeedback .text-WvbxKh {
  background-color: transparent;
  color: var(--white);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .text-mWa6vT {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .text-tfdIgk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  opacity: 0.35;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .text-wUsuP1 {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a92boundaryfeedback .text-x7reDN {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 218px;
}
.a92boundaryfeedback .value-4IMOYn {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 218px;
}
.a92boundaryfeedback .value-7SgUjH {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .value-8ybBsF {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .value-LMGvji {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .value-WtACxR {
  background-color: transparent;
  height: 22px;
  left: 104px;
  position: absolute;
  top: 0px;
  width: 218px;
}
.a92boundaryfeedback .value-thOddZ {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .web-app-XPalTL {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x-04Uh99 {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .x-2ssl2G {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .x-7SgUjH {
  background-color: transparent;
  height: auto;
  left: 212px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .x-WptcAl {
  background-color: transparent;
  height: auto;
  left: 206px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .x-hTq61V {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .x-rMShNX {
  background-color: transparent;
  height: auto;
  left: 206px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .x-sHrHAU {
  background-color: transparent;
  height: auto;
  left: 92px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .x-thOddZ {
  background-color: transparent;
  height: auto;
  left: 212px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .x0-overview-GbXlcV {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x1-aIMC2G {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a92boundaryfeedback .x1-app-bar-GLnZLR {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x1-z4ytHv {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 22px;
}
.a92boundaryfeedback .x10-search-cuwYYm {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x11-toast-Mi8kpr {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x12-text-fields-gg9Lxx {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x13-view-controls-UCwItl {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x14-description-6iNFN3 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x15-notification-bad-km1xjn {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x16-thumbnail-Zll4BS {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x17-copy-paste-fs6ssm {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x2-buttons-WePX4V {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x3-controllers-b9X1Uz {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x4-dialogs-YPSh2q {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x5-dividers-SN3Z2Z {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x6-lists-LTNx8u {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x7-2-no-ite--text-only-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.a92boundaryfeedback .x7-no-item-3k8xsC {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x8-progress-DxrwET {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.a92boundaryfeedback .x9-02-keysc-ryfeedback-BwMyGF {
  background-color: transparent;
  height: 508px;
  left: 370px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a92boundaryfeedback .x9-02-keysc-ryfeedback-dvZbfO {
  background-color: transparent;
  height: 508px;
  left: 630px;
  position: absolute;
  top: 40px;
  width: 240px;
}
.a92boundaryfeedback .x9-scrolling-ghUwrY {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.samsungonekorean-400-normal-alabaster-18px {
  color: rgba(250,250,250,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-400-normal-masala-18px {
  color: var(--masala);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-periwinkle-18px {
  color: rgba(193,206,254,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-400-normal-royal-blue-18px {
  color: var(--royal-blue);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 18px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-600-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-700-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-700-normal-white-15px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 15px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --bon-jour: rgba(224,224,224,1.0);
  --concrete: rgba(242,242,242,1.0);
  --ebb: rgba(227,227,227,1.0);
  --gravel: rgba(71,71,71,1.0);
  --harlequin: rgba(51,204,0,1.0);
  --masala: rgba(59,59,59,1.0);
  --razzle-dazzle-rose: rgba(255,51,255,1.0);
  --royal-blue: rgba(75,99,250,1.0);
  --white: rgba(255,255,255,1.0);
}