/* screen - history */

.border-class-1 {
  border: 1px solid var(--suva-gray);
}
.history {
  background-color: rgba(245,246,247,1.0);
  height: 2957px;
  position: relative;
  width: 1680px;
}
.history .basic-component-gui-mtPIq7 {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.history .changes-CRamO6 {
  background-color: transparent;
  height: 26px;
  left: 525px;
  position: absolute;
  top: 20px;
  width: 130px;
}
.history .changes-lEVJ7x {
  background-color: transparent;
  height: 1456px;
  left: 420px;
  position: absolute;
  top: 20px;
  width: 710px;
}
.history .changes-n5uwbj {
  background-color: transparent;
  height: 1014px;
  left: 420px;
  position: absolute;
  top: 20px;
  width: 319px;
}
.history .document-created-OxchCY {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.history .gnb-bar-basic-C61RwL {
  background-color: var(--white);
  height: 907px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.history .gnb-logo-4znwSH {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.history .gnb-menu-h-ory-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.history .gnb-menu0--iew-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.history .gnb-menu1--bar-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.history .gnb-menu10-rch-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.history .gnb-menu11-ast-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.history .gnb-menu12-lds-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.history .gnb-menu13-ols-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.history .gnb-menu14-ion-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.history .gnb-menu15-dge-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.history .gnb-menu16-ail-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.history .gnb-menu17-ste-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.history .gnb-menu2--ons-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.history .gnb-menu3--ers-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.history .gnb-menu4--ogs-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.history .gnb-menu5--ers-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.history .gnb-menu6--sts-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.history .gnb-menu7--ems-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.history .gnb-menu8--ess-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.history .gnb-menu9--ing-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.history .gnbmenu-0ABznp {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-1wzVNB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-8xint1 {
  background-color: rgba(224,224,224,1.0);
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-9HYVWU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-Co7Eqr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-ERtZ70 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-IfpmAd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-Ll0q8w {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-LmP9SM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-OFvlpA {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-QLmibx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-SghWJk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-XXdB28 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-dNxUBh {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-p0k7AB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-xEvnkG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-xFKJsN {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-ymObVg {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gnbmenu-zVZ8Cd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .gotohome-IU6ob0 {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.history .group-AaC8DN {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.history .header-1JTV4m {
  background-color: transparent;
  height: 54px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1242px;
}
.history .history-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 70px;
  height: auto;
  left: 412px;
  letter-spacing: 0.00px;
  line-height: 84px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: auto;
}
.history .history-O0hJxd {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .modified-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 63px;
}
.history .modified-tWpLCk {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 63px;
}
.history .rectangle-0ln0Er {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.history .rectangle-8nGy7c {
  background-color: var(--sonic-silver);
  height: 54px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 192px;
}
.history .rectangle-CRamO6 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 66px;
  width: 1240px;
}
.history .rectangle-LA3JS0 {
  background-color: var(--sonic-silver);
  height: 54px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 632px;
}
.history .rectangle-h25xtf {
  background-color: var(--sonic-silver);
  height: 54px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.history .rectangle-iBCBGD {
  background-color: var(--sonic-silver);
  height: 54px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 212px;
}
.history .rectangle-lEVJ7x {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 1496px;
  width: 1240px;
}
.history .rectangle-n5uwbj {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 1053px;
  width: 1240px;
}
.history .rectangle-oGRkcX {
  background-color: var(--sonic-silver);
  height: 54px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.history .table-C61RwL {
  background-color: transparent;
  height: 2670px;
  left: 411px;
  position: absolute;
  top: 206px;
  width: 1242px;
}
.history .table-title1line-4CxXxA {
  background-color: var(--gunsmoke);
  height: 54px;
  left: 295px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.history .table-title1line-FJXOCe {
  background-color: var(--gunsmoke);
  height: 54px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 192px;
}
.history .table-title1line-PfltrJ {
  background-color: var(--gunsmoke);
  height: 54px;
  left: 1030px;
  position: absolute;
  top: 0px;
  width: 212px;
}
.history .table-title1line-YxGw61 {
  background-color: var(--gunsmoke);
  height: 54px;
  left: 190px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.history .table-title1line-n3xr8E {
  background-color: var(--gunsmoke);
  height: 54px;
  left: 400px;
  position: absolute;
  top: 0px;
  width: 632px;
}
.history .title-8nGy7c {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 150px;
}
.history .title-LA3JS0 {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 590px;
}
.history .title-h25xtf {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 65px;
}
.history .title-iBCBGD {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 170px;
}
.history .title-oGRkcX {
  background-color: transparent;
  height: 26px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 65px;
}
.history .uc724ubbfc-uc9c0uc218-CRamO6 {
  background-color: transparent;
  height: 26px;
  left: 1050px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 170px;
}
.history .uc724ubbfc-uc9c0uc218-lEVJ7x {
  background-color: transparent;
  height: 26px;
  left: 1050px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 170px;
}
.history .uc724ubbfc-uc9c0uc218-n5uwbj {
  background-color: transparent;
  height: 26px;
  left: 1050px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 170px;
}
.history .v100-1JTV4m {
  background-color: transparent;
  height: 67px;
  left: 1px;
  position: absolute;
  top: 2604px;
  width: 1240px;
}
.history .v110-1JTV4m {
  background-color: transparent;
  height: 1497px;
  left: 1px;
  position: absolute;
  top: 1107px;
  width: 1240px;
}
.history .v120-1JTV4m {
  background-color: var(--white);
  height: 1054px;
  left: 1px;
  position: absolute;
  top: 53px;
  width: 1240px;
}
.history .web-app-mtPIq7 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.history .x-responsive-layout-d-sOobH5 {
  background-color: transparent;
  color: rgba(62,145,255,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 12px;
  height: auto;
  left: 268px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 780px;
  white-space: nowrap;
  width: auto;
}
.history .x0-2-color-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.history .x0-2-color-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.history .x0-4-touch-feedback-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: auto;
}
.history .x0-5-responsive-ui-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 52px;
  white-space: nowrap;
  width: auto;
}
.history .x0-overview-UfZJBV {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x1-2-expand-le-app-bar-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 26px;
  white-space: nowrap;
  width: auto;
}
.history .x1-2-expandable-app-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.history .x1-5-more-option-li-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 104px;
  white-space: nowrap;
  width: auto;
}
.history .x1-5-more-option-list-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 52px;
  white-space: nowrap;
  width: auto;
}
.history .x1-7-edit-app-bar-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 130px;
  white-space: nowrap;
  width: auto;
}
.history .x1-8-bottom-bar-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 156px;
  white-space: nowrap;
  width: auto;
}
.history .x1-app-bar-hnuvDe {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x10-1-searc--bar-width-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 728px;
  white-space: nowrap;
  width: auto;
}
.history .x10-1-search-bar-wi-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 962px;
  white-space: nowrap;
  width: auto;
}
.history .x10-2-search-bar-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 988px;
  white-space: nowrap;
  width: auto;
}
.history .x10-2-search-bar-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 754px;
  white-space: nowrap;
  width: auto;
}
.history .x10-3-search-bar-lo-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1014px;
  white-space: nowrap;
  width: auto;
}
.history .x10-search-XqwL68 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x100-CRamO6 {
  background-color: transparent;
  height: 26px;
  left: 210px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 85px;
}
.history .x11-toast-ONjbdN {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x110-lEVJ7x {
  background-color: transparent;
  height: 26px;
  left: 210px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 85px;
}
.history .x12-1-text-fields-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1040px;
  white-space: nowrap;
  width: auto;
}
.history .x12-2-text-fields-w-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1066px;
  white-space: nowrap;
  width: auto;
}
.history .x12-3-text-fields-i-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1092px;
  white-space: nowrap;
  width: auto;
}
.history .x12-text-fields-KXJ3P1 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x120-n5uwbj {
  background-color: transparent;
  height: 26px;
  left: 210px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 85px;
}
.history .x13-1-main-tab-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1118px;
  white-space: nowrap;
  width: auto;
}
.history .x13-2-sub-tab-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1144px;
  white-space: nowrap;
  width: auto;
}
.history .x13-3-spinner-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1170px;
  white-space: nowrap;
  width: auto;
}
.history .x13-3-spinner-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 780px;
  white-space: nowrap;
  width: auto;
}
.history .x13-4-dropdown-list-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1196px;
  white-space: nowrap;
  width: auto;
}
.history .x13-4-dropdown-list-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 806px;
  white-space: nowrap;
  width: auto;
}
.history .x13-view-controls-1mJBxa {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x14-1-descr-tion-width-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 832px;
  white-space: nowrap;
  width: auto;
}
.history .x14-2-descr-ption-text-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 858px;
  white-space: nowrap;
  width: auto;
}
.history .x14-2-descriptiont-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}
.history .x14-description-0ln0Er {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x15-1-numbe-ge-app-bar-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 884px;
  white-space: nowrap;
  width: auto;
}
.history .x15-1-number-badge-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1248px;
  white-space: nowrap;
  width: auto;
}
.history .x15-2-numbe-badge-list-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 910px;
  white-space: nowrap;
  width: auto;
}
.history .x15-2-number-badge-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1274px;
  white-space: nowrap;
  width: auto;
}
.history .x15-3-number-badge-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1300px;
  white-space: nowrap;
  width: auto;
}
.history .x15-4-dot-badge-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1326px;
  white-space: nowrap;
  width: auto;
}
.history .x15-notification-bad-WWnyLa {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x16-thumbnail-8vNR8I {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x17-1-text-selectio-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1352px;
  white-space: nowrap;
  width: auto;
}
.history .x17-1-text-selection-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 936px;
  white-space: nowrap;
  width: auto;
}
.history .x17-2-copy--ste-pop-up-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 962px;
  white-space: nowrap;
  width: auto;
}
.history .x17-2-copy-paste-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1378px;
  white-space: nowrap;
  width: auto;
}
.history .x17-3-more-pop-up-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1404px;
  white-space: nowrap;
  width: auto;
}
.history .x17-4-cursor-handler-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 1430px;
  white-space: nowrap;
  width: auto;
}
.history .x17-4-cursor-handler-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 988px;
  white-space: nowrap;
  width: auto;
}
.history .x17-copy-paste-5cwn2w {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x2-1-flat-button-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 182px;
  white-space: nowrap;
  width: auto;
}
.history .x2-2-contained-butt-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 208px;
  white-space: nowrap;
  width: auto;
}
.history .x2-3-floati-ion-button-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 78px;
  white-space: nowrap;
  width: auto;
}
.history .x2-3-floating-actio-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 234px;
  white-space: nowrap;
  width: auto;
}
.history .x2-buttons-hY4mag {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x2020-11-06-CRamO6 {
  background-color: transparent;
  height: 26px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 170px;
}
.history .x2020-11-20-lEVJ7x {
  background-color: transparent;
  height: 26px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 170px;
}
.history .x2020-12-04-n5uwbj {
  background-color: transparent;
  height: 26px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: 170px;
}
.history .x3-1-checkbox-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 260px;
  white-space: nowrap;
  width: auto;
}
.history .x3-1-checkbox-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 104px;
  white-space: nowrap;
  width: auto;
}
.history .x3-2-radio-button-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 286px;
  white-space: nowrap;
  width: auto;
}
.history .x3-2-radio-button-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 130px;
  white-space: nowrap;
  width: auto;
}
.history .x3-3-main-o-off-switch-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 156px;
  white-space: nowrap;
  width: auto;
}
.history .x3-3-main-onoff-sw-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 312px;
  white-space: nowrap;
  width: auto;
}
.history .x3-4-onoff-switch-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 338px;
  white-space: nowrap;
  width: auto;
}
.history .x3-4-onoff-switch-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 182px;
  white-space: nowrap;
  width: auto;
}
.history .x3-5-reorder-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 364px;
  white-space: nowrap;
  width: auto;
}
.history .x3-6-expand-button-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 390px;
  white-space: nowrap;
  width: auto;
}
.history .x3-7-add-de-ete-button-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 208px;
  white-space: nowrap;
  width: auto;
}
.history .x3-7-add-delete-but-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 416px;
  white-space: nowrap;
  width: auto;
}
.history .x3-controllers-qCMw17 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x4-10-multi-ice-dialog-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 312px;
  white-space: nowrap;
  width: auto;
}
.history .x4-17-date-picker-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 442px;
  white-space: nowrap;
  width: auto;
}
.history .x4-18-date-time-p-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 468px;
  white-space: nowrap;
  width: auto;
}
.history .x4-2-dialog-height-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 234px;
  white-space: nowrap;
  width: auto;
}
.history .x4-21-image-dialog-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 494px;
  white-space: nowrap;
  width: auto;
}
.history .x4-21-image-dialog-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 338px;
  white-space: nowrap;
  width: auto;
}
.history .x4-6-dialog-ody-text-2-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 260px;
  white-space: nowrap;
  width: auto;
}
.history .x4-9-single-ice-dialog-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 286px;
  white-space: nowrap;
  width: auto;
}
.history .x4-dialogs-LlIKOB {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x5-1-divide-basic-list-9U0HY6 {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 364px;
  white-space: nowrap;
  width: auto;
}
.history .x5-1-divide-basic-list-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 546px;
  white-space: nowrap;
  width: auto;
}
.history .x5-1-divider-basic-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 520px;
  white-space: nowrap;
  width: auto;
}
.history .x5-2-divide-image-list-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 390px;
  white-space: nowrap;
  width: auto;
}
.history .x5-2-divider-image-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 546px;
  white-space: nowrap;
  width: auto;
}
.history .x5-3-divider-switch-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 572px;
  white-space: nowrap;
  width: auto;
}
.history .x5-3-divider-switch-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 416px;
  white-space: nowrap;
  width: auto;
}
.history .x5-dividers-sXlJCj {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x6-1-list-width-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 442px;
  white-space: nowrap;
  width: auto;
}
.history .x6-2-list-contents-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 598px;
  white-space: nowrap;
  width: auto;
}
.history .x6-2-listco-tents-area-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 468px;
  white-space: nowrap;
  width: auto;
}
.history .x6-3-end-of-list-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 624px;
  white-space: nowrap;
  width: auto;
}
.history .x6-3-end-of-list-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 494px;
  white-space: nowrap;
  width: auto;
}
.history .x6-4-basic-list-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 650px;
  white-space: nowrap;
  width: auto;
}
.history .x6-4-basic-list-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 520px;
  white-space: nowrap;
  width: auto;
}
.history .x6-5-image-list-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 676px;
  white-space: nowrap;
  width: auto;
}
.history .x6-6-subheader-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 702px;
  white-space: nowrap;
  width: auto;
}
.history .x6-6-subheader-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 572px;
  white-space: nowrap;
  width: auto;
}
.history .x6-7-expandable-lis-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 728px;
  white-space: nowrap;
  width: auto;
}
.history .x6-8-multip-ction-list-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 598px;
  white-space: nowrap;
  width: auto;
}
.history .x6-8-multiple-selec-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 754px;
  white-space: nowrap;
  width: auto;
}
.history .x6-lists-vvsZOF {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x7-2-no-results-fou-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 780px;
  white-space: nowrap;
  width: auto;
}
.history .x7-no-item-IKh39O {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x8-2-progress-circl-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 806px;
  white-space: nowrap;
  width: auto;
}
.history .x8-2-progress-circle-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 624px;
  white-space: nowrap;
  width: auto;
}
.history .x8-5-progress-botto-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 832px;
  white-space: nowrap;
  width: auto;
}
.history .x8-6-progress-list-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 858px;
  white-space: nowrap;
  width: auto;
}
.history .x8-6-progress-list-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 650px;
  white-space: nowrap;
  width: auto;
}
.history .x8-7-progress-butto-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 884px;
  white-space: nowrap;
  width: auto;
}
.history .x8-8-pull-d-wn-refresh-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 676px;
  white-space: nowrap;
  width: auto;
}
.history .x8-8-pull-down-refr-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 910px;
  white-space: nowrap;
  width: auto;
}
.history .x8-progress-16BEal {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.history .x9-1-scroll-bar-sOobH5 {
  background-color: transparent;
  height: 26px;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 936px;
  white-space: nowrap;
  width: auto;
}
.history .x9-1-scroll-bar-tWpLCk {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 702px;
  white-space: nowrap;
  width: auto;
}
.history .x9-scrolling-SwWJYS {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.samsungonekorean-400-normal-black-16px {
  color: var(--black);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 16px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
.samsungonekorean-700-normal-white-16px {
  color: var(--white);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 16px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --gunsmoke: rgba(132,131,131,1.0);
  --sonic-silver: rgba(116,116,116,1.0);
  --suva-gray: rgba(135,135,135,1.0);
  --white: rgba(255,255,255,1.0);
}