/* screen - index */

.index {
  background-color: rgba(245,246,247,1.0);
  height: 900px;
  position: relative;
  width: 1680px;
}
.index .basic-component-gui-mtPIq7 {
  background-color: transparent;
  color: rgba(37,37,37,1.0);
  font-family: "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: justify;
  top: 21px;
  white-space: nowrap;
  width: 260px;
}
.index .download-assets-z-xxH6zO {
  background-color: transparent;
  color: rgba(3,129,254,1.0);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.index .footercontainer-nODarp {
  background-color: transparent;
  height: 135px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1360px;
}
.index .gnb-bar-basic-C61RwL {
  background-color: rgba(255,255,255,1.0);
  height: 907px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.index .gnb-logo-4znwSH {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.index .gnb-menu-h-ory-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 91px;
  width: 320px;
}
.index .gnb-menu0--iew-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 134px;
  width: 320px;
}
.index .gnb-menu1--bar-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 320px;
}
.index .gnb-menu10-rch-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 320px;
}
.index .gnb-menu11-ast-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 607px;
  width: 320px;
}
.index .gnb-menu12-lds-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 650px;
  width: 320px;
}
.index .gnb-menu13-ols-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 693px;
  width: 320px;
}
.index .gnb-menu14-ion-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 736px;
  width: 320px;
}
.index .gnb-menu15-dge-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 779px;
  width: 320px;
}
.index .gnb-menu16-ail-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 822px;
  width: 320px;
}
.index .gnb-menu17-ste-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 865px;
  width: 320px;
}
.index .gnb-menu2--ons-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 220px;
  width: 320px;
}
.index .gnb-menu3--ers-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 320px;
}
.index .gnb-menu4--ogs-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 320px;
}
.index .gnb-menu5--ers-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 349px;
  width: 320px;
}
.index .gnb-menu6--sts-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 320px;
}
.index .gnb-menu7--ems-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 320px;
}
.index .gnb-menu8--ess-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 320px;
}
.index .gnb-menu9--ing-normal-4znwSH {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 521px;
  width: 320px;
}
.index .gnbmenu-0ABznp {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-1wzVNB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-8xint1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-9HYVWU {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-Co7Eqr {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-ERtZ70 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-IfpmAd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-Ll0q8w {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-LmP9SM {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-OFvlpA {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-QLmibx {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-SghWJk {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-XXdB28 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-dNxUBh {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-p0k7AB {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-xEvnkG {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-xFKJsN {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-ymObVg {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gnbmenu-zVZ8Cd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .gotohome-IU6ob0 {
  background-color: transparent;
  height: 89px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}
.index .group-2-NOXmfT {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 188px;
}
.index .group-3-NOXmfT {
  background-color: transparent;
  height: 21px;
  left: 194px;
  position: absolute;
  top: 1px;
  width: 21px;
}
.index .group-AaC8DN {
  background-color: transparent;
  height: 45px;
  left: 30px;
  position: relative;
  top: 22px;
  width: 260px;
}
.index .group-C61RwL {
  background-color: transparent;
  height: 22px;
  left: 415px;
  position: absolute;
  top: 656px;
  width: 215px;
}
.index .history-O0hJxd {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .indexfooter-C61RwL {
  background-color: transparent;
  height: 135px;
  left: 320px;
  position: absolute;
  top: 765px;
  width: 1360px;
}
.index .no-part-of-the-conte-EILkID {
  background-color: transparent;
  color: rgba(145,146,148,1.0);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 62px;
  width: 1239px;
}
.index .rectangle-0ln0Er {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.index .rectangle-EILkID {
  background-color: var(--black);
  height: 1px;
  left: 90px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 1239px;
}
.index .samsung-confidential-C61RwL {
  background-color: transparent;
  color: rgba(255,90,90,1.0);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 18px;
  height: auto;
  left: 1432px;
  letter-spacing: 0.20px;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 36px;
  white-space: nowrap;
  width: auto;
}
.index .span1-LqzP70 {

}
.index .span2-LqzP70 {
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
}
.index .u24d2-2020-21-samsung-EILkID {
  background-color: transparent;
  color: rgba(97,97,99,1.0);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 16px;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 1239px;
}
.index .v120-C61RwL {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 80px;
  height: auto;
  left: 410px;
  letter-spacing: 0.00px;
  line-height: 96px;
  position: absolute;
  text-align: left;
  top: 480px;
  white-space: nowrap;
  width: auto;
}
.index .web-app-basic-compon-C61RwL {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size: 95px;
  height: auto;
  left: 410px;
  letter-spacing: 0.00px;
  line-height: 112px;
  position: absolute;
  text-align: left;
  top: 206px;
  width: auto;
}
.index .web-app-mtPIq7 {
  background-color: transparent;
  color: var(--black);
  font-family: "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size: 15px;
  height: auto;
  left: 0px;
  letter-spacing: 0.30px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 260px;
}
.index .x-one-ui-3x-C61RwL {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 40px;
  height: auto;
  left: 410px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 143px;
  white-space: nowrap;
  width: auto;
}
.index .x0-overview-UfZJBV {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x1-app-bar-hnuvDe {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x10-search-XqwL68 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x11-toast-ONjbdN {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x12-text-fields-KXJ3P1 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x13-view-controls-1mJBxa {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x14-description-0ln0Er {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x15-notification-bad-WWnyLa {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x16-thumbnail-8vNR8I {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x17-copy-paste-5cwn2w {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x2-buttons-hY4mag {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x20-12-04-updated-C61RwL {
  background-color: transparent;
  color: rgba(97,97,99,1.0);
  font-family: "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size: 24px;
  height: auto;
  left: 644px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 530px;
  white-space: nowrap;
  width: auto;
}
.index .x3-controllers-qCMw17 {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x4-dialogs-LlIKOB {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x5-dividers-sXlJCj {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x6-lists-vvsZOF {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x7-no-item-IKh39O {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x8-progress-16BEal {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.index .x9-scrolling-SwWJYS {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 260px;
}
.samsungonekorean-500-normal-black-15px {
  color: var(--black);
  font-family: "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size: 15px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --mine-shaft: rgba(48,48,49,1.0);
}